.breadcrumb__block {
    margin: 0 ($global-spacing * 3);
    background-color: tint($base-color, 92%);       
}

.breadcrumb {
  font-size: $font-size-xs;
  padding: ($global-spacing/2);
  display: inline-block;
}

.breadcrumb__next {
  vertical-align: middle;
}

span.breadcrumb {
  font-weight: $base-font-bold;
}