/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
  @extend .antialiased;
  user-select: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
  background: none;
  text-shadow: none;
  border: 0;
  border-radius: $full-border-radius;
  font-weight: $base-font-bold;
  cursor: pointer;

  /* States */

  &:hover {
    opacity: initial;
  }

  .drop--open > &,
  &.button--active,
  &:active {
    z-index: 2;
    transform: none;
  }

  &, &:focus {
    outline: none; // This causes usability problems. Needs fixing.
  }

  /* Icon handling */

  &::before,
  &::after,
  [class^="collecticon-"],
  [class*=" collecticon-"] {
    font-size: 1rem;
  }

  &::before { margin-right: 0.375rem; }
  &::after { margin-left: 0.375rem; }

  &::before,
  &::after,
  > * {
    vertical-align: top;
    display: inline-block;
    line-height: inherit !important;
  }

  /* Checkbox/radio handling */

  > input[type=checkbox],
  > input[type=radio] {
    @extend .visually-hidden;
  }

  /* Animation */

  transition: background-color 0.24s ease 0s;
}


/* Button color modifiers
   ========================================================================== */

/* Base Raised Light */

.button--base-raised-light {
  @include button-variation($base-color, "raised", "light");
}

/* Base Raised Dark */

.button--base-raised-dark {
  @include button-variation($base-color, "raised", "dark");
}

/* Base Plain */

.button--base-plain {
  @include button-variation($base-color, "plain", "light");
}

/* Primary Raised Light */

.button--primary-raised-light {
  @include button-variation($primary-color, "raised", "light");
}

/* Primary Raised Dark */

.button--primary-raised-dark {
  @include button-variation($primary-color, "raised", "dark");
}

/* Primary Plain */

.button--primary-plain {
  @include button-variation($primary-color, "plain", "light");
}

/* Danger Raised Light */

.button--danger-raised-light {
  @include button-variation($danger-color, "raised", "light");
}

/* Danger Raised Dark */

.button--danger-raised-dark {
  @include button-variation($danger-color, "raised", "dark");
}

/* Danger Plain */

.button--danger-plain {
  @include button-variation($danger-color, "plain", "light");
}

/* Achromic Plain (white plain) */

.button--achromic-plain {
  @include button-variation(#fff, "plain", null);
}

/* Achromic Glass (white ghost-like) */

.button--achromic-glass {
  @include button-variation(#fff, "glass", null);
}


/* Button size modifiers
   ========================================================================== */

/* Small (24px) */

.button--small,
.button-group--small .button {
  line-height: 1.25rem;
  font-size: 0.875rem;
  padding: 0.125rem 0.5rem;
  min-width: 1.5rem;
}

/* Medium (32px)
   Default
*/

.button--medium,
.button-group--medium .button {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  min-width: 2rem;
}

/* Large (40px) */

.button--large,
.button-group--large .button {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  min-width: 2.5rem;
}

/* XLarge (48px) */

.button--xlarge,
.button-group--xlarge .button {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  min-width: 3rem;
}


/* Button contaning icons & icons modifiers
   ========================================================================== */

.button--text-hidden {
  &::before,
  &::after {
    margin: 0;
  }
  > *:not([class^="collecticon-"]):not([class*=" collecticon-"]) {
    @extend .visually-hidden;
  }
  :not(.button-group) & {
    padding-left: 0;
    padding-right: 0;
  }
}


/* Button misc modifiers
   ========================================================================== */

.button--block {
  display: block;
  width: 100%;
}

.button--semi-fluid {
  min-width: 16rem;
}

.button--capsule {
  border-radius: $full-border-radius;
}


/* ==========================================================================
   Button groups
   ========================================================================== */

.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .button {
    display: block;
    position: relative;
    margin: 0;
    z-index: 2;
  }
}

/* Horizontal */

.button-group--horizontal {
  > .button {
    float: left;
  }

  > .button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    clip-path: inset(-100% 0 -100% -100%);
  }

  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    clip-path: inset(-100% -100% -100% 0);
  }

  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
    clip-path: inset(-100% 0);
  }

  > .button + .button {
    margin-left: -$base-border-width;
  }
}

/* Vertical */

.button-group--vertical {
  > .button {
    clear: both;
    width: 100%;
    border-radius: $base-border-radius;
  }

  > .button:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    clip-path: inset(-100% -100% 0 -100%);
  }

  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    clip-path: inset(0 -100% -100% -100%);
  }

  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
    clip-path: inset(0 -100%);
  }

  > .button + .button {
    margin-top: -$base-border-width;
  }
}