/* ==========================================================================
   Global: Folds
   ========================================================================== */

.fold-container {
  margin-bottom: 50px !important;
  float: left;
  width: 100%;
}

.fold {
  background: #fff;
  padding: ($global-spacing * 2) 0;
  box-shadow: $base-box-shadow;
  &:last-child {
    margin-bottom: 0;
  };

  > .inner {
    @extend .row-fold, .row--centered;
  }

  &,
  .fold__header,
  .fold__body {
    @include column(12/12);
    > *:last-child {
      margin-bottom: 0;
    }
  }

  @include media(medium-up) {
    padding: ($global-spacing * 3) 0;
  }

  @include media(large-up) {
    padding: ($global-spacing * 4) 0;
  }
}

.fold__header {
  @include column(12/12);
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }

  @include media(medium-up) {
    margin-bottom: ($global-spacing * 2)
  }
}

.fold--main {
  box-shadow: none;  
}

.fold__actions {
  float: left;
  width: 100%;
  margin-bottom: $global-spacing * 2;
  @include media(medium-up) {
    float: right;
    width: auto;
    margin-bottom: 0;
  }
}

.fold__title {
  font-size: $font-size-xxl;
  text-transform: uppercase;
  letter-spacing: 1.6px;
}

.fold__description {
  color: rgba($base-color, 0.58);
}

.fold__headline {
  @include column(12/12);
}

.fold__footer {
  @include column(12/12);
  margin-top: $global-spacing * 2;
}

/* Modifiers
   ========================================================================== */

.fold--filled {
  background: tint($base-color, 92%);
}

.empty-data__container {
  background: tint($base-color, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: $global-spacing * 4;
  p {
    margin-bottom: 0;
  }
}

.links-list {
  list-style: none;
  @include column(12/12);
  li {
    @include column(12/12);
    @include media(small-up) {
      @include column(6/12);
    }
    @include media(medium-up) {
      @include column(3/12);
    }
  }
}

.fold__header__block {
  @extend .clearfix;
  border-bottom: 1px solid $base-border-color;
  padding-bottom: $global-spacing;
}

.fold__title--inline {

  @include media(medium-up) {
   margin-bottom: 0;
   line-height: 1;

   @include column(8/12);
  }
}

.fold__title__linkwrap {  
  font-size: $font-size-sm;
  color: $primary-color;

  @include media(medium-up) {
    text-align: right !important;
    @include column(4/12);
  }
}

.fold__title__link {
  color: $primary-color;
  font-weight: $base-font-semi-bold;

  > span {
    font-size: $font-size-xs;
    font-weight: $base-font-semi-bold;
  }
}
  
