/* ==========================================================================
   Global: Inpages
   ========================================================================== */

.inpage {
  &__header {
    position: relative;
    color: $base-font-color;
    padding: ($global-spacing * 2) 0;
    @include media(small-up) {
      padding: ($global-spacing * 2) 0;
    }

    > .inner {
      @extend .row, .row--centered;
    }

    @include media(medium-up) {
      padding: ($global-spacing * 4) 0;
    }

    @include media(large-up) {
      padding: ($global-spacing * 4) 0;
    }
  }

  &__headline {
    @include column(12/12);
    margin-bottom: $global-spacing;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include column(12/12);
    }
  }

  &__headline-content {
    @include column(12/12);
    .inpage__title {
      margin-bottom: $global-spacing * 2;
    }
  };

  &__headline-actions {
    float: left;
    margin-bottom: $global-spacing;
    @include media(medium-up) {
      float: right;
      margin-bottom: 0;
    }
  };

  &__title--centered {
    display: block;
    max-width: 42rem;
    margin: 0 auto;
  }

  &__title {
    @extend .heading, .heading--xlarge;
    @include column(10/12);
  }

  &__subtitle {
    position: relative;
    @extend .heading-alt;
    color: rgba($base-font-color, 0.64);
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin: ($global-spacing / 4) 0;

    &:first-child {
      margin-top: -1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1rem;
      line-height: 1.25rem;

      &:first-child {
        margin-top: -1.5rem;
      }
    }
  }

  &__note {
    font-size: 0.875rem;
    color: rgba($base-font-color, 0.44);
  }

  &__introduction {
    @include column(12/12);
    color: $base-font-color;
    font-size: 1rem;
    line-height: 1.5rem;

    > *:last-child {
      margin-bottom: 0;
    }
/*
    @include media(small-up) {
      @include column(10/12)
      font-size: 1.5rem;
      line-height: 2.25rem;
    }

    @include media(medium-up) {
      @include column(10/12);
    }*/
  }

  &__introduction--small {
    @include column(12/12);
    color: rgba($base-font-color, 0.64);
    font-size: 1.25rem;
    line-height: 2rem;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include column(7/12);
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__body {
    margin-top: $global-spacing;
    > .inner {
      @extend .row-fold, .row--centered;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}

/* Inpage Header
   ========================================================================== */

.header-stats {
  @include column(12/12);
  hr {
   opacity: 0;
   @include media(medium-up) {
     opacity: 1;
   }
  }
}

.stats-list {
  list-style: none;
  @include column(12/12);
  @include media(large-up) {
    display: flex;
    flex-flow: row wrap;
  }
  li {
    @include column(12/12);
    font-size: 2.25rem;
    line-height: 3rem;
    padding-bottom: $global-spacing;
    border-right: 0;
    padding-left: $global-spacing * 3.5;
    border-bottom: solid 1px rgba($base-color, 0.18);
    margin-bottom: $global-spacing;
    &:last-child {
      border-right: none;
      border-bottom: none;
    }
    @include media(large-up) {
      @include column(3/12);
      border-right: solid 1px rgba($base-color, 0.18);
      border-bottom: 0;
      padding-right: $global-spacing;
      margin-bottom: 0;
    }
  }
  .stat-double {
    @include media(large-up) {
      width: auto;
      & + .stat-double {
        padding-left: $global-spacing/2;
      }
    }
  }
  .stat-borderless {
    border-right: none;
    border-bottom: 0;
    padding-bottom: 0;
  }
  small {
    display: block;
    font-size: 0.875rem;
    color: rgba($base-color, 0.48);
    text-transform: uppercase;
    line-height: 1.25rem;
    @include media(medium-up) {
      font-size: 0.875rem;
    }
    @include media(large-up) {
      font-size: 1rem;
    }
  }
}


.stats-emergencies {
  background-image: url('/assets/graphics/layout/emergency.svg');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}

.stats-people {
  background-image: url('/assets/graphics/layout/people.svg');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}

.stats-funding {
  background-image: url('/assets/graphics/layout/funding.svg');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}


.stats-eru {
  background-image: url('/assets/graphics/layout/eru.svg');
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}


.stats-fact {
  background-image: url('/assets/graphics/layout/fact.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}

.stats-heops {
  background-image: url('/assets/graphics/layout/heops.svg');
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 0% 10%;
}

.map-section__container {
  margin-bottom: $global-spacing * 4;
}

.stats-map {
  .inner {
    @extend .row-fold, .row-fold--centered;
  }
  background: #23324D;
}

.header-stats--two-col {
  @include column(12/12);
  @include media(large-up){
    @include column(5/12);
  }
  .stats-list {
    li {
      @include column(12/12);
      @include media(small-up){
        @include column(6/12);
      }
    }
  }
}

.inpage__headline-charts--two-col {
  @include column(12/12);
  @include media(large-up){
    @include column(7/12);
  }
  .stats-chart {
    @include column(12/12);
    &:first-child {
      margin-bottom: $global-spacing * 2;
    };
    @include media(small-up){
      @include column(6/12);
      &:first-child {
        margin-bottom: 0;
      };
    }
  }
}


/* Dark theme modifier
   ========================================================================== */

.page--dark {
  .inpage__header {
    @extend .antialiased;
    background-color: $base-color;
    color: #fff;
  }

  .inpage__subtitle {
    color: rgba(#fff, 0.48);
  }

  .inpage__introduction {
    color: rgba(#fff, 0.64);
  }

  .inpage__headline {
    &::after {
      background: #fff;
    }
  }
}
