/* ==========================================================================
   Global: Inpages
   ========================================================================== */

.inpage {
  &__header {
    position: relative;
    color: $base-font-color;
    padding: $global-spacing 0;

    > .inner {
      @extend .row, .row--centered;
     
      > *:last-child {
        margin-bottom: 0;
      }
    }

    @include media(medium-up) {
      padding: ($global-spacing * 2) 0;
    }

    @include media(large-up) {
      padding: ($global-spacing * 3) 0;
    }
  }

  &__headline {
    @include column(12/12);
    margin-bottom: $global-spacing;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include column(8/12);
    }
  }

  &__title {
    @extend .heading, .heading--xlarge;
  }

  &__subtitle {
    position: relative;
    @extend .heading-alt;
    color: rgba($base-font-color, 0.64);
    font-size: 0.875rem;
    line-height: 1rem;
    margin: ($global-spacing / 4) 0;

    &:first-child {
      margin-top: -1.25rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      font-size: 1rem;
      line-height: 1.25rem;

      &:first-child {
        margin-top: -1.5rem;
      }
    }
  }

  &__introduction {
    @include column(12/12);
    color: rgba($base-font-color, 0.64);
    font-size: 1.25rem;
    line-height: 2rem;

    > *:last-child {
      margin-bottom: 0;
    }

    @include media(medium-up) {
      @include column(10/12);
      @include move(1/12);
      font-size: 1.5rem;
      line-height: 2.25rem;
    }
  }

  &__body {
    > .inner {
      @extend .row, .row--centered;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }
}


/* Dark theme modifier
   ========================================================================== */

.page--dark {
  .inpage__header {
    @extend .antialiased;
    background-color: $base-color;
    color: #fff;
  }

  .inpage__subtitle {
    color: rgba(#fff, 0.48);
  }
  
  .inpage__introduction {
    color: rgba(#fff, 0.64);
  }

  .inpage__headline {
    &::after {
      background: #fff;
    }
  }
}