/* ==========================================================================
   Global: Pages
   ========================================================================== */

.page {
}

/* Header
   ========================================================================== */

.page__header {
  position: relative;
  z-index: 10;
  color: $base-font-color;
  background: #ffffff;
  overflow: hidden;

  > .inner {
    @extend .row, .row--centered;
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
  }
}

/* Headline */
.page__title {
  font-size: 1.25rem;
  line-height: 3rem;
  font-weight: $base-font-bold;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;

  a {
    display: inline-block;
    vertical-align: top;
    color: inherit;

    img {
      vertical-align: top;
      height: 3rem;
      width: auto;
    }

    span {
      @extend .visually-hidden;
    }
  }
}

.page__headline {
}

/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
}


/* Footer
   ========================================================================== */

.page__footer {
  background: tint($base-color, 96%);
  padding: 2rem 0;
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgba($base-font-color, 0.64);
  
  > .inner {
    @extend .row, .row--centered;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
