/* ==========================================================================
   Popovers
   ========================================================================== */

.popover {
  position: relative;
  text-align: initial;
  font-size: 1rem;
  line-height: 1.5;
  min-width: 16rem;
}

.popover__contents {
  background: #fff;
  box-shadow: 0 4px 16px 2px rgba($base-color, 0.08);   // Elevation Index: 2
  border-radius: $base-border-radius;
  position: relative;
  z-index: 1;
  padding: $global-spacing;
  overflow: hidden;

  > *:last-child {
    margin-bottom: 0;
  }
}

a.popover__contents {
  color: inherit;

  &:hover {
    opacity: 1;
    background-color: tint($link-color, 92%);
  }
}

/* popover header
   ========================================================================== */

.popover__header {
  display: flex;
  width: 100%;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__headline {
  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__title {
  @include heading(1rem);
  margin: 0;

  a.popover__contents & {
    color: $link-color;
  }
}


/* popover body
   ========================================================================== */

.popover__body {
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__summary {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 36%);

  > *:last-child {
    margin-bottom: 0;
  }
}

.popover__details {
  font-size: 0.875rem;
  line-height: 1.25rem;

  dt {
    width: 68%;
  }

  dd {
    width: 32%;
    margin-bottom: $global-spacing / 4;
  }
  
  dd + dd {
    margin-left: 68%;
  }
}


/* popover footer
   ========================================================================== */

.popover__footer {
  > *:last-child {
    margin-bottom: 0;
  }
}

/* popover actions
   ========================================================================== */

.popover__actions {
  flex: 1 1 auto;
  text-align: right;
  font-size: 0;
  white-space: nowrap;

  * {
    vertical-align: top;
  }

  > *:last-child {
    margin-right: -$global-spacing / 4;
  }
}

/**
 * "poa-" prefix stands for "popover action"
 */

[class^="poa-"],
[class*=" poa-"] {
  @extend .button, .button--small, .button--primary-plain, .button--text-hidden;
}

.poa-xmark::before {
  @extend %collecticon-sm-xmark;
}