@import '~styles/settings/_variables.scss';

.context {
  .actions {
    justify-content: flex-end;
    flex-basis: unset;
    flex-grow: unset;
    padding: $spacing;
  }
}

.reference {
    .actions {
        display: flex;
        flex-grow: auto;
        justify-content: center;
        align-items: center;
    
        button {
            background-color: $danger-color;;
            color: #fff;
        }

        span {
            padding: 0 15px;
            color: #8D8D8D;
        }
    }

    &-input {

        &-date {
            flex-grow: 1 !important;
        }
        &-name {
            flex-grow: 2 !important;
        }
        &-url {
           flex-grow: 1 2;
        }
    }
}
