.export-header {
  .header {
    .heading {
      padding: 0;
    }

    .date {
      padding: 0;
    }
  }

  .content {
    img {
      width: auto;
      height: 40px;
    }
  }
}

.export-hidden {
  &.preview,
  &.exporting {
    &.display {
      display: none;
    }

    &.visibility {
      visibility: hidden;
    }
  }
}

.export-only {
  &:not(.preview):not(.exporting) {
    &.display {
      display: none;
    }

    &.visibility {
      visibility: hidden;
    }
  }
}
