@import '~styles/settings/variables';

.custom-activity {
  background-color: $color-background;

  .content {
    overflow-x: auto;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  %list {
    display: flex;
    flex-direction: column;
    gap: $spacing;
    padding: $spacing*2 $spacing;

    .empty-message {
      color: $color-text-light;
    }
  }

  %list-title {
    font-weight: $base-font-bold;
  }

  .supply-list {
    @extend %list;

    .supply-title {
      @extend %list-title;
    }
  }

  .point-list {
    @extend %list;

    .point-title {
      @extend %list-title;
    }
  }

  .point-count-input {
    width: 10rem;
  }
}
