@import '~styles/settings/variables';

.custom-activity {
  background-color: $color-background;
  overflow-x: auto;

  .input-section {
    background-color: $color-background;
    overflow-x: auto;
    overflow-y: visible;
  }

  .content {
    overflow-x: auto;
    overflow-y: visible;
  }

  .empty-message {
    padding: 0 $spacing;
    color: $color-text-light;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .point-count-input {
    width: 10rem;
  }

  .container {
    padding: $spacing;
  }
}
