@import '~styles/settings/_variables.scss';

.essential-information {
  .actions {
    display: flex;
    align-self: flex-start;
    justify-content: flex-end;
    padding: $spacing/2 $spacing;
  }
}

.sharing {
  .actions {
    flex-basis: unset;
    flex-grow: unset;
    padding: $spacing;
  }
}
