/* ==========================================================================
   Preparedness Page
   ========================================================================== */

.component__block__wrap {
  @include media(medium-up) {
    @include column(2/12, $gutter: .5);
  }
}

.component__block {
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
}

.component__block__title__block {
  font-size: $font-size-sm;
  padding: $global-spacing/2.5;
  border-bottom: 1px solid $base-border-color;
}

.component__block__title {
  color: $secondary-color;
  font-weight: $base-font-semi-bold;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.component__block__value {
  color: $primary-color;
  font-size: 310%;
  font-weight: $base-font-semi-bold;
}

.component__block__content {
  font-size: $font-size-sm;
  padding: $global-spacing/2 $global-spacing/2 $global-spacing $global-spacing/2;
  text-align: center;
}

.component__block__icon {
  width: 13px;
  height: 13px;
  margin-right: $global-spacing/2;
  vertical-align: sub;
}