@import "~styles/settings/variables";

.chart-container {
  height: 12rem !important;

  .bar-label {
    font-size: $font-size-sm;
    font-weight: $base-font-medium;
  }
}
.riskButton {
  display: flex;
  justify-content: space-between;
  > *{
    height: fit-content;
  }
}

.filterButton {
  display: flex;
  min-width: 45%;
  justify-content: space-between;
}