@import '~styles/settings/variables';

.input-container {
  position: relative;

  .input-section {
    display: flex;
    align-items: center;
    border-radius: $base-border-radius;
    transition: $duration-transition-medium border-color ease-in-out;
    z-index: 0;
    padding: 0 $spacing;

    .internal-input-container {
      flex-grow: 1;
    }

    &:focus-within {
      border-color: $color-text-light;
    }
  }

  .input-hint {
    font-size: $font-size-sm;
    opacity: .7;
    padding: $spacing*0.25 $spacing;
  }

  &.errored {
    .input-section {
      border-left-width: $border-width-errored-input;
      border-left-color: $danger-color;
    }
  }


  &.disabled {
    .input-section {
      opacity: .5;
    }
  }

  .input-error {
    position: absolute;
    min-width: 8rem;
    z-index: 1;
  }

  :global {
    .go__menu {
      z-index: 10;
    }
  }
}