.project-form-modal {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: relative;

  .tc-header {
    display: flex;
    align-items: center;
    max-width: 1260px;
    padding: 1rem;
    width: 100%;

    .tc-heading {
      margin: 0;
      font-size: 2.25rem;
    }

    .tc-actions {
      padding: 24px;
    }
  }

  .block-loading {
    margin: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, .7);
    z-index: 111;
    width: 100%;
    height: 100%;
  }

  .project-form {
    max-width: 1260px;
    padding: 1rem;
    width: 100%;
    overflow: auto;
  }
}

.project-form {
  .multi-input-section {
    .section-content {
      display: flex;
    }
  }

  .tc-faram-checkbox {
    margin: 0 10px;
  }

  .project-form-select {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-grow: 1;

    .tc-select-label {
      padding: 0;
      font-size: $font-size-sm;
      text-transform: uppercase;
    }

    .tc-select-input {
      width: 100%;
      padding: 0;
    }
  }

  .tc-raw-input-label {
    padding: 0;
    font-size: $font-size-sm;
    text-transform: uppercase;
  }

  .tc-faram-checkbox {
    margin-top: 12px;
  }

  .tc-text-output {
    padding: 3px;
  }

  .district-select-container {
    display: flex;
    align-items: flex-start;

    button {
      margin-top: calc(1rem + 12px);
      flex-shrink: 0;
    }
  }

  .budget-input-container {
    display: flex;
  }

  .tc-non-field-errors {
    color: $danger-color;
    text-align: center;
    font-weight: $base-font-bold;
  }

  .tc-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;

    .three-w-hidden-submit-button {
      display: none;
    }
  }
}

.project-form-input-section {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  margin: 1.2rem 0;
  background-color: #f3f2f3;


  .section-title {
    flex-basis: 27%;
    min-width: 300px;
    flex-shrink: 0;
    padding-right: 24px;

    .tc-title {
      font-weight: bold;
      font-size: 1rem;
    }

    .tc-help-text {
      color: rgba(0, 0, 0, .48);
      font-size: 0.8rem;
      margin-top: 1rem;
    }
  }

  .section-content {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;

    >* {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}


.three-w-region-progress-bar {
  height: 10px;
  background-color: rgba(0, 0, 0, .1);
  overflow: hidden;
  border-radius: 5px;

  .three-w-region-progress-bar-progress {
    height: 100%;
    background-color: $primary-color;
    border-radius: 5px;
  }
}

.three-w-region-scale {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 6px 0;
}

.tc-confirm-modal {
  max-height: 40vh;
  max-width: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-shadow: $base-box-shadow;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: $global-spacing / 2;

  .tc-heading {
    flex-shrink: 0;
    padding: $global-spacing / 2 $global-spacing;
    margin: 0;
  }

  .tc-message {
    flex-grow: 1;
    overflow: auto;
    padding: $global-spacing / 2 $global-spacing;
  }

  .tc-footer {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;

    .button {
      padding: $global-spacing / 2 $global-spacing;
    }

    .tc-ok-button {
      color: $primary-color;
    }
  }
}
