   Typography


/* Prose

.prose {
  font-size: $base-font-size;                           // 16px
  line-height: $base-line-height;                       // 24px

  > * {
    margin-bottom: $base-font-size * $base-line-height; // same as line-height
  }

  > *:last-child {
    margin-bottom: 0;
  }

  .align-center {
    display: block;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .align-left {
    float: inline-start;
    margin-inline-end: $global-spacing * 1.5;
  }


  .align-right {
    float: inline-end;
    margin-inline-start:  $global-spacing * 1.5;
  }
}

.prose--responsive {
  $prose-resp-font-size: 1rem;                       // 20px
  $prose-resp-line-height: 1.5;                         // 32px

  @include media(medium-up) {
    font-size: $prose-resp-font-size;
    line-height: $prose-resp-line-height;
  
    > * {
      margin-bottom: $prose-resp-font-size * $prose-resp-line-height; // same as line-height
    }

    .align-left {
      margin-inline-end: $prose-resp-font-size * $prose-resp-line-height;
    }


    .align-right {
      margin-inline-start: $prose-resp-font-size * $prose-resp-line-height;
    }
  }
}


/* Common elements

p, ul, ol, dl, pre, blockquote {
  margin: 0 0 $global-spacing 0;
}


/* Lead

.lead {
  font-size: 1.25rem;
  line-height: 1.6;
  opacity: 0.64;
}

/* Prose specific */

.prose--responsive {
  > .lead {
    @include media(medium-up) {
      font-size: 1.5rem;
      line-height: 1.6666667;
    }
  }
}


/* Lists

ol ol, ol ul, ul ol, ul ul {
  margin-bottom: 0;
}

ul, ol, dl {
  padding: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ul,
ol {
  list-style-position: outside;
}

dt {
  font-weight: $base-font-regular;
  font-size: 1rem;
  line-height: 1.25rem;
}

dd {
  margin: 0 0 ($global-spacing / 2) 0;
  font-size: 1rem;
  font-weight: $base-font-light;

  &:last-child {
    margin-bottom: 0;
  }
}

.ul--tick,
.ol--tick,
.ul--go,
.ol--go {
  list-style: none;
  margin-inline-start: 0;

  li {
    display: block;
    position: relative;
    padding-inline-start:$global-spacing * 1.5;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      font-size: 1rem;
      line-height: 1.5rem;
      color: inherit;
      width: 1rem;
      text-align: center;
    }
  }
}

.ul--tick li::before,
.ol--tick li::before {
  @extend %collecticon-tick;
}

.ul--go li::before,
.ol--go li::before {
  @extend %collecticon-arrow-right;
}

.dl--table {
  @extend .clearfix;
  padding: 0;

  &:not(:last-child) {
    box-shadow: inset 0 (-$base-border-width) 0 0 $base-alpha-color;
    padding-bottom: 0.5rem;
  }

  dd:not(:last-child) {
    box-shadow: 0 $base-border-width 0 0 $base-alpha-color;
    padding-bottom: 0.5rem;
  }
}

.ul--footnotes,
.ol--footnotes {
  font-feature-settings: "pnum" 0; // Use proportional numbers
  position: relative;
  color: rgba($base-font-color, 0.64);
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: $global-spacing;
  font-weight: $base-font-regular;
  margin-inline-start: 1rem;

  &::before {
    position: absolute;
    top: 0;
    left: -$global-spacing;
    width: 4rem;
    height: $base-border-width;
    content: "";
    background: $base-alpha-color;
  }
}

.dl--horizontal {
  @extend .clearfix;

  dt, dd {
    float: inline-start;
  }

  dt {
    width: 32%;
    clear: left;
    padding-top: $global-spacing / 8;
    padding-bottom: $global-spacing / 8;
    padding-inline-end: $global-spacing / 2;
  }

  dd {
    width: 68%;
    padding-inline-start: $global-spacing / 2;
  }

  dd + dd {
    margin-inline-start: 32%;
  }
}

.content-list {
  list-style: none;
  li {
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.48);
    text-transform: uppercase;
    line-height: 2rem;
    font-weight: $base-font-regular;
    .content-highlight {
      font-size: 1.15rem;
      margin-inline-start: $global-spacing/2;
      color: rgba(0, 0, 0, 1);
      text-transform: capitalize;
    }
  }
}

/* Prose specific */

.prose--responsive {
  > ul,
  > ol {
    @include media(medium-up) {
      margin-inline-start: $global-spacing * 1.5;
    }
  }

  > dl dt {
    @include media(medium-up) {
      padding-top: $global-spacing / 4;
      padding-bottom: $global-spacing / 4;
      font-size: 1rem;
      line-height: 1.5;
    }
  }

  > .dl--table {
    @include media(small-up) {
      padding-bottom: 0;

      dt, dd {
        float: inline-start;
        width: 50%;
        margin: 0;
        padding: ($global-spacing / 2) 0;
        box-shadow: inset 0 $base-border-width 0 0 $base-alpha-color;

        &:first-of-type {
          box-shadow: none;
        }
      }

      dt {
        clear: left;
        padding-inline-end: $global-spacing / 2;
      }

      dd {
        text-align: right;
        padding-inline-start: $global-spacing / 2;
      }

      dd + dd {
        margin-inline-start: 50%;
        box-shadow: none;
      }
    }

    @include media(medium-up) {
      dt, dd {
        padding: ($global-spacing / 2) 0;
      }
    }
  }

  > .ul--tick,
  > .ol--tick,
  > .ul--go,
  > .ol--go {
    @include media(medium-up) {
      margin-inline-start: 0;

      li {
        &::before {
          line-height: 2rem;
        }
      }
    }
  }

  > .ul--footnotes,
  > .ol--footnotes, {
    @include media(medium-up) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}


/* Blockquote

blockquote,
.blockquote {
  box-shadow: inset $base-border-width 0 0 0 $base-alpha-color;
  padding: ($global-spacing / 2) $global-spacing;

  *:last-child {
    margin-bottom: 0;
  }

  footer {
    font-weight: $base-font-regular;
    color: rgba($base-font-color, 0.64);
    margin-top: -$global-spacing / 2;
    font-size: 0.875rem;
    line-height: 1.25rem;

    &:before {
      content: '— ';
    }
  }
}

.blockquote--quote-left {
  position: relative;
  box-shadow: none;
  padding: ($global-spacing / 2) $global-spacing ($global-spacing / 2) ($global-spacing * 2);

  > * {
    position: relative;
    z-index: 2;
  }

  &::before {
    @extend %collecticon-quote-left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    font-size: 4em;
    color: $base-alpha-color;
  }
}

/* Prose specific */

.prose--responsive {
  > blockquote {
    @include media(medium-up) {
      padding: $global-spacing ($global-spacing * 2);
    }
  }

  > .blockquote--quote-left {
    @include media(medium-up) {
      padding: $global-spacing ($global-spacing * 2) $global-spacing ($global-spacing * 4);
    }
  }

  > blockquote footer {
    @include media(medium-up) {
      font-size: 1rem;
      line-height: 1.5rem;
      margin-top: 0;
    }
  }
}



/* Dividers

hr,
.hr {
  float: inline-start;
  border: 0;
  height: 1px;
  background: none;
  width: 100%;
  margin: $global-spacing 0;
  background: transparent linear-gradient(transparent, $base-alpha-color, transparent) 50% / auto $base-border-width repeat-x;
}

/* Prose specific */

.prose {
  > hr,
  >.hr {
    margin: $global-spacing auto;
  }
}

.prose--responsive {
  > hr,
  > .hr {
    @include media(medium-up) {
      margin: ($global-spacing * 2) auto;
    }
  }
}


/* Emphasis

b, strong {
  font-weight: $base-font-bold;
}

small, .small {
  font-size: 75%;
  font-weight: normal;
}

mark, .mark {
  padding: 0 0.25rem;
  background: rgba($primary-color, 0.16);
  border-radius: $base-border-radius;
}


/* Abbreviation

abbr[title] {
  cursor: help;
  border-bottom: $base-border-width dashed rgba($primary-color, 0.32);
  text-decoration: none;
  text-transform: initial;
}


/* Headings

.heading, h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  margin-top: 0;
  margin-bottom: $global-spacing;
}

.heading--xlarge {
  @include heading(1.75rem, xlarge-up);   // 28, 32, 36, 40
}

.heading--large {
  @include heading(1.5rem, xlarge-up);    // 24, 28, 32, 36
}

.heading--medium {
  @include heading(1.25rem, xlarge-up);   // 20, 24, 28, 32
}

.heading--small,
.heading--xsmall,
.heading--xxsmall {
  @include heading(1rem, xlarge-up);      // 16, 20, 24, 28
}

.heading-alt {
  font-feature-settings: "pnum" 0; // Use proportional numbers
  font-family: $heading-font-family;
  font-weight: $heading-font-regular;
  text-transform: uppercase;
}

.heading-deco {
  &::after {
    content: '';
    width: 2rem;
    height: $base-border-width;
    background: $base-font-color;
    display: block;
    margin: calc(0.5em - #{$base-border-width}) 0 0 0;
  }
}

.heading-tiny {
  color: #000;
  font-size: 0.675rem;
  font-weight: $base-font-regular;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.heading-sub {
  font-weight: $base-font-semi-bold;
  font-size: 1.2rem;
}

h1 {
  @include heading(1.75rem);   // 28
}

h2 {
  @include heading(1.5rem);    // 24
}

h3 {
  @include heading(1.25rem);   // 20
}

h4, h5, h6 {
  @include heading(1rem);      // 16
}

/* Prose specific */

.prose {
  > h1:not(:first-child),
  > h2:not(:first-child),
  > h3:not(:first-child),
  > h4:not(:first-child),
  > h5:not(:first-child),
  > h6:not(:first-child) {
    margin-top: $global-spacing * 2.5;
  }

  > h1 + h2:not(:first-child),
  > h2 + h3:not(:first-child),
  > h3 + h4:not(:first-child),
  > h4 + h5:not(:first-child),
  > h5 + h6:not(:first-child) {
    margin-top: 0;
  }
}


/* Font Weights

// Generates classes for font weights
// E.g. .base-font-light, .base-font-regular, .base-font-medium, etc.

$font-weights: (
  base-font-light: $base-font-light,
  base-font-regular: $base-font-regular,
  base-font-medium: $base-font-medium,
  base-font-semi-bold: $base-font-semi-bold,
  base-font-bold: $base-font-bold,
);

// Generates classes for font weights

@each $name, $value in $font-weights {
  .#{$name} {
    font-weight: $value;
  }
}


/* Font Sizes

// Generates classes for font sizes
// E.g. .font-size-xs, .font-size-sm, .font-size-lg, .font-size-xl, .font-size-xxl, etc.

$font-sizes: (
  font-size-xxs: $font-size-xxs,
  font-size-xs: $font-size-xs,
  font-size-sm: $font-size-sm,
  font-size-lg: $font-size-lg,
  font-size-xl: $font-size-xl,
  font-size-xxl: $font-size-xxl,
);

// Generates classes for font sizes

@each $name, $value in $font-sizes {
  .#{$name} {
    font-size: $value;
  }
}


/* Decoration

.dropcap:first-letter {
  font-size: 3.4em;
  padding: 0 0.1em 0 0;
  line-height: 0.7;
  float: inline-start;
  margin: 0.1em 0.1em 0 0;
}


.prose--responsive {
  > h1 { @include heading(1.75rem, xlarge-up); }            // 28, 32, 36, 40
  > h2 { @include heading(1.5rem, xlarge-up); }             // 24, 28, 32, 36
  > h3 { @include heading(1.25rem, xlarge-up); }            // 20, 24, 28, 32
  > h4,
  > h5,
  > h6 { @include heading(1rem, xlarge-up); }               // 16, 20, 24, 28

  @include media(medium-up) {
    > h1:not(:first-child),
    > h2:not(:first-child),
    > h3:not(:first-child),
    > h4:not(:first-child),
    > h5:not(:first-child),
    > h6:not(:first-child) {
      margin-top: $global-spacing * 4;
    }
  }
}

/* Text Styles

.text-uppercase {
  text-transform: uppercase;
}

.text-semi-bold {
  font-weight: $base-font-semi-bold;
}