@import '~styles/settings/variables';

.intervention-container {

  .intervention-content {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  .textarea-container {
    display: flex;
    gap: $spacing*2;
    flex-wrap: wrap;

    .bullet-input {
      flex-basis: calc(50% - #{$spacing*2});
    }
  }

.male-female {
  display: flex;
  gap: $spacing;
}

.title-action {
  display: flex;
  align-items: center;
  gap: $spacing;
}

.indicator-challenge-container {
  display: flex;
  gap: $spacing*2;
  flex-grow: 1 2;

  .challengeSection {
    display: flex;
    flex-direction: column;
    gap: $spacing;
    flex-basis: 100%;
    flex-shrink: 0;
    max-width: calc(50% - #{$spacing*2});
  }
}
}