.layout-container {
  display: flex;
  align-items: center;
  gap: var(--go-ui-spacing-md);

  .icons-container {
    display: flex;
    flex-shrink: 0;
    gap: var(--go-ui-spacing-sm);
  }

  .children-container {
    flex-grow: 1;
  }

  .actions-container {
    display: flex;
    flex-shirnk: 0;
    gap: var(--go-ui-spacing-sm);
  }
}
