@import '~styles/settings/variables';

.emergency-three-w-form {
  .actions {
    padding: $spacing*2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .non-field-error {
    padding: $spacing;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
