.assisted-population {
    .input-section-wrapper {
        display: flex;

        > * {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}

.planned-intervention {
    .actions {
        display: flex;
        align-items: flex-end;
        align-self: flex-end;
    }
}

.identified-needs {
    .need {
        display: flex;
        align-items: center;
        gap: var(--go-ui-spacing-md);


        .icon {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            justify-content: center;
            font-size: 1rem;
        }
    }
}

.urban-to-rural {
    .inputs {
        display: flex;
    }
}

.warning {
    display: flex;
    align-items: baseline;
    gap: var(--go-ui-spacing-sm);
    color: var(--go-ui-color-yellow);
}
