.dropdown-menu-item {
    display: flex;
    padding: var(--go-ui-spacing-sm);
    width: 100%;

    .icon-container {
        display: flex;
        align-items: center;
        padding: 0 var(--go-ui-spacing-sm);
        font-size: var(--go-ui-font-size-md);
    }

    .label {
        display: flex;
        align-items: center;
        padding: 0 var(--go-ui-spacing-md);
        font-weight: var(--go-ui-font-weight-medium);
    }

    &:hover {
        background-color: var(--go-ui-color-gray-20);
        cursor: pointer;
    }

    &.disabled {
        opacity: 0.5;
        background-color: transparent;
        pointer-events: none;
    }

    &.external-link,
    &.internal-link {
        text-decoration: unset;
        color: inherit;

        &:visited {
            color: inherit;
        }
    }
}
