/* ==========================================================================
   Alerts
   ========================================================================== */

.alert {
  @extend .antialiased;
  position: relative;
  border-radius: $base-border-radius;
  background: rgba($base-color, 0.92);
  padding: $global-spacing ($global-spacing * 2.5) $global-spacing ($global-spacing * 1.75);
  color: #fff;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 $global-spacing 0;

  > *:last-child {
    margin-bottom: 0;
  }

  &::before {
    position: absolute;
    top: $global-spacing / 2;
    bottom: $global-spacing / 2;
    left: $global-spacing / 2;
    width: $global-spacing / 2;
    background: rgba($base-color, 0.92);
    border-radius: $base-border-radius / 2;
    content: "";
  }

  /* Animation */
  transform: translateZ(0);
  transition: all 0.24s ease 0s;
}


/* Alert context modifiers
   ========================================================================== */

.alert--success {
  &::before {
    background: rgba($success-color, 0.92);
  }
}

.alert--info {
  &::before {
    background: rgba($info-color, 0.92);
  }
}

.alert--warning {
  &::before {
    background: rgba($warning-color, 0.92);
  }
}

.alert--danger {
  &::before {
    background: rgba($danger-color, 0.92);
  }
}


/* Alert position modifiers
   ========================================================================== */

.alert--popover {
  position: fixed;
  z-index: 9996;
  bottom: $global-spacing;
  right: $global-spacing;
  padding: ($global-spacing * 1.5) ($global-spacing * 2.5) ($global-spacing * 1.5) ($global-spacing * 1.75);
  margin: 0;
  max-width: 24rem;
}


/* Alert buttons
   ========================================================================== */

.alert__button-dismiss {
  @extend .button, .button--small, .button--base-glass, .button--text-hidden;
  position: absolute;
  top: $global-spacing / 2;
  right: $global-spacing / 2;
  z-index: 10;

  &::before {
    @extend %collecticon-sm-xmark;
  }
}

.alert-container {
  pointer-events: none;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  z-index: 9996;
  top: 0;
  bottom: 0;
  right: 0;
  width: 24rem;
  padding: $global-spacing $global-spacing 0 $global-spacing;

  & > * {
    pointer-events: auto;
  }
}
