/* ==========================================================================
   Cards
   ========================================================================== */

.card {
  display: flex;
  position: relative;
  font-size: $base-font-size;
  line-height: $base-line-height;
  text-align: initial;
}

.card__contents {
  @extend %card-skin;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  backface-visibility: hidden;
  padding: $global-spacing;
  overflow: hidden;
  flex: 1 1 100%;
  min-height: 10rem;

  /* Animation */
  transition: all 0.16s ease 0s;

  .card--active & {
    box-shadow: 0 4px 16px 2px rgba($primary-color, 0.32);
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

a.card__contents {
  color: inherit;

  &:hover {
    opacity: 1;
    background-color: tint($link-color, 92%);
  }
}


/* Card media
   ========================================================================== */

.card__media {
  position: relative;
  margin: $global-spacing (- $global-spacing / 2);

  .link-wrapper {
    display: block;
  }

  img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
    display: block;
    transition: all 0.32s ease 0s;
  }

  &:first-child {
    margin-top: (- $global-spacing / 2);
  }

  &:last-child {
    margin-bottom: (- $global-spacing / 2) !important;
  }
}

.card__cover {
  position: relative;
  background: tint($base-color, 96%);
  min-height: 4rem;
  overflow: hidden;
  margin: 0;

  &,
  &::before {
    border-radius: $base-border-radius / 2;
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    content: "";
    box-shadow: inset 0 0 0 $base-border-width $base-alpha-color;
    pointer-events: none;
  }
}


/* Card header
   ========================================================================== */

.card__header {
  display: flex;
  width: 100%;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__headline {
  > *:last-child {
    margin-bottom: 0;
  }
}

.card__title {
  margin-bottom: ($global-spacing / 2);
  line-height: 1.3rem;

  a.card__contents & {
    color: $link-color;
  }
}

.card__subtitle {
  position: relative;
  @extend .heading-alt;
  color: rgba($base-font-color, 0.64);
  font-size: 0.875rem;
  line-height: 1rem;
  margin: ($global-spacing / 4) 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}


/* Card body
   ========================================================================== */

.card__body {
  flex: 1;
  width: 100%;
  margin-bottom: $global-spacing;

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__prose {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: tint($base-color, 36%);

  > *:last-child {
    margin-bottom: 0;
  }
}

.card__col {
  .link--primary {
    line-height: 1.5;
  }
}


/* Card footer
   ========================================================================== */

.card__footer {
  > *:last-child {
    margin-bottom: 0;
  }
}

.card__system-details {
  font-size: 0.75rem;
  line-height: 1.25rem;

  dt {
    @extend .visually-hidden;
  }

  dd {
    margin: 0;
  }

  .detail {
    @extend .heading-alt;
    position: relative;
    float: left;
    padding: 0 0 0 1.25rem;

    > span {
      @extend .truncated;
      display: inline-block;
      max-width: 8rem;
      vertical-align: top;
    }

    &::before {
      position: absolute;
      top: 0.125rem;
      left: 0;
      font-size: 1rem;
    }
  }

  .detail--updated::before {
    @extend %collecticon-clock;
  }

  .detail--type-master::before {
    @extend %collecticon-star-full;
  }

  .status {
    float: right;
  }
}


/* Card header actions
   ========================================================================== */

.card__h-actions {
  flex: 1 1 auto;
  text-align: right;
  font-size: 0;
  white-space: nowrap;

  * {
    vertical-align: top;
  }
}

.card__h-actions__menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: inset (-$base-border-width) 0 0 0 $base-alpha-color;
  padding: 0 ($global-spacing / 2);

  &:last-child {
    box-shadow: none;
    padding-inline-end: 0;
  }

  &, > li {
    display: inline-block;
  }

  > li:not(:last-child) {
    margin-inline-end: $global-spacing / 4;
  }
}


/**
 * "ca-" prefix stands for "card action"
 */

[class^="cha-"],
[class*=" cha-"] {
  @extend .button, .button--small, .button--primary-plain, .button--text-hidden;
}

.cha-ellipsis::before {
  @extend %collecticon-ellipsis-vertical;
}

.cha-download::before {
  @extend %collecticon-download;
}

.cha-question::before {
  @extend %collecticon-circle-question;
}

.cha-pencil::before {
  @extend %collecticon-pencil;
}