.recharts-cartesian-axis {
	font-size: 0.75rem;
  .recharts-cartesian-axis-ticks {
    text {
      fill: rgba($base-color, 0.68);
    }
    &:nth-child(even) {
      opacity: 1;
    }
  }
  .recharts-cartesian-axis-tick-line {
    stroke: rgba($base-color, 0.28);
  }
}

.chart {
  figcaption {
    margin-bottom: $global-spacing/2;
  }
}

.emergencies__container {
  //@include column(12/12);
}

.inpage__headline-charts, .inpage__headline-charts--two-col {
  h2 {
    font-size: 1rem;
    line-height: 1.25rem;
    font-family: $base-font-family;
    font-weight: $base-font-bold;
  }
}

.inpage__headline-charts, .inpage__headline-charts--two-col, .inpage__body-charts {
  .emergencies__list {
    margin: 0;
    list-style: none;
  }

 .emergencies__item {
    @include flex;
    @include row;
    align-items: center;
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1rem;
    height: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    .key {
      color: $grey-soot;
      font-size: $font-size-xs;
      font-weight: $base-font-medium;
      //min-width: 6rem;
      @include col(33.33%);
      //width: 45%;
      //margin-inline-end: $global-spacing;
    }
    .value {
      @include col(66.66%);
      flex-grow: 1;
      .progress-bar {
        background-color: transparent;
      }
      .progress-bar__value {
        background-color: $primary-color;
      }
    }
  }
}

.emergenciest__list--static {
  .emergencies__item {
    cursor: default;
   }
 }

.recharts-legend-item-text {
  font-size: $font-size-sm;
}