/* ==========================================================================
   Drops
   ========================================================================== */

.drop {
  position: relative;
  display: inline-block;
}

.drop__toggle {
  &--caret {
    &::after {
      @extend %collecticon-sm-triangle-down;
      color: $primary-color;
      font-size: 1rem;
      line-height: inherit;
      vertical-align: top;
      margin-inline-start: 0.25rem;
    }
  }

  &:focus {
    outline: 0;
  }
}

.drop__content {
  @extend %drop-skin;
  position: absolute;
  z-index: 1000;
  max-width: 14rem;
  margin: 0;
  padding: $global-spacing;
  overflow: hidden;
  text-align: left;
  color: $base-font-color;
  font-size: 1rem;
  line-height: 1.5;
  max-height: 16rem;
  overflow-y: auto;

  /* Animation */

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.16s ease 0s, margin 0.16s ease 0s, visibility 0.16s linear 0s;

  /* Positioning modifiers */

  .drop--down > & {
    top: 100%;
    margin-top: -$global-spacing;
  }

  .drop--up > & {
    bottom: 100%;
    margin-bottom: -$global-spacing;
  }

  /* Aligning modifiers */

  .drop--align-left > & {
    left: 0;
  }

  .drop--align-center > & {
    left: 50%;
    transform: translate(-50%, 0);
  }

  .drop--align-right > & {
    right: 0;
    left: auto;
  }

  /* Animation modifiers */

  .drop--open > & {
    opacity: 1;
    visibility: visible;
  }

  .drop--down.drop--open > & {
    margin-top: $global-spacing / 2;
  }

  .drop--up.drop--open > & {
    margin-bottom: $global-spacing / 2;
  }
}

/*
  React specific styles to handle animations.
  The tether library is being used and needs animations for all directions.
 */

.drop__content--react {
  position: relative;
  opacity: 1;
  visibility: visible;
  transition: none;
}

.tether-element {
  z-index: 9999;
}

.drop-trans--up,
.drop-trans--down {
  &.drop__content {
    transition: opacity .16s ease, transform .16s ease;
  }
}

.drop-trans--right {
  &.drop__content {
    transition: opacity .16s ease, right .16s ease;
    margin-inline-end: 1rem;
  }
}

.drop-trans--left {
  &.drop__content {
    transition: opacity .16s ease, left .16s ease;
    margin-inline-start: 1rem;
  }
}

@mixin drop-top-start() {
  opacity: 0;
  transform: translate(0, -($global-spacing / 2));
}

@mixin drop-top-end() {
  opacity: 1;
  transform: translate(0, ($global-spacing / 2));
}

@mixin drop-bottom-start() {
  opacity: 0;
  transform: translate(0, ($global-spacing / 2));
}

@mixin drop-bottom-end() {
  opacity: 1;
  transform: translate(0, -($global-spacing / 2));
}

@mixin drop-left-start() {
  opacity: 0;
  left: -100%;
  // transform: translate(-100%, 0);
}

@mixin drop-left-end() {
  opacity: 1;
  left: 0;
  // transform: translate(1rem, 0);
}

@mixin drop-right-start() {
  opacity: 0;
  right: -100%;
  // transform: translate(100%, 0);
}

@mixin drop-right-end() {
  opacity: 1;
  right: 0;
  // transform: translate(-1rem, 0);
}

.drop-trans--down {
  &.drop__content {
    @include drop-top-end();
  }

  &.drop-trans-enter {
    @include drop-top-start();

    &.drop-trans-enter-active {
      @include drop-top-end();
    }
  }

  &.drop-trans-exit {
    @include drop-top-end();

    &.drop-trans-exit-active {
      @include drop-top-start();
    }
  }
}

.drop-trans--up {
  &.drop__content {
    @include drop-bottom-end();
  }

  &.drop-trans-enter {
    @include drop-bottom-start();

    &.drop-trans-enter-active {
      @include drop-bottom-end();
    }
  }

  &.drop-trans-exit {
    @include drop-bottom-end();

    &.drop-trans-exit-active {
      @include drop-bottom-start();
    }
  }
}

.drop-trans--left {
  &.drop__content {
    // @include drop-left-end();
  }

  &.drop-trans-enter {
    @include drop-left-start();

    &.drop-trans-enter-active {
      @include drop-left-end();
    }
  }

  &.drop-trans-exit {
    @include drop-left-end();

    &.drop-trans-exit-active {
      @include drop-left-start();
    }
  }
}

.drop-trans--right {
  &.drop__content {
    // @include drop-right-end();
  }

  &.drop-trans-enter {
    @include drop-right-start();

    &.drop-trans-enter-active {
      @include drop-right-end();
    }
  }

  &.drop-trans-exit {
    @include drop-right-end();

    &.drop-trans-exit-active {
      @include drop-right-start();
    }
  }
}


/* Drop title
   ========================================================================== */

.drop__title {
  @extend .heading-alt;
  color: rgba($base-font-color, 0.64);
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0 0 $spacing-half 0 !important;
}


/* Drop menu
   ========================================================================== */

.drop__menu {
  @extend .clearfix;
  list-style: none;
  margin: (-$global-spacing) (-$global-spacing) $global-spacing (-$global-spacing);
  box-shadow: 0 $base-border-width 0 0 $base-alpha-color;
  padding: ($global-spacing / 2) 0;
  min-width: 12rem;

  &:last-child {
    margin-bottom: (-$global-spacing);
    box-shadow: none;
  }

  .drop__menu-item {
    position: relative;
    display: block;
    padding: 0.25rem 1rem;
    color: $link-color;
    transition: all 0.16s ease 0s;
    font-size: 0.875rem;
    
    &:hover,
    &:focus {
      background-color: tint($link-color, 92%);
      opacity: 1;
    }
  }

  /* Menu item modifiers */

  .drop__menu-item--danger {
    color: $danger-color;

    &:hover,
    &:focus {
      background-color: tint($danger-color, 92%);
    }
  }
}

/* Select modifier */

.drop__menu--select {
  .drop__menu-item {
    padding-inline-end: $global-spacing * 2.5;
  }

  .drop__menu-item--active {
    color: $link-color;
    font-weight: $base-font-regular;

    &::after {
      @extend %collecticon-sm-tick;
      position: absolute;
      z-index: 1;
      top: $global-spacing / 4;
      right: $global-spacing / 2;
      font-size: 1rem;
      line-height: 1.5rem;
      opacity: 0.48;
      width: 1.5rem;
      text-align: center;
    }
  }
}

/* Iconified modifier */

.drop__menu--iconified {
  .drop__menu-item {
    padding-inline-start: $global-spacing * 2.75;

    &::before,
    > [class^="collecticon-"] {
      position: absolute;
      z-index: 1;
      top: $global-spacing / 4;
      left: $global-spacing;
      font-size: 1rem;
      line-height: 1.5rem;
      width: 1.5rem;
      text-align: center;
    }
  }
}

/* Drop inset
   ========================================================================== */

.drop__inset {
  @extend %inset-skin;
  color: tint($base-font-color, 32%);
  box-shadow: inset 0 $base-border-width 0 0 $base-alpha-color, inset 0 -$base-border-width 0 0 $base-alpha-color;
  margin: (-$global-spacing) (-$global-spacing) $global-spacing (-$global-spacing);
  padding: $global-spacing;

  &:first-child {
    box-shadow: inset 0 -$base-border-width 0 0 $base-alpha-color;
  }

  &:last-child {
    margin-bottom: (-$global-spacing);
    box-shadow: inset 0 $base-border-width 0 0 $base-alpha-color;
  }

  &:only-child {
    box-shadow: none;
  }

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}