/* ==========================================================================
   Global: Pages
   ========================================================================== */

main {
  min-height: 70vh;
}

.page {
  position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/* Header
   ========================================================================== */

.page__header__inner__wrap {
  border-bottom: 2px solid $primary-color;
}

.page__header, .page__header__inner__wrap {
  color: $base-font-color;
  background: #ffffff;
  position: relative;
  z-index: 10;

  > .inner {
    //@extend .row, .row--centered;
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;
    //display: flex;
    //align-items: center;
    //flex-flow: row nowrap;
    border-bottom: solid 1px tint($base-color, 92%);
    &:last-child{
      border-bottom: none;
    }
  }
}

.page__header {
  > .inner {
    border-bottom: solid 1px tint($base-color, 92%);
  }
}

.beta-note {
  font-size: 0.75rem;
  font-weight: $base-font-regular;
  background: tint($base-color, 98%);
  > .inner {
    @extend .row, .row--centered;
    padding-top: $global-spacing;
    padding-bottom: $global-spacing;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    border-bottom: solid 1px tint($base-color, 92%);
  }
  p {
    margin-bottom: 0;
    float: left;
    width: 90%;
  }
  .beta-note__actions {
    float: right;
    text-align: right;
    width: 10%;
  }
}

/* Headline */
.page__title {
  font-size: 1.25rem;
  line-height: 3rem;
  font-weight: $base-font-bold;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;

  a {
    display: inline-block;
    vertical-align: top;
    color: inherit;

    img {
      vertical-align: middle;
      height: 2.6rem;
      width: auto;
    }

    span {
      @extend .visually-hidden;
    }
  }
}

/* Body
   ========================================================================== */

.page__body {
  @extend .clearfix;
  margin-bottom: $global-spacing * 3;
}


/* Footer
   ========================================================================== */

.page__footer {
  background: #323232;
  padding: ($global-spacing * 2) 0;
  font-weight: $base-font-regular;
  font-size: $font-size-sm;
  line-height: 1.25rem;
  color: #ffffff;

  //> .inner {
    //@extend .row, .row--centered;
  //}

  *:last-child {
    margin-bottom: 0;
  }

  .footer-nav {
    @extend .clearfix;

    &__block {
      margin-bottom: ($global-spacing * 2);
      @include column(12/12);

      @include media(small-up) {
        @include column(3/12, $cycle: 4);
      }

      @include media(medium-up) {
        @include column(2/12, $cycle: 6);
      }

      @include media(large-up) {
        @include column(2/12, $cycle: 6);
      }

      &--sec {
        @include media(large-up) {
          text-align: right;
        }
      }
    }
  }
}

.footer-menu {
  list-style: none;
  margin: 0;

  .footer-menu__item--highlight {
    font-weight: $base-font-bold;
  }

  a {
    color: inherit;
  }

  .footer-left-block {
    //float: left;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    @include media(small) {
      flex-direction: row;
    }

    a {
      margin-bottom: $spacing;
  
      @include media(small) {
        padding-inline-end: 10px;
        margin-inline-end: 10px;
        margin-bottom: 0;
    
        &:last-of-type {
          margin-inline-end: 0;
          padding-inline-end: 0;
        }

        &:not(:last-child) {
          border-inline-end: 1px solid #fff;
        }
      }
    }
  }

  .footer-right-block {
    //float: right;
    @include media(xsmall) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.staging-footer {
  height: 32px;
  font-size: 1rem;
  padding: 4px;
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.staging-footer {
  background-color: #f4a100;
  bottom: 0;
  color: white;
  font-weight: 800;
  text-align: center;
}