@import '~styles/settings/variables';

.search-input-container {
  width: 100%;
  border-bottom: $base-border-width solid $base-border-color;

  .search-text {
    border: none;

    .raw-input {
      width: 100%;
      background-color: inherit;
      border: none;
    }
  }
}