@import '~styles/settings/variables';

.actions {
  padding: $spacing/2 0;
}


.disaggregation {
  display: flex;
  overflow-x: auto;

  .simplified {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing;

    .total-values {
      flex-basis: calc(50% - #{$spacing});
      display: flex;
    }

    .gender-disaggregation {
      flex-basis: 50%;
      display: flex;
      background-color: $grey-fog;
    }
  }

  .detailed {
    display: table;
    border-collapse: collapse;
    margin: $spacing;
    overflow-x: auto;

    :global {
      .go-input-container {
        font-size: $font-size-sm;
        padding: 0;

        .go-input-internal-input-section {
          border-radius: 0;

          input {
            padding: $spacing/2 $spacing/4;
            text-align: right;
          }

          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          input[type=number] {
            -moz-appearance: textfield;
          }
        }
      }
    }

    .other,
    .female,
    .male,
    .labels {
      display: table-row;
      font-size: $font-size-sm;

      >* {
        display: table-cell;
      }
    }

    .label {
      text-align: right;
      padding: $spacing/2 $spacing/4;
      background-color: $white;
    }
  }
}
