@import '~styles/settings/variables';

.share-modal {
  width: calc(100% - #{$spacing * 4});
  max-width: 30rem;
  min-height: 18rem;
  padding: $spacing;
  align-items: center;
  overflow: visible;

  .body {
    width: 100%;
    overflow: visible;
  }

  header {
    align-items: baseline;
  }

  hr {
    margin: 0px;
  }

  .heading-content {
    display: flex;
    flex-direction: column;
    gap: $spacing;
    text-transform: initial;
    letter-spacing: 0;
    line-height: 1rem;

    .heading {
      font-size: $font-size-md;
      font-weight: $base-font-medium;
    }

    .description {
      font-size: $font-size-sm;
      font-weight: $base-font-regular;
      color: $grey-coal;
    }
  }

  .user-list {
    display:flex;
    justify-content: space-between;
    margin: $spacing 0;
  }

}
