.breadcrumbs {
  display: flex;
  align-items: center;
  color: var(--go-ui-color-gray-40);
  gap: var(--go-ui-spacing-sm);

  .item {
    display: flex;

    &:not(:last-child) {
      :hover {
        color: var(--go-ui-color-primary-red);
        text-decoration: underline;
      }
    }

    &:last-child {
      font-weight: var(--go-ui-font-weight-bold);
      color: var(--go-ui-color-black);
    }
  }
}
