@import '~styles/settings/variables';

.input-section {
    display: block;
    background-color: $white;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);


    .section-title {
        background-color: #fafafa;
        padding: $spacing/2 $spacing-3;
        flex-shrink: 0;

        .title {
        font-weight: $base-font-bold;
        padding: $spacing 0;
        }

    }

    .section-content {
        padding: $spacing/2  $spacing-2 ;
        .label {
            font-size: 12px;
            line-height: 16px;
            color: #8D8D8D;
        }
        .value {
            padding: $spacing 0;
            font-size: 14px;
            line-height: 19px;
            color: #323232;
        }
        &-actions {
            padding: $spacing-3 0 0 0;
        }
    }
}
