@import '~styles/settings/variables';

.input-section {
    display: block;
    background-color: $white;


    .section-title {
        //background-color: green;
        padding: $spacing $spacing-3;
        flex-shrink: 0;

        .title {
        font-weight: $base-font-bold;
        padding: $spacing 0;
        }

    }

    .section-content {
        padding: $spacing/2  $spacing-3 ;
        .label {
            font-size: 12px;
            line-height: 16px;
            color: #8D8D8D;
        }
        .value {
            padding: $spacing 0;
            font-size: 14px;
            line-height: 19px;
            color: #323232;
        }
        &-actions {
            padding: $spacing-3 0 0 0;
        }
    }
}
