.top-banner {
    background-color: var(--go-ui-color-negative);
    padding: var(--go-ui-spacing-md);
    text-align: center;
    color: var(--go-ui-color-white);
    font-weight: var(--go-ui-font-weight-medium);
}

.warning {
    background-color: var(--go-ui-color-warning);
}

.positive {
    background-color: var(--go-ui-color-positive);
}

.information {
    background-color: var(--go-ui-color-information);
}
