@import '~styles/settings/variables';

.country-plan {
  margin: $spacing*2 0;

  .country-plan-content {
    display: flex;
    justify-content: flex-start;
    gap: $spacing * 13;

    .download-links {
      .download-link {
        margin: $spacing / 2;
      }
    }
  }

  .keyFigure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $spacing*6 0;
  }
}

.country-plan-report {
  display: flex;
  justify-content: space-evenly;
}