@use "sass:math";

@import '~styles/settings/variables';

.activity-map {
  display: flex;
  flex-wrap: wrap;

  .map-container {
    height: 40rem;
    flex-grow: 1;
  }

  .sector-grouped-activities {
    height: 40rem;
    flex-basis: 22rem;
    flex-shrink: 0;
    overflow: auto;

    .activity-list {
      display: flex;
      flex-direction: column;
      gap: $spacing*0.5;
      padding: $spacing!important;
      overflow: auto!important;
    }
  }

  .legend {
    display: flex;
    gap: $spacing*3;
    padding: $spacing;
    background-color: $grey-mist;
    flex-basis: 100%;

    .legend-title {
      color: $secondary-color;
      font-weight: $base-font-bold;
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: $spacing;

      .color {
        height: 1em;
        width: 1em;
      }

      .label {
        font-weight: $base-font-medium;
      }
    }
  }
}

.activity-detail {
  display: flex;
  flex-direction: column;
  background-color: $grey-mist;
  gap: $spacing;

  .header {
    padding: $spacing;
    display: flex;
    flex-direction: column;
    gap: $spacing*0.5;
    cursor: pointer;

    .heading {
      display: flex;

      .title {
        font-weight: $base-font-medium;
        flex-grow: 1;
      }

      .icon {
        flex-shrink: 0;
        color: rgba(0, 0, 0, .3);
      }
    }

    .progress-bar-with-count {
      display: flex;
      align-items: center;
      gap: $spacing;

      .progress-bar {
        flex-grow: 1;
        height: 0.6rem;
        background-color: $grey-titanium;
        border-radius: .3rem;

        .progress {
          height: 100%;
          border-radius: .3rem;
          background-color: $primary-color;
        }
      }

      .count {
        text-align: right;
        width: 1rem;
        font-weight: $base-font-bold;
        color: $secondary-color;
        flex-shrink: 0;
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: $white;

    .project {
      display: flex;
      flex-direction: column;
      padding: $spacing $spacing;
      border-top: $base-border-width solid $base-border-color;

      .project-heading {
        display: flex;
        align-items: flex-start;

        .ns-name {
          flex-grow: 1;
          font-weight: $base-font-bold;
        }

        .status {
          flex-shrink: 0;
          color: $secondary-color;
          font-weight: $base-font-medium;
          font-size: $font-size-sm;
          padding: $spacing*0.25 $spacing;
          background-color: $grey-fog;
          border-radius: 1em;
        }
      }

      .start-end-date {
        display: flex;
        gap: $spacing;
        color: rgba(0, 0, 0, .5);
        font-size: $font-size-sm;
        margin-top: $spacing*0.5;
      }

      .related-activity-list {
        display: flex;
        flex-direction: column;
        gap: $spacing*0.5;
        padding: $spacing 0;

        .related-activity {
          background-color: $grey-mist;
          padding-bottom: $spacing;

          .action {
            padding: $spacing*0.5 $spacing;
            background-color: $grey-titanium;
            font-weight: $base-font-medium;
          }

          .people-reached {
            padding: $spacing*0.25 math.div($spacing*2, 3);
            margin-top: $spacing*0.5;
          }

          .activity-details {
            padding: $spacing*0.25 $spacing;
          }
        }
      }

      .actions {
        display: flex;
        justify-content: flex-end;

        .more-less-button {
          color: $primary-color;
        }
      }
    }
  }

  .header .tooltip-text {
    padding-left: 10%;
    visibility: hidden;
    height: 0;
    display: block;
  }

  .header:hover .tooltip-text {
    visibility: visible;
    height: 1rem;
  }
}
