.page--emergency {
  .fold {
    margin-bottom: $global-spacing * 2;
  }

  .introduction-nav {
    clear: both;
  }

  .inpage__header {
    float: none;
    margin-bottom: $global-spacing * 2;
    border-bottom: solid 1px rgba($base-color, 0.1);
    .inpage__header-col {
      float: none;
    }
    .content-list-group {
      @include column(12/12);
    }
    .content-list {
      float: left;
      @include column(12/12);
      margin-inline-start: 0;
      @include media(medium-up) {
        @include column(6/12);
      }
    }
    .content-list-third {
      float: left;
      list-style: none;

      @include column(12/12);
      margin-inline-start: 0;
      @include media(medium-up) {
        @include column(4/12);
      }
      li {
        font-size: 0.875rem;
        color: rgba(0, 0, 0, 0.48);
        text-transform: uppercase;
        line-height: 2rem;
        font-weight: $base-font-regular;
        .content-highlight {
          font-size: 1.15rem;
          margin-inline-start: $global-spacing/2;
          color: rgba(0, 0, 0, 1);
          text-transform: capitalize;
        }
      }
    }
    .inpage__headline-stats {
      @include column(12/12);
      border-right: solid 1px rgba($base-color, 0.1);
    }
    .stats-list {
      li {
        @include column(12/12);
        font-size: 2.25rem;
        line-height: 3rem;
        padding-bottom: $global-spacing;
        border-right: 0;
        padding-inline-start: $global-spacing * 3.5;
        border-bottom: solid 1px rgba($base-color, 0.18);
        margin-bottom: $global-spacing;
        &:last-child {
          border-right: none;
          border-bottom: none;
        }
        &:nth-child(2) {
          border-bottom: none;
        }
      }
    }
    dl {
      float: left;
      width: 50%;
    }
  }
  
  .sumstats__item {
    @include media(small-up) {
      @include span(4/12, $offset: 0, $cycle: 0);
    }

    @include media(medium-up) {
      @include span(4/12, $offset: 0, $cycle: 0);
    }

    @include media(medium-up) {
      @include span(4/12, $offset: 0, $cycle: 0);
    }
  }
}

.fold__filters {
  margin-bottom: $global-spacing * 2;
  .drop__toggle {
    color: $primary-color;
    font-weight: $base-font-bold;
    margin-inline-end: $global-spacing * 2;
    font-size: 1rem;
  }
}

.introduction-nav {
  list-style: none;
  margin-inline-start: 0;
  li {
    display: inline-block;
    margin-inline-end: $global-spacing;
    text-transform: uppercase;
    font-size: 0.75rem;
  }
}

.introduction-nav-item--active {
  font-weight: 600;
}

.key-figures-list {
  list-style: none;
  @include column(12/12);
  margin-inline-start: 0;
  display: block;
  @include media(medium-up) {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }

  li {
    text-align: center;
    display: inline-block;
    border: solid 1px rgba($base-color, 0.1);
    border-radius: $base-border-radius;
    padding: ($global-spacing * 2) ($global-spacing * 1);
    width: 100%;
    margin-bottom: $global-spacing;
    @include media(medium-up) {
      margin-inline-start: $global-spacing * 2;
      margin-bottom: 0;
      &:first-child {
        margin-inline-start: 0;
      }
    }
  }

  h3 {
    color: $primary-color;
    font-family: $base-font-family;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: $global-spacing/2;
  }
}

.key-figure-label {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 0;
}

.key-figure-source {
  color: rgba($base-color, 0.48);
  margin-bottom: 0;
}

.situation-reports-list {
  list-style: none;
  margin-inline-start: 0;
  @include column(12/12);
  margin-bottom: $global-spacing/2;
  li {
    @include media(medium-up) {
      @include column(3/10);
      margin-bottom: $global-spacing/2;
    }
  }
}

.public-docs-list {
  list-style: none;
  margin-inline-start: 0;
  @include column(12/12);
  li {
    @include media(medium-up) {
      @include column(6/12, $cycle: 2);
    }
    margin-bottom: $global-spacing/2;
    a {
      margin-inline-start: $global-spacing/2;
    }
  }
}

.contacts {
  .table {
    border-spacing: 0 $global-spacing;
    border-collapse: initial;
  }

  td {
    border: 1px solid $base-border-color;
    border-right-color: transparent;
    border-left-color: transparent;

    &:first-child {
      font-weight: $base-font-bold;
    }
  }

  tr td:first-of-type {
    border-left-color: $base-border-color; 
  }

  tr td:last-of-type {
    border-right-color: $base-border-color; 
  }
}

.iframe__container {
  iframe {
    width: 100%;
  }
}

.snippet__item {
  padding-bottom: $global-spacing * 2;
}

.snippet__image {
  > img {
    width: 100%;
  }
}

.emergency__source {
  margin-top: 1em;
  font-style: italic;
  color: $light-base-color;
}

.map__container__title {
  font-weight: $base-font-regular;
  margin: ($global-spacing/2 0 0 0);
}

h2.map__container__title {
  font-size: 150%;
}

.map__container__disclaimer {
  font-size: $font-size-xs;
  padding: $global-spacing ($global-spacing/2);
}

.response__doc__col {
  @include media(medium-up) {
    @include column(4/12, $cycle: 3)
  }
}

.response__doc__each {
  border: 1px solid $base-border-color;
  background-color: #fff;
  padding: $global-spacing-2;
  margin: $global-spacing 0 0 0;
}

.response__doc__inner {
  height: 210px;
  padding: 0 $global-spacing 0 0;
  overflow-y: auto;
}

.response__doc__title {
  padding: 0 0 ($global-spacing/2) 0;
}

.response__doc__item {
  padding: 0 $global-spacing-2 0 0;
  position: relative;
  margin: $global-spacing 0 0 0;
}

.response__doc__item__link {
  position: absolute;
  right: 0;
  top: 0;
}

.response__doc__title {
  font-weight: $base-font-bold;
}

.pl-small {
  padding-inline-start: 1.5rem;
}
