/* ==========================================================================
   Buttons
   ========================================================================== */

.button {
  @extend .antialiased;
  user-select: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  min-width: 2rem;
  background: none;
  text-shadow: none;
  border: 0;
  border-radius: $full-border-radius;
  font-weight: $base-font-bold;
  cursor: pointer;

  /* States */

  &:hover {
    opacity: initial;
  }

  .drop--open > &,
  &.button--active,
  &:active {
    z-index: 2;
    transform: none;
  }

  &, &:focus {
    outline: none; // This causes usability problems. Needs fixing.
  }

  /* Icon handling */

  &::before,
  &::after,
  [class^="collecticon-"],
  [class*=" collecticon-"] {
    font-size: 1rem;
  }

  &::before { margin-inline-end: 0.375rem; }
  &::after { margin-inline-start: 0.375rem; }

  &::before,
  &::after,
  > * {
    vertical-align: top;
    display: inline-block;
    line-height: inherit !important;
  }

  /* Checkbox/radio handling */

  > input[type=checkbox],
  > input[type=radio] {
    @extend .visually-hidden;
  }

  /* Animation */

  transition: background-color 0.24s ease 0s;
}


/* Button color modifiers
   ========================================================================== */

.button--inactive {
  cursor: no-drop !important;
  @include button-variation($light-base-color, "filled", "dark");
}

.button--primary-filled {
  @include button-variation($primary-color, "filled", "dark");
}

.button--primary-bounded {
  @include button-variation($primary-color, "bounded", null);
}

.button--secondary-filled {
  @include button-variation($secondary-color, "filled", "dark");
}

.button--secondary-bounded {
  @include button-variation($secondary-color, "bounded", null);
}

.button--secondary-light {
  @include button-variation($secondary-color, "filled", "light");
}

.button--grey-cement-bounded {
  @include button-variation($grey-cement, "bounded", null);
}

/* Primary Plain */

.button--base-plain {
  @include button-variation($base-color, "plain", null);
}

.button--primary-plain {
  @include button-variation($primary-color, "plain", null);
}

.button--secondary-plain {
  @include button-variation($secondary-color, "plain", null);
}


/* Achromic Glass (white ghost-like) */

.button--base-glass {
  @include button-variation($base-color, "glass", null);
}

.button--primary-glass {
  @include button-variation($primary-color, "glass", null);
}

.button--secondary-glass {
  @include button-variation($secondary-color, "glass", null);
}

/* Button size modifiers
   ========================================================================== */

/* Extra Small */

.button--xsmall,
.button-group--xsmall .button {
  line-height: 1rem;
  font-size: $font-size-xs;
  padding: 0.25rem 0.8rem;
  min-width: 2rem;
}

/* Small (24px) */

.button--small,
.button-group--small .button {
  line-height: 1.25rem;
  font-size: 0.875rem;
  padding: 0.25rem 1rem;
  min-width: 2rem;
}

/* Medium (32px)
   Default
*/

.button--medium,
.button-group--medium .button {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  min-width: 2.5rem;
}

/* Large (40px) */

.button--large,
.button-group--large .button {
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  min-width: 3rem;
}

/* XLarge (48px) */

.button--xlarge,
.button-group--xlarge .button {
  line-height: 2rem;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  min-width: 3rem;
}


/* Button containing icons & icons modifiers
   ========================================================================== */

.button--text-hidden {
  &::before,
  &::after {
    margin: 0;
  }
  > *:not([class^="collecticon-"]):not([class*=" collecticon-"]) {
    @extend .visually-hidden;
  }
/*  :not(.button-group) & {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }*/
}

/* Button Clickthrough
   ========================================================================== */
// Add this class to the click event of the button to pass through to the child
// Uses pointer events property

.btn--span-clickthrough {
  span {
    pointer-events: none;
  }  
}

/* Button misc modifiers
   ========================================================================== */

.button--block {
  display: block;
  width: 100%;
}

.button--semi-fluid {
  min-width: 16rem;
}

.button--capsule {
  border-radius: $full-border-radius;
}

.button--close {
  &:before {
    @extend %collecticon-xmark;
    font-size: 1rem;
    line-height: inherit;
    vertical-align: top;
    margin-inline-start: 0.25rem;
  }
}

/* ==========================================================================
   Button groups
   ========================================================================== */

.button-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;

  > .button {
    display: block;
    position: relative;
    margin: 0;
    z-index: 2;
  }
}

/* Horizontal */

.button-group--horizontal {
  > .button {
    float: left;
  }

  > .button:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    clip-path: inset(-100% 0 -100% -100%);
  }

  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    clip-path: inset(-100% -100% -100% 0);
  }

  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
    clip-path: inset(-100% 0);
  }

  > .button + .button {
    margin-inline-start: -$base-border-width;
  }
}

/* Vertical */

.button-group--vertical {
  > .button {
    clear: both;
    width: 100%;
    border-radius: $base-border-radius;
  }

  > .button:first-child:not(:last-child) {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    clip-path: inset(-100% -100% 0 -100%);
  }

  > .button:last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    clip-path: inset(0 -100% -100% -100%);
  }

  > .button:not(:first-child):not(:last-child) {
    border-radius: 0;
    clip-path: inset(0 -100%);
  }

  > .button + .button {
    margin-top: -$base-border-width;
  }
}

.toggle-button-group--horizontal {
  display: flex;
}

.toggle-button-description {
  margin-inline-end: $global-spacing;
}

/* Button: Reset Styles */
.button-reset {
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  background: none;
  text-shadow: none;
  border: 0;
  border-radius: $full-border-radius;
  font-weight: $base-font-bold;
  cursor: pointer;

  /* States */

  &:hover {
    opacity: initial;
  }
}