.state-block {
	display: flex;
  align-items: baseline;
}

.state-name {
  text-transform: uppercase;
  font-weight: $base-font-semi-bold;
}

.state {
	width: 12px;
	height: 12px;
	border-radius: 50%;
}

.state--severity-low {
  background-color: $yellow-dot-color;
}

.state--severity-mid {
  background-color: $orange-dot-color;
}

.state--severity-high {
  background-color: $red-dot-color;
}