@import '~styles/settings/_variables.scss';

.early-action {
  :global {
    .go-input-section {
      box-shadow: $box-shadow-component;
    }
  }

  .sector-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
  }

  .risk-container {
    display: flex;
    justify-content: space-around;
  }

  .sector {
    width: 50%;
  }
}
