/* ==========================================================================
   Field Report form
   ========================================================================== */

.page--frep-form {
  background: #fff;

  .inpage__header {
    padding-bottom: 0;
  }

  .form__group {
    background: $grey-fog;
    padding: $global-spacing-2;
    margin-bottom: $global-spacing-2;
  }

  .form__inner-header {
    @include media(medium-up) {
      @include column(3/12);
    }
  }

  .form__inner-header {
    display: block;
  }

  /*.form__hascol {
    margin-bottom: 0 !important;

    .form__group {
      margin-right: 0 !important;
      margin-left: 0 !important;
      width: 50% !important;
    }
  }*/

  .form__inner-body {
    @include media(medium-up) {
      @include column(9/12);
    }
  }
}

.form--field-report {
  margin-bottom: $global-spacing * 4;
}

.sources-list {
  &__item {
    @include column(12/12);
    margin-bottom: $global-spacing * 1.5;

    @include media(small-up) {
      @include column(6/12, $cycle: 2);
    }

    @include media(medium-up) {
      @include column(4/12, $cycle: 3);
    }

    @include media(large-up) {
      @include column(3/12, $cycle: 4);
    }
  }
}

.contact-row {
  > .form__inner-header {
    @include column(12/12);

    @include media(large-up) {
      @include column(3/12);
    }
  }

  > .form__inner-body {
    @include column(12/12);

    @include media(large-up) {
      @include column(9/12);
    }
    > .form__group {
      @include column(12/12);

      @include media(small-up) {
        @include column(6/12, $cycle: 2);
      }

      @include media(large-up) {
        @include column(4/12, $cycle: 3);
      }
    }
  }
}

.form__group__col__6 {
  @include media(large-up) {
    @include column(6/12);
  }  
}

.estimation-row {
  > .form__inner-header {
    @include column(12/12);

    @include media(large-up) {
      @include column(3/12);
    }
  }

  > .form__inner-body {
    @include column(12/12);

    @include media(large-up) {
      @include column(9/12);
    }
  }

  .estimation {
    @extend .clearfix;
    margin-bottom: $global-spacing;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .estimation__item-field {
    @include column(12/12);

    @include media(medium-up) {
      @include column(2/12);
    }
  }

  .estimation__item {
    @include column(12/12);

    @include media(medium-up) {
      @include column(5/12);
    }
  }

  .estimation:first-child {
    .estimation__item--actions {
      margin-top: 1.8rem;
    }
  }
}

.action-checkboxes .form__options-group {
  .form__option {
    @include column(12/12);

    @include media(small-up) {
      @include column(6/12, $cycle: 2);
    }

    @include media(medium-up) {
      @include column(4/12, $cycle: 3);
    }

    @include media(large-up) {
      @include column(3/12, $cycle: 4);
    }
  }
}

.eru {
  @extend .clearfix;

  .eru__item-type,
  .eru__item-status,
  .eru__item-units,
  .eru__item-actions {
    @include column(12/12);
  }

  @include media(medium-up) {
    .eru__item-type,
    .eru__item-status {
      @include column(6/12, $cycle: 2);
    }
    .eru__item-units {
      @include column(8/12);
    }
    .eru__item-actions {
      @include column(4/12);
    }
  }

  @include media(large-up) {
    .eru__item-type,
    .eru__item-status {
      @include column(4/12, $cycle: 4);
    }
    .eru__item-units,
    .eru__item-actions {
      @include column(2/12, $cycle: 4);
    }
  }

  .eru__item-actions {
    padding-top: 1.5rem;
  }
}

.form__label--nested {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: $base-font-weight;
  opacity: 0.64;
}

.form__group--kv {
  > * {
    @include column(12/12);

    @include media(small-up) {
      @include column(6/12);
    }

    @include media(medium-up) {
      @include column(4/12);
    }

    @include media(large-up) {
      @include column(3/12);
    }
  }
}

.plan-response-row  {
  @include media(medium-up) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end
  }

  > .form__inner-header {
    @include media(medium-up) {
      @include column(3/12);
    }

    @include media(large-up) {
      @include column(2/12);
    }
  }

  > .form__inner-body {
    @include media(medium-up) {
      @include column(9/12);

      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;

      .form__group {
        margin-bottom: 0;
      }

      .form__option {
        margin-top: 0;
        vertical-align: top;
      }
    }

    @include media(large-up) {
      @include column(10/12);
    }

  }

  .resp-status {
    margin-right: 8%;
  }
}

.stepper {
  @include column(12/12);
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  margin: 0 0 ($global-spacing * 2) 0;
  padding: 0;
  max-width: 60rem;
  font-family: $heading-font-family;
  font-size: 0.875rem;
  line-height: 1rem;

  @include media(medium-up) {
    flex-flow: row wrap;
    margin: 0 0 ($global-spacing * 4) 0;
  }
}

.stepper__item {
  position: relative;
  flex-grow: 1;
  padding: 0 0 1rem 1.5rem;
  margin: 0 0 0.5rem 0;
  overflow: hidden;
  color: tint($base-color, 80%);

  @include media(medium-up) {
    padding: 1.5rem 1rem 0 0;
    margin: 0 0.5rem 0 0;
  }

  &:not(.stepper__item--complete) {
    &::before {
      content: ''
    }
  }

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 1rem;
    border-radius: $full-border-radius;
    background: tint($base-color, 80%);
    color: #fff;
    text-align: center;
    font-size: 0.75rem;
    line-height: 1rem;

    @include media(medium-up) {
      top: 0;
    }
  }

  &::after {
    position: absolute;
    top: 1.5rem;
    left: 0.5rem;
    content: '';
    width: 2px;
    height: 100%;
    transform: translate(-1px, 0);
    background: tint($base-color, 80%);

    @include media(medium-up) {
      width: 100%;
      height: 2px;
      transform: translate(0, -1px);
      top: 0.5rem;
      left: 1.5rem;
    }
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: 0;

    &::after {
      display: none;
    }
  }

  a {
    color: inherit;
    font-weight: $base-font-medium;
    text-transform: uppercase;
  }

  &--complete, &--current {
    color: $primary-color;

    //&::before, &::after {
      //background: $secondary-color;
    //}

     &::before {
       background: $primary-color;
     }
  }

  &--complete {
    &::before {
      @extend %collecticon-sm-tick;
    }
  }
}

.form__actions {
  margin: ($global-spacing * 4) 0;
  button {
    &:first-child {
      margin-right: $global-spacing/2;
    };
  }
}

/* Buttons */

.button--add-item {
  @extend .button, .button--secondary-light;

  &::before {
    @extend %collecticon-sm-plus;
  }
}

.button--remove-source {
  @extend .button, .button--base-glass;
  &::before {
    @extend %collecticon-trash-bin;
  }
}