@import '~styles/settings/variables';

.country-list {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  padding: $spacing*2 $spacing !important;

  .country-name {
    display: flex;
    color: $primary-color;
    text-decoration: none;
    align-items: center;
  }
}