.layout-container {
    --gap: var(--go-ui-spacing-md);
    --inner-gap: var(--go-ui-spacing-sm);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap);

    .icons-container {
        display: flex;
        flex-shrink: 0;
        gap: var(--inner-gap);
    }

    .children-container {
        flex-grow: 1;
    }

    .actions-container {
        display: flex;
        flex-shrink: 0;
        gap: var(--inner-gap);
    }
}
