/* ==========================================================================
   Region global
   ========================================================================== */

.page--region {
  .inpage__body {
    > * {
      margin-bottom: $global-spacing * 2;
    }

    &:last-child() {
      margin-bottom: 0;
    }
  }

  .fold {
    margin-bottom: $global-spacing * 2;

    &:last-child() {
      margin-bottom: 0;
    }
  }
  
  .region-countries__letter {
    color: $primary-color;
    font-weight: $base-font-bold;
    font-size: 1.2rem;
    margin: ($global-spacing * 1.5) 0;
  }

  .region-countries__list {
    list-style: none;
    @include media(medium-up) {
      column-count: 3;
      column-gap: ($global-spacing * 6);
      column-rule: 1px solid $base-border-color;  
    }
  }

  .region-countries__item {
    display: block;
    margin-bottom: $global-spacing/2;
    .inactive {
      color: rgba($base-color, 0.4);
    }
  }

  .region-countries__link {
    font-size: $font-size-xxl;
    font-weight: $base-font-medium;
  }
  
  .region-countries__linkC {
    padding: 0 ($global-spacing / 1.5) 0 0;
  }

  .region-countries__link-op {
    font-size: 0.875rem;
    margin-top: $global-spacing/2;
  }
}