/* ==========================================================================
   Region global
   ========================================================================== */

.page--region {
  .inpage__body {
    > * {
      margin-bottom: $global-spacing * 2;
    }

    &:last-child() {
      margin-bottom: 0;
    }
  }

  .fold {
    margin-bottom: $global-spacing * 2;

    &:last-child() {
      margin-bottom: 0;
    }
  }
}