@import '~styles/settings/variables';

.radio-input {
  position: relative;

  .radio-list-container {
    display: flex;
    flex-wrap: wrap;
    padding: $spacing/2 0;
  }

  &.disabled {
    opacity: $opacity-disabled-element;
    filter: saturate(50%);
  }

  .clear-button {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: $duration-transition-medium opacity ease-in-out;
    opacity: 0;
  }

  &:hover {
    .clear-button {
      z-index: 1;
      opacity: 1;
    }
  }
}
