.dropdown-menu-item {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: var(--go-ui-spacing-sm);

  .icon-container {
    display: flex;
    align-items: center;
    font-size: var(--go-ui-font-size-md);
    padding: 0 var(--go-ui-spacing-sm);
  }

  .label {
    display: flex;
    align-items: center;
    padding: 0 var(--go-ui-spacing-md);
    font-weight: var(--go-ui-font-weight-medium);
  }

  &:hover {
    background-color: var(--go-ui-color-gray-20);
    cursor: pointer;
  }

  &.disabled {
    pointer-events: none;
    background-color: transparent;
    opacity: 0.5;
  }
}