@import '~styles/settings/_variables.scss';

.tab-list {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 0;

  .step-border {
    position: absolute;
    z-index: -1;
    top: calc((#{$spacing} + 1rem) / 2);
    width: 100%;
    height: $base-border-width*2;
    background-color: $base-border-color;

    .progress {
      width: 0%;
      height: 100%;
      background-color: $primary-color;
      transition: $duration-transition-medium width ease-in-out;
    }
  }

  .start-dummy-content,
  .end-dummy-content {
    border-bottom: $base-border-width solid $base-border-color;
    flex-grow: 1;
    align-self: flex-end;
  }

  &.disabled {
    .step-border {
      opacity: $opacity-disabled-element;
    }
  }
}
