.check-list-input {
    --spacing: var(--go-ui-spacing-sm);
    display: flex;
    flex-direction: column;
    gap: var(--spacing);

    .check-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing);
    }

    &.vertical {
        .check-list-container {
            flex-direction: column;
        }
    }

    &.horizontal {
        .check-list-container {
            flex-direction: row;
        }
    }
}
