.block-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--go-ui-width-separator-md) dashed var(--go-ui-color-gray-40);
    border-radius: var(--go-ui-border-radius-2xl);
    height: 15rem;
}
