   Preparedness Page

.component__block__wrap {
  @include media(medium-up) {
    @include column(2/12, $gutter: .5);
  }
}

.component__block {
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
}

.component__block__title__block {
  font-size: $font-size-sm;
  padding: $global-spacing/2.5;
  border-bottom: 1px solid $base-border-color;
}

.component__block__title {
  color: $secondary-color;
  font-weight: $base-font-semi-bold;
  text-transform: uppercase;
  letter-spacing: $letter-spacing-sm;
}

.component__block__value {
  color: $primary-color;
  font-size: 310%;
  font-weight: $base-font-semi-bold;
}

.component__block__content {
  font-size: $font-size-sm;
  padding: $global-spacing/2 $global-spacing/2 $global-spacing $global-spacing/2;
  text-align: center;
}

.component__block__icon {
  width: 13px;
  height: 13px;
  margin-inline-end: $global-spacing/2;
  vertical-align: sub;
}

.key-emergencies-list-wrap {
  @include media(small-up) {
    display: flex;
    align-items: center;
  }
}

.key-emergencies-list--preparedness {
  font-size: 145%;
  @include column (8/12);

  @include media(small-up) {
    @include column (8/12);
  }
}  

.key-emergencies-list-image {
  @include column (4/12);

  @include media(small-up) {
    @include column (3/12);
  }

  img {
    max-width: 100%;
    height: auto;

    @include media(small-up) {
      float: inline-end;
    }
  }
}

.donot__label__preparedness {
  color: $secondary-color;
  text-align: center;
  text-transform: uppercase;
  font-size: $font-size-sm;
  font-weight: $base-font-semi-bold;
  letter-spacing: $letter-spacing-sm;
  margin: $global-spacing 0 0 0;
}

.donot__label__desc {
  text-align: center;
  font-size: $font-size-sm;
}

.recharts-pie-labels {
  text {
    fill: lighten($secondary-color, 35%);
    font-weight: $base-font-semi-bold;
  }
}