@import '~styles/settings/variables';

.new-three-w {
  .main-content {
    display: flex;
    flex-direction: column;
    gap: $spacing;
  }

  .three-w-program {
    display: flex;
    flex-direction: column;
    gap: $spacing;

    :global {
      .go-input-section {
        box-shadow: $box-shadow-component;
      }
    }
  }
}
