.icons {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: calc(var(--go-ui-spacing-md) * 0.5);
}

.children {
    flex-grow: 1;
}

.actions {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: calc(var(--go-ui-spacing-md) * 0.5);
}