@import '~styles/settings/variables';

.tooltip-content {
  display: flex;
  flex-direction: column;
  padding: $spacing/2 !important;

  hr {
    margin: $spacing/2 0;
  }
}

.estimated-output {
  align-items: flex-start!important;

  .value {
    font-weight: $base-font-bold;
  }

  .label {
    font-weight: $base-font-light;
  }

  .description {
    color: $color-text-light;
  }
}
