@import '~styles/settings/variables';

.country-risk-bar-chart {
  display: flex;
  flex-direction: column;

  .heading {
    display: block;
    padding: 0;

    .risk-status {
      display: flex;
      justify-content: space-between;
      padding-left: $spacing-2 * 0.75;
      padding-right: $spacing-4;
      font-size: $font-size-xxs;
      font-weight: $base-font-semi-bold;
    }
  }

  .content {
    flex-grow: 1;
    scrollbar-gutter: stable;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    gap: $spacing * 0.75;
    padding-right: $spacing;


    &:hover {
      overflow-y: auto;
    }

    .country-card {
      border: 1px solid $grey-titanium;
      padding: $spacing;
    }

    .country-name {
      font-size: $font-size-sm;
      font-weight: $base-font-medium;
    }

    .bar-container {
      height: 0.5rem;
      display: flex;
      background-color: rgba(0, 0, 0, .1);

      .hazard-risk-bar {
        height: 100%;
      }
    }

    .empty-message {
      color: $color-text-message;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 4rem;
    }
  }
}
