@import '~styles/settings/variables';

.select-input {
  .select {
    margin: 0 -1*$spacing;

    :global {
      .go__control {
        border: 0;
        box-shadow: unset;
        min-height: unset;
        background-color: unset;
        padding: 0 $spacing;

        &.go__control--is-focused {
          border: 0;
          box-shadow: unset;

          &:hover {
            border: 0;
            box-shadow: unset;
          }
        }

        .go__value-container {
          padding: unset;

          >* {
            margin: unset;
            padding: unset;
          }
        }

        .go__indicator {
          padding: unset;
        }

        .go__indicator-separator {
          display: none;
        }
      }
    }
  }

  &.disabled {
    :global {
      .go-input-internal-input-section {
        opacity: 1;
      }
    }
  }
}
