@import '~styles/settings/variables';

.situational {
  :global {
    .go-container {
      header {
        background-color: $white;
        padding: $spacing $spacing-2 !important;
      }
    }
  }

  .overview-container {
      display: flex;

      .overview-label {
          font-weight: $base-font-semi-bold;
      }
      .overview-value {
          padding: 0 $spacing-2;
      }
  }
  .overview-description {
      margin: $spacing-3/2 0;
  }

  .graphic {
    display: flex;
    justify-content: space-around;
    padding: $spacing-2;

    .card {
      padding: $spacing;
      background-color: $white;

      img {
        width: 350px;
        max-height: 500px;
      }
    }
  }

  .image {
    display: flex;
    justify-content: space-around;
    padding: $spacing-2;
    background-color: $white;
    
    img {
      object-fit: contain;
      max-height: 300px;
    }
  }

  .image-with-caption {
    display: flex;
    flex-direction: column;
    grid-gap: $grid-gutter;

  }

  .resources {
    display: flex;
    background-color: $white;
    padding: $spacing;
    color: $grey-gravel ;
    
    .column {
      display: flex;
      flex-grow: 1;
      padding: 0 $spacing-3;
      gap: $spacing-5;

      p {
        font-weight: $base-font-medium;
        color: $base-color;
      }
    }
  }
}
