@import '~styles/settings/variables';

.card {
  display: flex;
  flex-direction: column;
  box-shadow: $base-box-shadow;
  background-color: $white;
  overflow: auto;
  margin: $spacing-half;
  border-radius: $base-border-radius;

  .header {
    flex-shrink: 0;
    padding: 0 $spacing;

    .heading {
      border-bottom: $base-border-width solid $base-border-color;
      text-transform: uppercase;
      margin: 0;
      padding: $spacing;
      letter-spacing: $letter-spacing-heading;
      flex-grow: 1;
      font-family: $heading-font-family;
      font-weight: $base-font-semi-bold;
      text-align: center;
    }
  }

  .content {
    flex-grow: 1;
    padding: $spacing;
    overflow: auto;
  }

  .footer {
    font-size: $font-size-sm;
    display: flex;
    flex-shrink: 0;
    color: $grey-cement;
    align-items: center;
    padding: 6px 0;

    .source,
    .reporting-year {
      display: flex;
      padding: 0 4px;
    }

    .label,
    .link,
    .year {
      padding: 6px 4px;
    }
  }
}
