@import '~styles/settings/variables';

%image-item {
  flex-basis: 33%;
  border: $base-border-color solid $base-border-width;
  border-radius: $base-border-radius;

  .image {
    width: 100%;
    height: 20rem;
    object-fit: contain;
    object-position: center center;
    background-color: $grey-fog;
  }

  .caption {
    padding: $spacing;
  }
}

.flash-update {
  .country-list {
    display: flex;
    justify-content: center;
    gap: $spacing;
  }

  .main-content {
    .report-details {
      background-color: $white;

      // NOTE: !important override is necessary here,
      // for production build, the padding
      // disappears when coming back from the edit page
      padding: $spacing*2!important;

      box-shadow: $base-box-shadow;
      margin: $spacing*0.5 0 $spacing*4 0;
      display: flex;
      flex-direction: column;
      gap: $spacing*4;

      .overview-content {
        padding: $spacing;
      }

      .maps {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing;
        padding: $spacing;

        .map-item {
          @extend %image-item;
        }
      }

      .graphics {
        display: flex;
        flex-wrap: wrap;
        gap: $spacing;
        padding: $spacing;

        .graphic-item {
          @extend %image-item;
        }
      }

      .actions-taken {
        display: flex;
        flex-direction: column;
        gap: $spacing;
        padding: $spacing;

        .title {
          font-size: $font-size-sm;
          color: $color-text-light;
        }

        .summary {
          .text {
            white-space: pre-wrap;
          }
        }

        .action-taken-content {
          display: flex;
          flex-direction: column;
          gap: $spacing*2;
          padding: $spacing*0.5 $spacing;

          .actions {
            padding: $spacing*0.5 0;
            display: flex;
            flex-direction: column;
            gap: $spacing*0.25;

            .action {
              font-weight: $base-font-medium;
            }
          }
        }
      }

      .reference {
        padding: $spacing;
        gap: $spacing;
        display: flex;

        .date {
          flex-basis: 10rem;
          flex-shink: 0;
        }

        .description {
          flex-grow: 1;
        }

        .url {
          flex-basis: 20rem;
          word-break: break-all;
        }

        .download-link {
          flex-shrink: 0;
        }
      }
    }

  }

  .container-with-shadow {
    box-shadow: $base-box-shadow;
  }

  .header-with-background {
    background-color: $grey-mist;
  }
}
