@import '~styles/settings/variables';

.radio {
    --cursor: default;
    display: flex;
    align-items: flex-start;
    cursor: var(--cursor);
    padding: $spacing / 2;

    .icon {
        font-size: 1.6em;
    }

    .children {
      flex-direction: column;
      align-items: flex-start;

      .description {
        color: rgba(0, 0, 0, .6);
        font-size: $font-size-xs;
      }
    }

    .input {
        display: none;
    }

    &.active {
        .icon {
            color: $primary-color;
        }
    }

    &.disabled {
        opacity: var(--dui-opacity-disabled-element);
    }

    &:not(.disabled) {
        &:hover {
            background-color: var(--dui-color-background-hover);
        }

        &:not(.read-only) {
            --cursor: pointer;
        }
    }
}
