@import '~styles/settings/variables';

.dot {
  height: 12px;
  width: 12px;
  background-color: grey;
  border-radius: 50%;
}
.dot-connector {
  border-left: 1px solid grey;
}
.question-content {
  display: flex;
  gap: $global-spacing-3;

  .note-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .answers {
    display: flex;
    align-items: center;
  }
}
