@import '~styles/settings/variables';

.province-list {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  padding: $spacing !important;

  .search-title {
    font-size: $font-size-sm;
    color: $title-color;
    font-weight: $base-font-regular;
  }

  :global {
    .calculation-box {
      background-color: red !important;
    }
  }

  .country-name {
    display: flex;
    color: $primary-color;
    text-decoration: none;
    font-weight: $base-font-medium;
    align-items: center;
    gap: $global-spacing*0.5;
    line-height: 1.3rem;
    font-size: $base-font-size;
    padding: $spacing 0;

    &:hover {
      text-decoration: underline;
    }
  }

  .province-name {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    font-weight: $base-font-medium;
    color: $primary-color;
    gap: $global-spacing*0.5;
    text-transform: uppercase;
    border-bottom: $base-border-width solid $base-border-color;
  }
}
