@import '~styles/settings/variables';

.map-container-wrapper {
  position: relative;

  .map-container {
    height: 40rem;

    .map-tooltip {
      .meta {
        margin: 0 $spacing*3*0.25;
        padding: $spacing*0.5;
        border-bottom: $base-border-width solid $base-border-color;
      }

      .top-project-sectors-chart {
        margin: $spacing;
        width: calc(100% - 2 * #{$spacing})!important;
      }
    }
  }

  .map-disclaimer {
    position: absolute;
    left: $mapbox-icon-width + $spacing * 0.5;
    bottom: $spacing * 0.25;
  }
}

.legend {
  display: flex;
  justify-content: flex-end;
  background-color: $color-background;
  padding: $spacing;

  .legend-item {
    display: flex;
    align-items: center;
    padding: $spacing*0.5;

    .point {
      height: 1em;
      width: 1em;
      margin: $spacing*0.5;
      border-radius: 50%;
    }

    .label {
      padding: $spacing*0.5;
    }
  }
}
