@import '~styles/settings/variables';

.map {
  .map-container-wrapper {
    position: relative;

    .map-container {
      height: 60vh;

      .project-detail-item {
        padding: $spacing*0.5 $spacing*3*0.25;
      }
    }

    .map-disclaimer {
      position: absolute;
      left: $mapbox-icon-width + $spacing*0.5;
      bottom: $spacing*0.25;
    }
  }
}

.legend {
  display: flex;
  padding: $spacing*0.5;

  .legend-item {
    display: flex;
    align-items: center;
    padding: $spacing*0.5;

    .point {
      height: 0.6em;
      width: 0.6em;
      margin: $spacing*0.5;
      border-radius: 50%;
    }

    .label {
      padding: $spacing*0.5;
    }
  }
}
