@import '~styles/settings/variables';

.filter-output {
  display: flex;
  flex-direction: column;
  padding: 0;

  .district-list {
    display: flex;
    flex-direction: column;
    gap: $spacing*0.75;
    padding: 0;

    .district-name {
      display: flex;
      gap: $spacing*0.5;
      align-items: center;
      background-color: $grey-pearl;
      padding: $spacing*0.5;

      .label {
        font-weight: $base-font-medium;
        flex-grow: 1;
      }

      .dismiss-button {
        flex-shrink: 0;
        opacity: 0;
      }

      &:hover {
        .dismiss-button {
          opacity: 1;
        }
      }
    }

    .admin-two-list {
      padding: $spacing*0.75 $spacing*1.5;
      display: flex;
      flex-direction: column;
      gap: $spacing*0.5;
      background-color: $grey-titanium;

      .admin-two-item {
        display: flex;
        gap: $spacing * 0.5;

        .label {
          font-weight: $base-font-light;
        }

        .dismiss-button {
          flex-shrink: 0;
          opacity: 0;
        }

        &:hover {
          .dismiss-button {
            opacity: 1;
          }
        }
      }
    }
  }
}
