@import '~styles/settings/_variables.scss';

.new-field-report-form {
  padding: 0;

  .tab-list {
    justify-content: center;
    margin: $spacing*2 4vw;
  }
}

.actions {
  padding: $spacing*3 $spacing;
  display: flex;
  align-items: center;
  justify-content: center;

  >* {
    margin: 0 $spacing*0.5;
  }
}

.error-message {
    padding: $spacing*4 $spacing*2 !important;
    opacity: 0.7;

    h3 {
      color: $danger-color;
    }

    p {
      margin: 0;
    }
}

.language-mismatch {
  text-align: center;
}
