@import '~styles/settings/variables';

.alert {
  padding: $spacing / 2;
  background-color: $grey-cement;
  color: $color-text-on-dark;
  border-radius: $base-border-radius;
  width: $width-alert;

  .content {
    display: flex;
    align-items: flex-start;
    font-weight: $base-font-medium;
    padding: $spacing / 2;

    .close-button {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .icon {
      font-size: 1.2em;
      margin-top: $spacing/4;
    }

    .content {
      flex-direction: column;
      align-items: initial;
    }

    p {
      margin: 0;
    }

    strong {
      font-weight: $base-font-bold;
    }
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: $spacing / 2;
    font-weight: $base-font-bold;

    .copy-debug-message-button {
      padding: $spacing / 2;
      text-transform: uppercase;
      font-size: $font-size-sm;
    }
  }

  &.success {
    background-color: $success-color;
  }

  &.danger {
    background-color: $danger-color;
  }

  &.warning {
    background-color: $warning-color;
  }
}
