@import '~styles/settings/variables';

.map {
  .map-container-wrapper {
    position: relative;

    .map-container {
      height: 60vh;

      .project-detail-item {
        padding: $spacing;
      }

      .loading {
        width: 100%;
        margin: 0;
        height: 10rem;
        border: $base-border-width solid $base-border-color;
        border-radius: 0;

        :global {
          .spinner {
            display: flex;
            align-items: center;
          }
        }
      }
    }

    .map-disclaimer {
      position: absolute;
      left: $mapbox-icon-width + $spacing*0.5;
      bottom: $spacing*0.25;
    }
  }

  .legend {
    display: flex;
    align-items: center;
    padding: $spacing*0.5;

    .legend-item {
      display: flex;
      align-items: center;
      padding: $spacing*0.5;

      .color {
        width: 0.6em;
        height: 0.6em;
        margin: $spacing*0.5;
        border-radius: 50%;
      }

      .label {
        padding: $spacing*0.5;
      }
    }
  }
}
