@import '~styles/settings/variables';

.checkbox {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  gap: $spacing*0.5;

  .checkmark {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    font-size: 1.5em;
    transition: $duration-transition-medium color ease-in-out;
  }

  .input {
    display: none;
  }

  &.checked {
    .checkmark {
      color: $primary-color;
    }
  }

  &:focus,
  &:hover {
    .checkmark {
      color: $primary-color;
    }
  }
}

