@import '~styles/settings/variables';

.number-output {
  display: flex;
  font-family: $base-font-family;
  font-size: inherit;

  .prefix,
  .sign,
  .number,
  .normalization-suffix,
  .suffix {
    white-space: nowrap;
  }
}
