.container {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-lg);

    .border {
        flex-shrink: 0;
        margin: 0;
        background-color: var(--go-ui-color-separator);
        height: var(--go-ui-width-separator-md);
    }
}
