.tab-list {
    display: flex;
    position: relative;
    justify-content: center;
    z-index: 0;

    .step-border {
        position: absolute;
        top: calc((var(--go-ui-spacing-md) + 1rem) / 2);
        z-index: -1;
        background-color: var(--go-ui-color-gray-30);
        width: 100%;
        height: calc(var(--go-ui-spacing-px)*2);

        .progress {
            transition: var(--go-ui-duration-transition-medium) width ease-in-out;
            background-color: var(--go-ui-color-primary-red);
            width: 0%;
            height: 100%;
        }
    }

    .start-dummy-content,
    .end-dummy-content {
        align-self: flex-end;
        flex-grow: 1;
        border-bottom: var(--go-ui-spacing-px) solid var(--go-ui-color-gray-30);
    }

    &.disabled {
        .step-border {
            opacity: var(--go-ui-opacity-5);
        }
    }

    &.secondary {
        border-radius: calc(1em + var(--go-ui-spacing-md));
        background-color: var(--go-ui-color-background);
        width: fit-content;
    }
}
