@import '~styles/settings/variables';

.dot {
  height: 12px;
  width: 12px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}
.dot-connector {
  border-left: 1px solid grey;
}
.question-content {
  display: flex;
  gap: $global-spacing-3;
  padding-right: 20%;
  // overflow-y: visible;

  .note-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .answers {
    display: flex;
    gap: $global-spacing-2;
  }
}
