@import '~styles/settings/variables';

.custom-activity {
  background-color: $color-background;
  border-top: 2px solid transparent;

  .improvement-select {
    width: $global-spacing-table;
  }

  .input-section {
    background-color: $color-background;
    overflow-y: visible;
    display: flex;

    .question-content {
      display: flex;
      gap: $global-spacing-3;
      // overflow-y: visible;

      .note-section {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }

      .answers {
        display: flex;
        gap: $global-spacing-2;
      }
    }
  }


//   .empty-message {
//     padding: 0 $spacing;
//     color: $color-text-light;
//   }

//   .actions {
//     display: flex;
//     justify-content: flex-end;
//   }

//   .point-count-input {
//     width: 10rem;
//   }

//   &.errored {
//     border-top-color: $primary-color;
//   }
}
