@import '~styles/settings/variables';

.risk-table-container {
  .table-description {
    gap: $spacing;
    padding: $spacing;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $spacing*2;
  }
}
