@import '~styles/settings/_variables.scss';

.reference {
  .actions {
      display: flex;
      justify-content: center;
      align-items: center;
  
      button {
          background-color: $danger-color;;
          color: $white;
      }

      span {
          padding: 0 $spacing;
          color: $grey-silver;
      }
  }

  .first-row {
    display: flex;

    .input-name {
      flex-grow: 2;
    }
  }

  .second-row {
    display: flex;

    .input-url {
      flex-grow: 1;
      
      textarea {
        height: 35px;
      }
    }

    .actions {
      flex-grow: 1;
    }
  }
}