@import '~styles/settings/variables';

.input-section {
  display: flex;
  padding: $spacing;
  background-color: $white;

  .section-title {
    flex-basis: 30%;
    padding: $spacing $spacing/2;
    max-width: 320px;
    flex-shrink: 0;

    .title {
      font-weight: $base-font-bold;
      padding: $spacing/2;
    }

    .description {
      font-weight: $base-font-light;
      opacity: 0.6;
      font-size: $font-size-sm;
      padding: $spacing/2;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }

  .section-content {
    display: flex;
    flex-grow: 1;
    padding: $spacing/2;

    >* {
      flex-grow: 1;
      flex-basis: 0;
      margin: $spacing/2;
    }
  }

  &.multi-row {
    .section-content {
      flex-wrap: wrap;
    }
  }

  &.one-column {
    .section-content {
      >* {
        flex-basis: calc(100% - #{$spacing});
      }
    }
  }

  &.two-column {
    .section-content {
      >* {
        flex-basis: calc(50% - #{$spacing});
      }
    }
  }

  &.three-column {
    .section-content {
      >* {
        flex-basis: calc(100% / 3 - #{$spacing});
      }
    }
  }
}
