@import '~styles/settings/variables';

.people-label {
  font-weight: 500;
  color: grey;
  width: 8rem;
}

.people-targeted-label {
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  color: grey;
  width: 16rem;
}

.year,
.grey-row {
  background-color: #fafafa;
}

.grey {
  .label {
    width: $spacing * 6;
  }

  .value {
    width: $spacing;
    display: flex;
    justify-content: space-between;
  }
}

.field-output {
  .label {
    width: 15rem;
    flex-shrink: 0;
  }

  .value {
    font-weight: $base-font-medium;
    padding: $spacing;
  }

  .field-output {
    .label {
      width: auto;
      padding: $spacing;
    }
  }
}
.row {
  .field-output {
    .label {
      transform: rotate(0deg);
      width: $spacing * 8;
    }

    .value {
      width: 4rem;
      display: flex;
      justify-content: center;
      padding: $spacing;
    }
  }
}