@import '~styles/settings/variables';

.content {
  .content-header {
    background-color: $grey-mist;
  }
  .row {
    display: flex;

    >* {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.value {
  width: $spacing;
  display: flex;
  justify-content: space-between;
}


.field-output {
  .label {
    width: 15rem;
    flex-shrink: 0;
  }

  .value {
    font-weight: $base-font-medium;
    padding: $spacing;
  }
}

.row {
  .field-output {
    .label {
      transform: rotate(0deg);
      width: $spacing * 8;
    }

    .value {
      width: 14rem;
      display: flex;
      justify-content: center;
      padding: $spacing;
      color: rgb(75, 74, 74);
    }
  }
}