@import '~styles/settings/variables';

.global-three-w {
  .info-container {
    display: flex;
    padding: $spacing/2;

    >* {
      margin: $spacing/2;
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .charts-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    .project-per-sector-chart {
      margin: $spacing/2;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 20rem;
    }

    .programme-type-chart {
      margin: $spacing/2;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 20rem;
    }

    .top-tags-chart {
      margin: $spacing/2;
      flex-basis: 0;
      flex-grow: 1;
      min-width: 20rem;
    }
  }

  .map-container {
    height: 40rem;

    .meta {
      margin: 0 $spacing*3/4;
      padding: $spacing/2;
      border-bottom: $base-border-width solid $base-border-color;
    }
  }
}
