.dropdownCollection {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: var(--go-ui-spacing-2xl);
    gap: var(--go-ui-spacing-2xl);

    .dropdown-Options {
        display: flex;
    }
}