.map-input-content,
.image-input-content {
    display: flex;
    flex-direction: column;

    .preview-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-md);
    }
}
