@import '~styles/settings/variables';

.search {
  .reset {
    display: flex;
    justify-content: space-between;

    .reset-button {
      background: none;
      border: none;
    }
  }

  .feedback-section {
    display: flex;
    flex-direction: column;
    gap: $spacing*2;

    .feedback {
      font-size: medium;
      font-style: italic;

      .feedback-link {
        &:hover {
          text-decoration: underline;
          color: $primary-color;
          opacity: 1;
        }
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $spacing * 4;
    padding: 0;
  }

  .empty-search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $spacing*3;
    color: $color-text-disabled;
    font-size: $font-size-lg;
    font-weight: $base-font-medium;
    gap: $spacing*2;

    .icon {
      font-size: 10rem;
    }
  }
}

.view-all {
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}
