@import '~styles/settings/variables';

.search {

  .reset {
    display: flex;
    justify-content: space-between;

    .reset-button {
      background: none;
      border: none;
    }

    .input-section {
      padding: 0 $spacing !important;
      margin: 0 !important;
      box-shadow: unset;
      overflow-y: visible;

      >* {
        background-color: none;
        border-bottom: 1px solid grey;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $spacing * 4;
    padding: 0;
  }

  .empty-search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: $spacing*3;
    color: $color-text-disabled;
    font-size: $font-size-lg;
    font-weight: $base-font-medium;
    gap: $spacing*2;

    .icon {
      font-size: 10rem;
    }
  }
}

.view-all {
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}