@import '~styles/settings/variables';

.field-report-table {
  .content {
    table {
      width: 100%;

      td {
        border: $base-border-width solid $base-border-color;
        padding: $spacing;
      }
    }
  }
}
