.text-box {
    display: flex;
    padding: var(--go-ui-spacing-2xl);

    .raw-text-example {
        display: flex;
        align-items: center;
        padding: var(--go-ui-spacing-sm);
        background-color: var(--go-ui-color-gray-30);
        width: 50%;
    }
}