@import '~styles/settings/variables';

.container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:not(.sub) {
    >.inner-container {
      padding: 0 $spacing*8;
    }
  }

  >.inner-container {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: $media-large;
    overflow: auto;

    .header {
      flex-shrink: 0;
      padding: $spacing * 3/4;
      border-bottom: $base-border-width solid $base-border-color;
    }

    .content {
      flex-grow: 1;
      overflow: auto;
      padding: $spacing 0;
    }
  }

  &.sub {
    >.inner-container {
      .content {
        padding: $spacing/2 0;
      }
    }
  }

  &.without-header-border {
    >.inner-container {
      .header {
        border-bottom: none;
      }
    }
  }
}
