@import '~styles/settings/variables';

.container {
  --overflow: unset;
  --inner-container-padding: 0 #{$spacing};
  --inner-gap: #{$spacing};
  --header-padding: 0 #{$spacing};

  overflow: var(--overflow);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $media-medium) {
    --inner-container-padding: 0 #{$spacing*8};
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: var(--inner-gap);
    width: 100%;
    max-width: $media-large;
    padding: var(--inner-container-padding);

    .header {
      flex-shrink: 0;
    }

    .header-border {
      margin: 0;
    }

    .content {
      flex-grow: 1;
    }

    .footer {
      flex-shrink: 0;
    }
  }

  &.sub {
    --inner-container-padding: 0 #{$spacing};
  }

  &.visible-overflow {
    --overflow: visible;
  }
}
