@import '~styles/settings/variables';

.strategic-priorities-table {
  .content {
    padding: 0!important;

    table {
      width: 100%;

      th {
        text-align: left;
        padding: $spacing;
        border-bottom: $base-border-width solid $base-border-color;
        background-color: $color-background;
      }

      td {
        padding: $spacing;
        border-bottom: $base-border-width solid $base-border-color;
      }
    }
  }
  .responsibility-section {
    display: flex;
  }
}
