@import '~styles/settings/variables';

.risk-table {
  width: 100%;
  margin: $spacing*2 0;
}

.return-period-table-container {
  margin: $spacing*2 0;

  .return-period-table {
    width: 100%;
  }
}

.container-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-input {
  width: 14rem;
}
