@import '~styles/settings/variables';

.input-container {
  padding: $spacing/2 $spacing;

  .input-section {
    display: flex;
    align-items: center;
    border: $base-border-width solid $base-border-color;
    border-radius: $base-border-radius;

    .internal-input-container {
      flex-grow: 1;
    }
  }

  &.disabled {
    .input-section {
      opacity: .5;
    }
  }
}
