@import "~styles/settings/variables";

.month-selector {
  display: flex;
  position: relative;

  .track {
    border-bottom: $base-border-width*2 solid $grey-titanium;
    position: absolute;
    left: $spacing*2;
    width: calc(100% - #{$spacing*4});
    bottom: 0;
  }

  .tick-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;

    .month-name {
      text-transform: uppercase;
      font-weight: $base-font-medium;
      font-size: $font-size-xs;
      padding: $spacing;
      text-shadow: 0 0 5px $white;
    }

    $month-selector-tick-height: 0.7em;

    .tick {
      position: absolute;
      height: $month-selector-tick-height;
      width: $base-border-width*2;
      background-color: $grey-titanium;
      bottom: 0;
      transform: translateY(30%);
      transition: .2s all ease-in-out;
    }

    &:hover {
      .tick {
        width: $month-selector-tick-height;
        height: $month-selector-tick-height;
        border-radius: 50%;
      }
    }

    &.active {
      .tick {
        width: $month-selector-tick-height;
        border-radius: 50%;
        height: $month-selector-tick-height;
        background-color: $primary-color;
        transform: translateY(30%) scale(1.21);
      }
    }
  }
}
