@import '~styles/settings/variables';

.intervention-input {
  display: flex;
  background-color: $white;

  .input-section {
    display: flex;
    flex-grow: 1;
  }

  .male-female {
    display: flex;
    gap: $spacing;
  }

  .mid-container {
    display: flex;
    flex-direction: column;
    gap: $spacing*2;
  }

  .title-action {
    display: flex;
    align-items: center;
    gap: $spacing;
  }
}