/* Per Forms
   ========================================================================== */


.per_form_area {
  font-weight: bold;
  font-size: 25px;
}

.per_form_ns {
  font-weight: bold;
  font-size: 20px;
}

.per_form_question {
  font-size: 15px;
  text-decoration: underline;
}

.per__form__col {
	margin-top: $global-spacing;

	.button {
	  width: 100%;
	}
}

.list__each__block {
	font-weight: $base-font-semi-bold; 
	background-color: $grey-fog;
	margin: 0 0 $global-spacing 0;
	padding: $global-spacing;
}

.list__each__button {
	margin-inline-start: auto;
}


/* Account Forms
   ========================================================================== */

//.form__account__info {
 //@include column(6/12);
//}

.account__op__each__link {
	padding-bottom: ($spacing * 1.5);
}

.account__op__each__button {
	padding-bottom: ($spacing * 1.5);
}
