/* Per Forms
   ========================================================================== */


.per_form_area {
  font-weight: bold;
  font-size: 25px;
}

.per_form_ns {
  font-weight: bold;
  font-size: 20px;
}

.per_form_question {
  font-size: 15px;
  text-decoration: underline;
}

.per__form__col {
	margin-top: $global-spacing;

	@include media(small-up) {
		@include column(4/12, $cycle: 3);
	}

	.button {
	  width: 100%;
	}
}

.list__each__block {
	font-weight: $base-font-semi-bold; 
	background-color: $grey-fog;
	margin: 0 0 $global-spacing 0;
	padding: $global-spacing;
}

.list__each__button {
	margin-left: auto;
	// padding-left: 3%;
}


/* Account Forms
   ========================================================================== */

.form__account__info {
 @include column(6/12);
}

.account__op__block {
	@include media(medium-up) {
		@include column(6/12, $cycle: 2);
	}
}

.account__op__title {
	@include media(small-up) {
		@include column(2/12);
	}
}

.account__op__links {
	@include media(small-up) {
		@include column(10/12);
	}
}

.account__op__each__link {
	padding-bottom: $global-spacing;

	@include media(small-up) {
		@include column(8/12);
	}
}

.account__op__each__button {
	padding-bottom: $global-spacing;

	@include media(small-up) {
		@include column(4/12);
	}
	
}
