.card {
    display: flex;
    flex-direction: column;
    border-radius: var(--go-ui-border-radius-sm);
    box-shadow: var(--go-ui-box-shadow-sm);
    background-color: var(--go-ui-color-background);
    padding: var(--go-ui-spacing-md);
    width: 15rem;
    gap: var(--go-ui-spacing-sm);

    .content {
        padding: var(--go-ui-spacing-sm);
    }
}