@import '~styles/settings/variables';

.content {
  display: flex;

  .table-title {
    transform: rotate(90deg);
    background-color: $grey-mist;
  }

  .table-header {
    transform: rotate(360deg);
    background-color: $grey-mist;

    .label {
      width: 5.5rem;
    }
  }
}

.row {
  .field-output {
    .label {
      transform: rotate(0deg);
      width: $spacing * 8;
    }

    .value {
      width: 4rem;
      display: flex;
      justify-content: center;
      padding: $spacing;
    }
  }
}

.field-output {
  display: flex;

  .label {
    width: 4.5rem;
    transform: rotate(-90deg);
    flex-shrink: 0;
  }

  .value {
    font-weight: $base-font-medium;
  }
}

.row {
  display: flex;

  >* {
    flex-basis: 0;
    flex-grow: 1;
  }
}