@import '~styles/settings/variables';

.year {
  display: flex;
}

.people-label {
  font-weight: 500;
  color: grey;
  width: 4rem;

}

.year,
.grey-row {
  background-color: #fafafa;
}

.grey {
  .label {
    width: $spacing * 6;
  }

  .value {
    width: $spacing;
    display: flex;
    justify-content: space-between;
  }
}

.field-output {
  display: flex;

  .label {
    width: 10rem;
    flex-shrink: 0;
  }

  .value {
    font-weight: $base-font-medium;
  }

  .field-output {
    .label {
      width: auto;
    }
  }
}