@import '~styles/settings/_variables.scss';

.eap-overview {
  :global {
    .go-input-section {
      width: 100%;
    }
  }

  .eap-overview-container {
    background-color: $white;
  }

  .eap-country {
    display: flex;
  }

  .eap-disaster {
    width: 50%;
  }
}

.urban-to-rural {
  .inputs {
    display: flex;
  }
}

.key-partners {
  display: flex;
}

.actions {
  flex-basis: unset;
  flex-grow: unset;

  .add-key-button {
    display: flex;
    justify-content: flex-end;
    margin-top: $spacing;
  }
}
.upload-document{
  padding: $spacing/4;
}