@import '~styles/settings/_variables.scss';

.eap-overview {
  :global {
    .go-input-section {
      box-shadow: $box-shadow-component;
    }
  }
}

.urban-to-rural {
  .inputs {
    display: flex;
  }
}

.key-partners {
  display: flex;
}

.actions {
  flex-basis: unset;
  flex-grow: unset;
  padding: $spacing;
}