.input-section {
    display: flex;
    background-color: var(--go-ui-color-primary-white);
    padding: calc(var(--go-ui-spacing-md)*2);
    gap: calc(var(--go-ui-spacing-md)*2);

    .section-title {
        display: flex;
        flex-basis: 30%;
        flex-direction: column;
        flex-shrink: 0;
        max-width: 320px;
        gap: var(--go-ui-spacing-md);

        .title {
            font-weight: var(--go-ui-font-weight-bold);
        }

        .description {
            padding: 0;
        }
    }

    &.full-width-column {
        .section-title {
            display: none;
        }
    }

    &.special-description {
        .section-title {
            .description {
                opacity: 0.6;
                white-space: pre-wrap;
                word-wrap: break-word;
                font-size: var(--go-ui-font-size-xs);
                font-weight: var(--go-ui-font-weight-light);
            }
        }
    }

    .section-content {
        display: flex;
        align-items: flex-start;
        flex-grow: 1;
        gap: var(--go-ui-spacing-md);

        >* {
            flex-basis: 0;
            flex-grow: 1;
        }
    }

    &.multi-row {
        .section-content {
            flex-wrap: wrap;
        }
    }

    &.one-column {
        .section-content {
            >* {
                flex-basis: calc(100% - #{var(--go-ui-spacing-md)});
            }
        }
    }

    &.two-column {
        .section-content {
            >* {
                flex-basis: calc(50% - #{var(--go-ui-spacing-md)});
            }
        }
    }

    &.three-column {
        .section-content {
            >* {
                flex-basis: calc(100% / 3 - #{var(--go-ui-spacing-md)});
            }
        }
    }

    @media (max-width: $media-medium) {
        flex-wrap: wrap;

        .section-title {
            flex-basis: 100%;
            max-width: unset;
        }

        .section-content {
            flex-basis: 100%;
        }
    }
}
