@import '~styles/settings/variables';

.dropdown-container {
  padding: $spacing*0.5;
  max-width: 24rem;

  .content {
    padding: $spacing*0.5 $spacing!important;
    font-size: $font-size-sm;
  }
}
