@import '~styles/settings/_variables.scss';

.tab {
    border: 0;
    border-radius: 0;
    padding: $spacing $spacing*3;
    color: $color-text;
    font-weight: $base-font-bold;
    transition: $duration-transition-medium color, background-color ease-in-out;

    &.disabled {
        pointer-events: none;
    }

    &.primary {
        border-bottom: $base-border-width solid $base-border-color;

        &.active {
          border-bottom-color: $primary-color;
          color: $primary-color;
        }

        &.disabled {
           color: $color-text-disabled;
           border-bottom-color: $base-border-color;
        }
    }

    &.secondary {
        &.active {
            color: $primary-color;
            background-color: lighten($primary-color, 33%);
        }

        &.disabled {
            color: $color-text-disabled;
        }
    }

    &.step {
        position: relative;
        text-transform: uppercase;
        color: $color-text-light;

        &:hover {
          color: $color-text;
        }

        &.active {
            color: $primary-color;
        }

        &.disabled {
            color: $color-text-disabled;
        }
    }
}

.tab-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 $spacing*2;
  flex-basis: 0;
  flex-grow: 1;

  .step-circle {
    border-radius: 50%;
    padding: $spacing*1/3;
    border: $base-border-width*2 solid transparent;
    transition: $duration-transition-slow border-color ease-in-out;
    background-color: $color-background;

    .inner-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: lighten($color-text, 50%);
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      transition: $duration-transition-slow background-color ease-in-out;

      .icon {
        color: $color-text-on-dark;
        padding: 0.1em;
      }
    }
  }

  &.completed {
    .step-circle {
      .inner-circle {
        background-color: lighten($color-text, 20%);
      }
    }
  }

  &.active {
    .step-circle {
      border-color: $primary-color;

      .inner-circle {
        background-color: $primary-color;
      }
    }
  }

  &.disabled {
    .step-circle {
      opacity: $opacity-disabled-element;
      filter: saturate(50%);
    }
  }
}
