@import '~styles/settings/variables';

.country-plan {
  display: flex;
  flex-direction: column;
  gap: $spacing * 4;
  padding: $spacing*3 $spacing;

  .header {
    .heading-container {
      display: flex;
      flex-direction: row;
      justify-content: center;

      .heading {
        flex-grow: unset;
      }
    }
  }

  .download-links {
    display: flex;
    flex-direction: column;
    gap: $spacing;
  }

  .stats {
    display: flex;
    justify-content: center;
    gap: $spacing;
  }

  .tables-section {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing * 2;
    align-items: flex-start;

    .strategic-priority-table {
      flex-grow: 1;
    }

    .coordination-table {
      flex-grow: 1;
    }
  }

  .errored,
  .no-plan {
    display: flex;
    justify-content: center;
    color: $color-text-message;
    font-size: $font-size-lg;
  }
}
