@import '~styles/settings/variables';

.share-modal {
  width: 25rem;
  height: 20rem;
  max-width: 100vw;
  max-height: 96vh;
  background-color: #fff;
  padding: $spacing;
  border-radius: .3rem;
  align-items: center;

  .heading-content {
    display: flex;
    flex-direction: column;
    gap: $spacing;
    text-transform: initial;
    letter-spacing: 0;
    line-height: 1rem;

    .heading {
      font-size: 14px;
      font-weight: 500;
    }

    .description {
      font-size: 12px;
      font-weight: 400;
    }
  }

}
