@import '~styles/settings/variables';

.map-container {
  outline: none;
  display: flex;
  flex-direction: column;
  position: relative;

  .map-disclaimer {
    position: absolute;
    left: $mapbox-icon-width + $spacing*0.5;
    bottom: $spacing*0.25;
  }

  :global {
    .mapboxgl-popup {
      height: 18rem;
    }
  }

  .wrapper-for-sidebar {
    display: flex;
    flex-grow: 1;
    position: relative;

    .map {
      flex-grow: 1;
    }

    .sidebar {
      background-color: $white;
      box-shadow: $base-box-shadow;
      position: absolute;
      width: 20rem;
      max-height: calc(100% - #{$spacing*2} - 1rem);
      right: $spacing;
      top: $spacing;
    }
  }

  .footer {
    display: flex;
    background-color: $grey-mist;
    padding: $spacing;

    .legend {
      flex-grow: 1;
      display: flex;
      gap: $spacing*3;
      flex-wrap: wrap;
      padding: $spacing;
      background-color: $grey-mist;
      flex-basis: 100%;

      .legend-title {
        color: $secondary-color;
        font-weight: $base-font-bold;
      }

      .legend-item {
        display: flex;
        align-items: center;
        gap: $spacing;

        .color {
          height: 1em;
          width: 1em;
          opacity: 0.5;
        }

        .label {
          font-weight: $base-font-medium;
        }
      }
    }

    .source {
      flex-shrink: 0;
    }
  }

}

