@import '~styles/settings/variables';

.progress {
  .progress-label {
    display: flex;
    justify-content: center;
  }

  .progress-bar {
    background-color: $grey-titanium;
    height: 0.25rem;
    width: 100%;

    .progress-done {
      background: $primary-color;
      height: 100%;
      opacity: 1;
    }
  }
}