@import '~styles/settings/variables';

.footer {
  display: flex;
  background-color: $grey-mist;
  padding: $spacing;

  .legend {
    flex-grow: 1;
    display: flex;
    gap: $spacing*3;
    flex-wrap: wrap;
    padding: $spacing;
    background-color: $grey-mist;
    flex-basis: 100%;
    align-items: center;
    justify-content: space-between;

    .legend-content {
      display: flex;
      gap: $spacing-2;

      .legend-title {
        color: $secondary-color;
        font-weight: $base-font-bold;
      }

      .legend-item {
        display: flex;
        align-items: center;
        gap: $spacing;

        .color {
          height: 1em;
          width: 1em;
        }

        .label {
          font-weight: $base-font-medium;
        }
      }
    }
  }

  .source-container {
    display: flex;
    align-items: center;

    svg {
      align-self: center;
    }
  }

  .source-label {
    display: flex;
    gap: $spacing * 0.5;
  }
}

.tooltip {
  background: $color-foreground;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  padding: $spacing * 0.5;
  opacity: 1;
  max-width: 400px;
  color: $color-text;

  .tooltip-content {
    padding: $spacing*0.5 $spacing!important;
    font-size: $font-size-sm;

    a {
      color: $secondary-color;
      text-decoration: underline;
    }
  }
}
