.alert {
    display: flex;
    flex-direction: column;
    border-radius: var(--go-ui-border-radius-md);
    box-shadow: var(--go-ui-box-shadow-xl);
    padding: var(--go-ui-spacing-lg);
    width: calc(14rem + 16vw);
    gap: var(--go-ui-spacing-md);

    .content {
        display: flex;
        align-items: flex-start;
        gap: var(--go-ui-spacing-md);

        .close-button {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            flex-shrink: 0;
            font-size: var(--go-ui-font-size-xl);
            color: var(--go-ui-color-white);
        }

        .content {
            align-items: initial;
            flex-direction: column;
            font-weight: var(--go-ui-font-weight-medium);
            color: var(--go-ui-color-white);
        }
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--go-ui-spacing-sm);
    }

    &.info {
        background-color: var(--go-ui-color-gray-80);
    }

    &.success {
        background-color: var(--go-ui-color-positive);
    }

    &.danger {
        background-color: var(--go-ui-color-negative);
    }

    &.warning {
        background-color: var(--go-ui-color-warning);
    }
}
