@import '~styles/settings/variables';

.surge-alerts-table {
  .content {
    table {
      width: 100%;

      th {
        text-align: left;
        border-bottom: $base-border-width solid $base-border-color;
        background-color: $color-background;
      }

      td {
        border-bottom: $base-border-width solid $base-border-color;
      }
    }
  }
}
