@import '~styles/settings/_variables.scss';

.national-society-actions,
.needs-identified {
  .actions {
    display: flex;
    align-items: flex-end;
    padding: $spacing*0.5;
  }
}

.map-input-content,
.image-input-content {
  display: flex;
  flex-direction: column;

  .preview-list {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing;
  }
}