@import '~styles/settings/_variables.scss';

.early-action {
  :global {
    .go-input-section {
      box-shadow: $box-shadow-component;
    }
  }
}

.sector-container {
  background-color: $white;

  .sector {
    display: flex;
    justify-content: space-around;
    width: 50%;

    >* {
      flex-grow: 1;
      flex-basis: 0;
    }

    .early-action-button {
      flex-grow: 0;
    }
  }
}
