@import '~styles/settings/_variables.scss';

.context {
  .actions {
    justify-content: flex-end;
    flex-basis: unset;
    flex-grow: unset;
    padding: 0 $spacing;
  }
}

.addCountryButtonContainer {
  :global {
    padding: 0px $spacing;
    
    .styles_section-title__2CZN8 {
      padding: 0px;
    }
    
    .styles_section-content__3E58e {
      justify-content: flex-end;
      padding: 0px;
    }
  }
}
