//.card_box_container {
  //margin-top: 1rem;
//}

.card_box_container--op {
  @include flex;
}

.card_box {
  //float: left;
  //font-size: 1.5rem;
  //text-align: left;
  //padding-inline-start: 5px;
  //@include media(xsmall-only) {
  padding: ($global-spacing * 0.8) ($global-spacing * 1.5);
  width: 100%;
  //}
  // @include media(small-up) {
  //   width: 33%;
  // }
}

.card_box_no {
  color: $grey-soot;
  font-weight: $base-font-semi-bold;
  font-size: $font-size-lg;
}

.card_box_left {
  //@include media(xsmall-only) {
  border-bottom: 1px solid $base-border-color--light;
  //}
  // @include media(small-up) {
  //   border-inline-end: 1px solid base-border-color;
  // }
}

.ifrc_supported_badge {
  float: right;
  width: 100%;
  margin-top: 1rem;
  background-color: #fafafa;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #f5333f;
}

.card_box_full {
  width: 100%;
  text-align: left;
  //padding: $global-spacing $global-spacing ($global-spacing / 2) $global-spacing;
  justify-content: space-between;
  align-items: baseline;

  .progress-bar {
    width: 80%;
  }

  .progress-bar__key {
    display: inline-block;
    padding-inline-start: 5px;
    text-align: right;
    width: 20%;
    float: right;
  }
}

.card_box_footer {
  padding: $global-spacing $global-spacing ($global-spacing / 2) $global-spacing;
  margin-bottom: ($global-spacing / 2);
}

.more_button {
  float: right;
}

.last_updated {
  font-size: $font-size-xxs;
  margin-bottom: 10px;
}

.card_box--op {
  width: 50%;
  //@include span(6/12, $offset: 0, $cycle: 0);


  &:first-of-type {
    border-inline-end: 1px solid $base-border-color--light;
  }
}

.card_box_fc {
  color: $black;
  text-align: right;
  font-weight: $base-font-medium;
}