@import '~styles/settings/variables';

.button--capsule-operation-card {
  font-size: $font-size-sm;
}
.card_box_content{
  display: flex;
  justify-content: space-between;

  > a {
    width: 100%;
  }
}

.card_box_title {
  padding: $spacing ($spacing * 1.5);
  width: 100%;
}

.card_box {
  &:hover {
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.14);
  };
}

.card_box, .card_box_footer {
  padding: $spacing ($spacing * 1.5);

  @media(min-width: $media-desktop) {
    padding: $spacing $spacing-2;
  }
}

.card_box_title {
  padding-bottom: $spacing-half;
}

.card__title {
  line-height: 1.3;
}

.card_box_no {
  color: $grey-coal;
  font-weight: $base-font-semi-bold;
  font-size: 1.2rem;
  line-height: 1.2;

  @include media(medium) {
    font-size: 1rem;
  }

  @media(min-width: $media-desktop) {
    font-size: 1.5rem;
  }
}

.card_box_left_top {
  height: 6.37rem;
  border-top: 1px solid $base-border-color--light;
}

.card_box_left {
  height: 5rem;
}

.ifrc_supported_badge {
  float: right;
  width: 100%;
  margin-top: 1rem;
  background-color: #fafafa;
  font-family: Poppins;
  font-size: 10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #f5333f;
}

.card_box_full {
  width: 100%;
  text-align: left;
  justify-content: space-between;
  align-items: baseline;

  .progress-bar {
    width: 80%;
  }

  .progress-bar__key {
    display: inline-block;
    padding-inline-start: 5px;
    text-align: right;
    width: 20%;
    float: right;
  }
}

.card_box_footer {
  margin-top: $spacing-half;

  .progress-bar {
    height: 8px;
  }
}

.more_button {
  float: right;
}

.last_updated {
  color: $grey-platinum;
  font-weight: $base-font-light;
  font-size: $font-size-xxs;
}

.card_box--op {

  &:first-of-type {
    border-inline-end: 1px solid $base-border-color--light;
  }
}

.card_box--op, .card_box_footer {
  .heading-tiny {
    font-size: $font-size-sm;
    color: $grey-coal;
  }
}

.heading-tiny-progress{
  display: flex;
}

.card_box_fc {
  color: $grey-coal;
  text-align: inline-end;
  font-size: $font-size-sm;
}