.active-operation-map {
    .map-container-wrapper {
        position: relative;

        .map-container {
            height: 40rem;
        }

        .map-disclaimer {
            position: absolute;
            bottom: var(--go-ui-spacing-sm);
            left: calc(var(--mapbox-icon-width) + var(--go-ui-spacing-xl));
        }
    }

    .footer {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: var(--go-ui-color-background);
        padding: var(--go-ui-spacing-lg);
        gap: var(--go-ui-spacing-2xl);

        .legend {
            display: flex;
            flex-wrap: wrap;
            gap: var(--go-ui-spacing-md);

            .legend-item {
                display: flex;
                align-items: center;
                gap: var(--go-ui-spacing-sm);

                .color {
                    border-radius: 0.5rem;
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }
        }
    }
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-md);

    .popup-appeal-detail {
        display: flex;
        flex-direction: column;
        font-size: var(--go-ui-font-size-sm);
    }
}
