.button {
    display: flex;
    position: relative;
    align-items: center;
    padding: calc(var(--go-ui-spacing-xxs)) var(--go-ui-spacing-2xl);
    border-radius: var(--go-ui-spacing-md);
    font-weight: var(--go-ui-font-weight-normal);
    font-size: var(--go-ui-font-size-xs);
    width: fit-content;
    gap: var(--go-ui-spacing-sm);

    .icons {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        font-size: var(--go-ui-font-size-xs);
    }

    .navigate-top-icon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        font-size: var(--go-ui-font-size-lg);
    }

    .actions {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        font-size: var(--go-ui-font-size-xs);
    }

    .children {
        display: flex;
        flex-grow: 1;
        align-items: center;
    }

    &.primary {
        border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-primary-red);
        background-color: var(--go-ui-color-primary-red);
        color: var(--go-ui-color-white);

        &:hover {
            background-color: var(--go-ui-color-red-hover);
        }
    }

    &.secondary {
        border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-primary-red);
        background-color: var(--go-ui-color-primary-white);
        color: var(--go-ui-color-primary-red);

        &:hover {
            background-color: var(--go-ui-color-gray-30);
        }
    }

    &.tertiary {
        background-color: var(--go-ui-color-gray-40);
        border-radius: var(--go-ui-spacing-md);
        font-weight: var(--go-ui-font-weight-normal);

        &:hover {
            background-color: var(--go-ui-color-gray-30);
        }
    }

    &.navigation-primary {
        border-radius: var(--go-ui-spacing-md);
        font-weight: var(--go-ui-font-weight-normal);
        transition: transform 250ms linear;

        &:hover {
            transform: translateY(-2px);
            color: var(--go-ui-color-primary-red);
        }
    }

    &.navigation-secondary {
        background-color: var(--go-ui-color-primary-white);
        color: var(--go-ui-color-primary-red);
        border: 2px solid var(--go-ui-color-gray-20);
        border-radius: var(--go-ui-spacing-xs);
        padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-3xl);
        font-weight: var(--go-ui-font-weight-normal);
        font-size: var(--go-ui-font-size-xs);

        &:hover {
            background-color: var(--go-ui-color-gray-30);
        }
    }

    &.dialog-confirm-ok {
        background-color: var(--go-ui-color-primary-white);
        color: var(--go-ui-color-green);
        padding: var(--go-ui-spacing-xxs);
        border: 2px solid var(--go-ui-color-green);
        border-radius: 100%;
        font-size: var(--go-ui-font-size-xs);

        &:hover {
            background-color: var(--go-ui-color-gray-30);
        }
    }

    &.dialog-confirm-cancel {
        background-color: var(--go-ui-color-primary-white);
        color: var(--go-ui-color-primary-red);
        padding: var(--go-ui-spacing-xxs);
        border: 2px solid var(--go-ui-color-primary-red);
        border-radius: 100%;
        font-size: var(--go-ui-font-size-xs);

        &:hover {
            background-color: var(--go-ui-color-gray-30);
        }
    }

    &.navigate-top {
        background-color: var(--go-ui-color-primary-red);
        color: var(--go-ui-color-primary-white);
        padding: var(--go-ui-spacing-lg) var(--go-ui-spacing-xs);
        border: 2px solid var(--go-ui-color-primary-red);
        font-size: var(--go-ui-font-size-xl);
        transition: transform 200ms linear;

        &:hover {
            transform: translateY(-3px);
            background-color: var(--go-ui-color-red-hover);
        }
    }

    &.button-with-description {
        border: var(--go-ui-width-separator-thin) solid var(--go-ui-color-primary-red);
        background-color: var(--go-ui-color-primary-red);
        color: var(--go-ui-color-white);
        font-weight: var(--go-ui-font-weight-normal);
        font-size: var(--go-ui-font-size-xs);

        &:hover {
            background-color: var(--go-ui-color-red-hover);
        }
    }

    &.action {
        padding: 0;
        font-size: var(--go-ui-font-size-lg);
    }

    &.transparent {
        padding: 0;
    }

    &:not(.disabled) {
        cursor: pointer;
    }

    &.disabled,
    &:disabled {
        opacity: var(--opacity-disabled-element);
        filter: var(--saturation-disabled-element);
        pointer-events: none;
    }
}

.button-description-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: var(--go-ui-font-size-xs);
    gap: var(--go-ui-spacing-xs);
    font-weight: var(--go-ui-font-weight-normal);
    color: var(--go-ui-color-gray-light);
}