.main-container {
    display: flex;
    width: 100%;
    gap: var(--go-ui-spacing-lg);

    .component-layout {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        flex-wrap: wrap;
        overflow-x: auto;
        gap: var(--go-ui-spacing-md);
    }

    .side-content {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        padding: var(--go-ui-spacing-xl);
        width: calc(160px + 10vw);

        .option {
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid var(--go-ui-color-red-20);
            border-radius: var(--go-ui-border-radius-md);
            background-color: var(--go-ui-color-red-50);
            padding: var(--go-ui-spacing-sm);
            width: 100%;
            font-size: var(--go-ui-font-size-md);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }

        .selected-option {
            display: flex;
            align-items: center;
            flex-direction: column;
            border: 1px solid var(--go-ui-color-red-20);
            border-radius: var(--go-ui-border-radius-md);
            background-color: var(--go-ui-color-red-hover);
            padding: var(--go-ui-spacing-sm);
            width: 100%;
            font-size: var(--go-ui-font-size-md);

            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .main-content {
        line-height: var(--go-ui-line-height-normal);
        font-family: var(--go-ui-font-family-sans);
        font-size: var(--go-ui-font-size-sm);
        font-weight: var(--go-ui-font-weight-light);
    }
}
