@import '~styles/settings/variables';

.project-table {
  .content {
    table {
      width: 100%;

      th {
        text-align: left;
        padding: 0;
        border-bottom: $base-border-width solid $base-border-color;
        background-color: $color-background;
      }

      td {
        padding: $spacing;
        border-bottom: $base-border-width solid $base-border-color;

        >* {
          padding: 0!important;
        }
      }
    }
  }
}

.project-date {
  display: flex;
  gap: $spacing - 10;
  flex-wrap: wrap;
}
