@import '~styles/settings/_variables.scss';

.globalThreeWSankey {
  padding: $spacing;
}

.sankeyLink {
  fill: $secondary-color;
  fill-opacity: 0.1;

  &.sankeyLinkLeft {
    fill: $primary-color;
  }

  &:hover {
    fill-opacity: 0.4;
  }
}
