.navbar {
    border-bottom: var(--go-ui-width-separator-thin) solid var(--go-ui-color-gray-20);
    background-color: var(--go-ui-color-white);

    .top {
        border-bottom: var(--go-ui-width-separator-md) solid var(--go-ui-color-primary-red);

        .top-content {
            display: flex;
            align-items: center;
            gap: var(--go-ui-spacing-xl);
            flex-wrap: wrap;

            .brand {
                flex-grow: 1;

                .go-icon {
                    height: var(--go-ui-font-size-5xl);
                }
            }

            .actions {
                display: flex;
                align-items: center;
                gap: var(--go-ui-spacing-xl);
            }
        }
    }

    .bottom {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-xl);

        .menu-items {
            display: flex;
            align-items: center;
            flex-grow: 1;
            gap: var(--go-ui-spacing-xl);
        }

        .search-container {
            min-width: 20rem;
        }
    }
}
