@import '~styles/settings/variables';

.chip {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: $spacing*0.75;
  border: $base-border-width solid $base-border-color;
  padding: $spacing*0.25 $spacing * 0.75;
  border-radius: $base-border-radius;
  background-color: $grey-mist;
  font-size: $font-size-sm;
  color: $color-text-light;
}
