@import '~styles/settings/variables';

.input-error {
  position: relative;
  margin-top: 6px;

  .tip {
    width: 14px;
    height: 6px;
    top: -6px;
    left: 20px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    background-color: $danger-color;
  }

  .content {
    border-radius: $base-border-radius;
    display: flex;
    align-items: center;
    background-color: $danger-color;
    color: $color-text-on-dark;
    font-weight: $base-font-medium;
    font-size: $font-size-xs;
    padding: $spacing;

    .icon {
      margin-right: $spacing;
      font-size: $font-size-lg;
      flex-shrink: 0;
      align-self: flex-start;
    }
  }
}
