@import "~styles/settings/variables";

.filters {
  display: flex;

  .filter-input {
    width: 20rem;
  }
}

.container-description {
  padding: $spacing 0;
  display: flex;

  .filter-input {
    width: 20rem;
  }
}

.past-event-and-historical-impact {
  margin: $spacing*2 0;

  .content {
    .chart-container {
      flex-grow: 1;
      height: 24rem;
    }

    .impact-legend {
      display: flex;
      align-items: center;
      background-color: $grey-mist;
      border-top: $base-border-width solid $base-border-color;
      padding: $spacing $spacing*2;
      gap: $spacing*2;

      .heading {
        font-weight: $base-font-medium;
      }

      .separator {
        flex-shrink: 0;
        align-self: stretch;
        width: $base-border-width * 2;
        background-color: $base-border-color;
      }
    }
  }
}

.risk-by-month {
  margin: $spacing*2 0;

  .content {
    display: flex;
    overflow: auto;

    .chart-container {
      flex-grow: 1;
      height: 24rem;
      overflow: hidden;

      .empty-message {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: $spacing;

        .icon {
          font-size: 8rem;
          opacity: 0.2;
        }

        .text {
          color: $color-text-light;
          opacity: 0.4;
          font-weight: $base-font-medium;
        }
      }
    }

    .legend {
      width: 16rem;
      flex-shrink: 0;
    }
  }
}

.legend-item {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: $spacing*2/3;
  opacity: 0.2;

  &.active {
    opacity: 0.8;
  }


  .icon-container {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    padding: $spacing/2;
    height: 1.6rem;
    width: 1.6rem;

    .icon {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  .label {
    font-weight: $base-font-medium;
  }

  .circle {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
  }
}

.fi-legend-item {
  display: flex;
  align-items: center;
  gap: $spacing*3/2;
  padding: $spacing/2 $spacing*3/2;

  .icon {
    height: 2rem;
    width: 2rem;
  }

  .label {
    font-weight: $base-font-medium;
  }

  .circle {
    height: 0.6rem;
    width: 0.6rem;
    border-radius: 50%;
  }
}

.event-details {
  background-color: #fff;
  box-shadow: $base-box-shadow;

  .description {
    padding: $spacing;
  }

  .event-detail-content {
    padding: $spacing/2 !important;
  }
}
