@import '~styles/settings/variables';

.country-overview {
  width: 100%;
  position: relative;
  overflow-x: auto;

  %card-section {
    display: flex;
  }

  %card-content {
    flex-basis: 0;
    flex-grow: 1;
  }

  section {
    padding-top: $spacing-2;
    padding-bottom: $spacing-2;

    &:nth-child(even) {
      background-color: $grey-mist;
    }
  }

  .top-section {
    @extend %card-section;

    .key-indicators,
    .ns-indicators {
      @extend %card-content;
    }
  }

  .key-climate-events-and-dates-section {
    @extend %card-section;

    .key-climate-events,
    .social-events {
      @extend %card-content;
    }
  }

  .population-map {
    .content {
      display: flex;
      flex-direction: column;

      .map-container {
        flex-grow: 1;
        min-height: 360px;
      }
    }
  }

  .climate-chart {
    .chart-container {
      padding: $spacing-half 0;

      .header {
        .heading {
          letter-spacing: $letter-spacing-lg;
          text-transform: uppercase;
          font-size: $font-size-sm;
          padding: $spacing-half $spacing-2;
        }
      }

      .content {
        height: 160px;

        :global {
          .recharts-label {
            font-size: $font-size-xxs;
            font-weight: $base-font-light;
            fill: rgba(0, 0, 0, .6);
          }

          .recharts-cartesian-axis-tick {
            font-size: $font-size-xxs;
            font-weight: $base-font-bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .population-and-climate-section {
    display: flex;

    .population-map,
    .climate-chart {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .overview-key-indicators {
    .content {
      display: flex;

      .section {
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }

  .key-event-output,
  .key-indicator-text-output {
    display: table-row;

    .label {
      display: table-cell;
      padding: $spacing-half $spacing;
      font-weight: $base-font-regular;
    }

    .value {
      display: table-cell;
      padding: $spacing-half $spacing;
      font-weight: $base-font-bold;
      color: $secondary-color;
    }
  }

  .document-details {
    display: flex;
    font-weight: $base-font-medium;
    display: table-row;

    .title {
      padding: $spacing-half;
      display: table-cell;
    }

    .date {
      display: table-cell;
      padding: $spacing-half;
    }

    .file-download-link {
      display: table-cell;
      padding: $spacing-half;
    }
  }

  .key-documents {
    .content {
      .filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $spacing;
        margin-bottom: $spacing;

        .search-container {
          display: flex;
          align-items: center;
          border-bottom: $base-border-width solid $base-border-color;

          .icon {
            font-size: $font-size-lg;
          }

          .search {
            padding: 0;

            input {
              border: 0;
              outline: none;
            }
          }
        }
      }

      .cards {
        display: flex;
        flex-wrap: wrap;

        h3 {
          font-size: $font-size-heading-sm;
          letter-spacing: 0;
          text-align: inline-start!important;
          margin-left: -$spacing;
          margin-right: -$spacing;
          padding-left: $spacing + $spacing-half;
          padding-right: $spacing + $spacing-half;
        }

        .document-group {
          flex-basis: calc(100% / 3);
          min-width: $row-min-width;
          margin: $spacing-half;
          max-height: 240px;
        }
      }
    }
  }

  .external-sources {
    .content {
      display: flex;
      flex-wrap: wrap;
      padding: $spacing;

      .source-details {
        display: flex;
        align-items: center;
        color: $white;
        background-color: $primary-color;
        margin: $spacing-half $spacing;
        padding: 0 $spacing;
        border-radius: calc(0.5rem + #{$spacing-half});
        font-weight: $base-font-medium;

        .title {
          padding: $spacing-half;
        }

        .icon {
          padding: $spacing-half;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .seasonal-calendar {
    font-size: $font-size-sm;
    font-weight: $base-font-medium;

    .content {
      padding: 0 $spacing;

      .row {
        display: flex;
        margin: $spacing 0;

        .sector-cell {
          width: 120px;
          vertical-align: middle;
          padding: $spacing-half;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .title-list-cell {
          flex-grow: 1;

          .title-list {
            position: relative;
            height: 100%;

            .title {
              position: absolute;
              background-color: pink;
              overflow: hidden;
              padding: $spacing-half;
              text-align: center;
              text-transform: uppercase;
              font-size: $font-size-xxs;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .month-title-list {
            display: flex;

            .month-title {
              border-top: 1px solid rgba(0, 0, 0, .1);
              flex-shrink: 0;
              flex-basis: calc(100% / 12);
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              font-size: $font-size-xxs;
              padding: $spacing-half 0;
            }
          }
        }
      }
    }
  }
}
