@import '~styles/settings/variables';

.country-overview {
  width: 100%;
  position: relative;
  overflow-x: auto;
  padding: 2rem;

  %card-section {
    display: flex;
  }

  %card-content {
    flex-basis: 0;
    flex-grow: 1;
    margin: 6px;
  }

  .top-section {
    @extend %card-section;

    .key-indicators,
    .ns-indicators {
      @extend %card-content;
    }
  }

  .key-climate-events-and-dates-section {
    @extend %card-section;

    .key-climate-events,
    .social-events {
      @extend %card-content;
    }
  }

  .population-map {
    .content {
      display: flex;
      flex-direction: column;

      .map-container {
        flex-grow: 1;
        min-height: 360px;
      }
    }
  }

  .climate-chart {
    .chart-container {
      padding: 6px 0;

      .header {
        .heading {
          letter-spacing: $letter-spacing-lg;
          text-transform: uppercase;
          font-size: $font-size-sm;
          padding: 4px 20px;
        }
      }

      .content {
        height: 160px;

        :global {
          .recharts-label {
            font-size: $font-size-xxs;
            font-weight: $base-font-light;
            fill: rgba(0, 0, 0, .6);
          }

          .recharts-cartesian-axis-tick {
            font-size: $font-size-xxs;
            font-weight: $base-font-bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .population-and-climate-section {
    display: flex;
    padding: 20px 0;

    .population-map,
    .climate-chart {
      flex-basis: 0;
      flex-grow: 1;
    }
  }

  .overview-key-indicators {
    .content {
      display: flex;

      .section {
        flex-basis: 0;
        flex-grow: 1;
      }
    }
  }

  .key-event-output,
  .key-indicator-text-output {
    display: table-row;

    .label {
      display: table-cell;
      padding: 5px 10px;
      font-weight: $base-font-regular;
    }

    .value {
      display: table-cell;
      padding: 5px 10px;
      font-weight: $base-font-bold;
      color: $secondary-color;
    }
  }

  .document-details {
    display: flex;
    font-weight: $base-font-medium;
    display: table-row;

    .title {
      padding: 4px 6px;
      display: table-cell;
    }

    .date {
      display: table-cell;
      padding: 4px 6px;
    }

    .file-download-link {
      display: table-cell;
      padding: 4px 6px;
    }
  }

  .key-documents {
    .content {
      display: flex;
      flex-wrap: wrap;

      .document-group {
        flex-basis: calc(100% / 3);
        flex-grow: 1;
        margin: 6px;
      }
    }
  }

  .external-sources {
    .content {
      display: flex;
      flex-wrap: wrap;

      .source-details {
        display: flex;
        align-items: center;
        color: #fff;
        background-color: $primary-color;
        margin: 6px 10px;
        padding: 0 10px;
        border-radius: calc(0.5rem + 5px);
        font-weight: $base-font-medium;

        .title {
          padding: 4px 6px;
        }

        .icon {
          padding: 4px 6px;
          display: flex;
          align-items: center;
        }
      }
    }
  }

  .seasonal-calendar {
    font-size: $font-size-sm;
    font-weight: $base-font-medium;

    .content {
      padding: 0 10px;

      .row {
        display: flex;
        margin: 10px 0;

        .sector-cell {
          width: 120px;
          vertical-align: middle;
          padding: 6px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .title-list-cell {
          flex-grow: 1;

          .title-list {
            position: relative;
            height: 100%;

            .title {
              position: absolute;
              background-color: pink;
              overflow: hidden;
              padding: 6px;
              text-align: center;
              text-transform: uppercase;
              font-size: $font-size-xxs;
              box-shadow: 0 3px 8px -5px rgba(0, 0, 0, .7);
              border: 1px solid rgba(0, 0, 0, .1);
              opacity: 0.9;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .month-title-list {
            display: flex;

            .month-title {
              border-top: 1px solid rgba(0, 0, 0, .1);
              flex-shrink: 0;
              flex-basis: calc(100% / 12);
              display: flex;
              justify-content: center;
              align-items: center;
              text-transform: uppercase;
              font-size: $font-size-xxs;
              padding: 6px 0;
            }
          }
        }
      }
    }
  }
}
