.input-label {
    display: inline-block;
    padding: 0 var(--go-ui-spacing-xxs);
    color: var(--go-ui-color-gray-70);

    &.disabled {
        color: var(--go-ui-color-gray-40);
    }

    .required {
        color: var(--go-ui-color-primary-red);
    }
}
