@import '~styles/settings/variables';

.project-detail-modal,
.project-form-modal {
  width: 100%;
  height: 100%;
}

.overflow-icon {
  font-size: 1.4em;
}

.options-separator {
  margin: $spacing/2 0;
}

.delete-option {
  color: $danger-color;
}

