.block-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: var(--go-ui-spacing-2xl);
  border: 2px var(--go-ui-color-gray-40);
  border-style: dashed;
  border-radius: var(--go-ui-border-radius-2xl);
  height: 15rem;
}