.fold-header {
  :global {
    .fold__header__block {
      display: flex;
      flex-grow: 1;

      h2 {
        flex-grow: 1;
      }
    }

  }
}
.riskButton {
  display: flex;
  justify-content: space-between;
  > *{
    height: fit-content;
  }
}

.filterButton {
  display: flex;
  min-width: 45%;
  justify-content: space-between;
}