.link-container {
  --color: var(--go-ui-color-black);
  --decoration: none;
  --background-color: none;

  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: var(--decoration);
  width: fit-content;
  color: var(--color);
  gap: var(--go-ui-spacing-xs);
  background-color: var(--background-color);
  cursor: pointer;

  &:hover {
    --color: var(--go-ui-color-primary-red);
    --decoration: underline;
  }

  .icons {
    flex-shrink: 0;
  }

  .actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-transform: none;
    text-decoration: none;
    color: var(--color);
    font-weight: var(--go-ui-font-weight-medium);
  }

  .button-link {
    background-color: var(--go-ui-color-primary-red);
    align-items: center;
    padding: calc(var(--go-ui-spacing-xxs)) var(--go-ui-spacing-2xl);
    border-radius: var(--go-ui-spacing-md);
    font-weight: var(--go-ui-font-weight-normal);
    font-size: var(--go-ui-font-size-xs);
    width: fit-content;

    &:hover {
      background-color: var(--go-ui-color-red-hover);
    }
  }

  &.title {
    text-transform: uppercase;
    --color: var(--go-ui-color-primary-red);
  }

  &.text {
    --decoration: underline;
  }
}