/* ==========================================================================
   About Page
   ========================================================================== */

.page--about {
  .inpage__body {
  	p {
  		width: 80%;
  	}
  }
  .logo__group {
    margin-top: $global-spacing * 6;
  }
  .logo__list {
    list-style: none;
  }
  .logo__item {
    display: inline-block;
    margin-right: $global-spacing * 3;
    @include column(12/12);
    margin-top: $global-spacing;
    @include media(medium-up) {
      @include column(6/12, $cycle: 2);
      margin-top: $global-spacing;
    }
    @include media(large-up) {
      @include column(3/12, $cycle: 4);
      margin-top: 0;
    }
    img {
      height: 50px;
    }
  }
  .logo__title {
    font-weight: $base-font-bold;
  }
}