.essential-information {
    .actions {
        display: flex;
        align-self: flex-start;
        justify-content: flex-end;
        padding: var(--go-ui-spacing-xs) var(--go-ui-spacing-md);
    }
}

.title-prefix {
    opacity: 0.5;
    padding: 0 0 0 var(--go-ui-spacing-md);
}

.sharing {
    .actions {
        flex-basis: unset;
        flex-grow: unset;
        padding: var(--go-ui-spacing-md);
    }
}

.disaster-category-help-link {
    display: flex;
    align-items: center;
    margin-inline-start: var(--go-ui-spacing-md);
    font-size: 1rem;
}

.people-targeted-help-link {
    margin-inline-start: var(--go-ui-spacing-md);
    font-size: 1rem;
}

.map-input-content,
.image-input-content {
    display: flex;
    flex-direction: column;

    .preview-list {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-md);
    }
}

.generate-title-button {
    flex-basis: initial!important;
    flex-grow: unset!important;
    flex-shrink: 0!important;
}
