.select-input {
  &.disabled {
    opacity: 1;
  }
}

.select {
  border: 0;
  box-shadow: unset;
  min-height: unset;
  background-color: unset;

  &:focus {
    border: 0;
    box-shadow: unset;

    &:hover {
      border: 0;
      box-shadow: unset;
    }
  }
}