.intervention-input {
    display: flex;
    background-color: var(--go-ui-color-background);

    .input-section {
        display: flex;
        flex-grow: 1;
    }

    .remove-button {
        align-self: flex-start;
        flex-shrink: 0;
        margin-top: var(--go-ui-spacing-xl);
        margin-right: var(--go-ui-spacing-md);
        padding: var(--go-ui-spacing-sm);
    }

    .male-female {
        display: flex;
        gap: var(--go-ui-spacing-md);
    }

    .addIndicatorContainer {
        display: flex;
        flex-direction: column;
        gap: var(--go-ui-spacing-xl);
    }
}
