@import '~styles/settings/variables';

.file-input {
    .input {
        display: none;
    }

    .input-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        flex-grow: 1;
    }

    .status {
      padding: 0 $spacing;
    }

    :global {
      .go-input-internal-input-section {
        border: 0;
      }
    }
}
