@import '~styles/settings/_variables.scss';

.dref-application-list {
  min-height: 50vh;

  .filters {
    display: flex;
    padding: $spacing 0;
    margin-bottom: $spacing*2;

    >* {
      flex-basis: calc(100% / 3);
    }
  }

  .table {
    width: 100%;

    .actions-cell {
      display: flex;
      gap: $spacing * 0.5;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    padding: $spacing*3 $spacing;
  }

  .error {
    font-size: $font-size-lg;
    color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing*4;
  }
}

