@import '~styles/settings/_variables.scss';

.dref-application-list {
  min-height: 50vh;

  .new-dref-button {
    display: flex;
    justify-content: center;
    margin: $spacing*3;
  }

  .view-operation-heading {
    color: $primary-color;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $spacing*4;

    .footer {
      display: flex;
      justify-content: flex-end;
      padding: $spacing*3 $spacing;
    }

    .error {
      font-size: $font-size-lg;
      color: rgba(0, 0, 0, .5);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing*4;
    }
  }

  .filters {
    display: grid;
    grid-gap: $spacing;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    padding: $spacing;

    .country-filter {
      flex-grow: 1;
      max-width: 30rem;
    }

    .import-button {
      flex-shrink: 0;
    }
  }
}

.operational-update-list-modal-backdrop {
  display: flex;
  align-items: center;
  justify-content: center;

  .operational-update-list-modal {
    max-width: 50rem;
    width: 100%;
    height: 100%;
    max-height: 50rem;
    background-color: $white;

    .operational-update-table {
      width: 100%;

      .actions-header {
        width: 6rem;
      }

      .actions-cell {
        display: flex;
        gap: $spacing * 0.5;
      }
    }
  }
}

