.card_box_container {
  margin-top: 1rem;
}

.card_box {
  float: left;
  width: 50%;
  font-size: 1.5rem;
}

.card_box small {
  display: block;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

.card_box_left {
  border-right: 1px solid #c0c0c0;
}

.card_box_right {
  padding-left: 1.5rem;
}

.card_box_full {
  float: left;
  margin-top: 1rem;
  margin-left: 5%;
  width: 90%;
  font-size: 1.5rem;
  text-align: center;

  .progress-bar {
    display: inline-block;
    width: 80%;
  }

  .progress-bar__value {
    background-color: #C22A26;
  }

  .progress-bar__key small {
    display: inline-block;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
  }

  .progress-bar__key {
    display: inline-block;
    padding-left: 5px;
    width: 20%;
    float: right;
  }
}

.more_button {
  float: right;
}

.last_updated {
  margin-bottom: 10px;
}
