.page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .page-header {
        background-color: var(--go-ui-color-background);
    }

    &.with-main-content-background {
        background-color: var(--go-ui-color-background);
    }

    .main-section {
        flex-grow: 1;
        padding: var(--go-ui-spacing-4xl) var(--go-ui-spacing-2xl);
    }
}
