@import '~styles/settings/variables';

.progress-bar {
  display: flex;
}

.actions {
  padding: $spacing*3 $spacing;
  display: flex;
  align-items: center;
  justify-content: center;

  >* {
    margin: 0 $spacing*0.5;
  }
}
.alert-message {
  text-align: center;

  .alert-buttons {
    display: flex;
    justify-content: space-around;
    margin: $spacing;
  }
}
