.select-input {
    padding: 0;

    .input-section {
        padding: 0 var(--go-ui-spacing-md);
    }
    .select {
        margin: 0 calc(var(--go-ui-spacing-md) * -1);

        .control {
            margin: 0;
            border: 0;
            box-shadow: unset;
            background-color: unset;
            padding: 0 var(--go-ui-spacing-sm);
            min-height: unset;

            &.is-focused {
                border: 0;
                box-shadow: unset;
            }

            &:hover {
                border: 0;
                box-shadow: unset;
            }
        }

        .value-container {
            margin: unset;
            padding: var(--go-ui-spacing-sm);

            >* {
                margin: unset;
                padding: unset;
            }
        }

        .indicator-container {
            padding: unset;
        }

        .indicator-separator {
            display: none;
        }

        .dropdown-indicator {
            padding: unset;
        }

        .clear-indicator {
            padding: unset;
        }
    }
}
