@import '~styles/settings/variables';

.region-output {
  display: flex;
  flex-direction: column;
  padding: $spacing;
  gap: $spacing;

  .district {
    .district-label {
      font-weight: $font-weight-medium;
    }

    .admin-two-list {
      font-size: $font-size-sm;
    }
  }
}
