@import '~styles/settings/variables';

.heading {
  display: flex;
  align-items: center;
  color: $color-text;
  line-height: 1;
  margin: 0;

  &.extra-large {
    font-size: $font-size-h1;
    font-weight: $font-weight-bold;
  }

  &.large {
    font-size: $font-size-h2;
    font-weight: $font-weight-bold;
  }

  &.medium {
    font-size: $font-size-h3;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.75;
  }

  &.small {
    font-size: $font-size-h4;
    font-weight: $font-weight-bold;
  }

  &.extra-small {
    font-size: $font-size-h5;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 0.75;
  }
}

