@import '~styles/settings/variables';

.translation-dashboard {
  display: flex;
  flex-direction: column;
  gap: $spacing*2;

  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: $spacing;
    gap: $spacing*2;
  }

  .strings {
    display: flex;
    flex-direction: column;
  }
}
