@import '~styles/settings/variables';

.raw-input {
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background-color: $white;
  padding: 0;
  width: 100%;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  padding: $spacing/2 $spacing;
}
