@import '~styles/settings/variables';

.activity {
  background-color: $color-background;
  border-top: 2px solid transparent;

  .input-section {
    padding: 0!important;
    margin: 0!important;
    box-shadow: unset;
    background-color: $color-background;
    overflow-y: visible;
  }

  .content {
    overflow-y: visible;
    padding: $spacing;
    gap: $spacing*2!important;
  }

  .cash-input {
    display: flex;
  }

  .empty-message {
    padding: 0 $spacing;
    color: $color-text-light;
  }

  .point-count-input {
    width: 10rem;
  }

  &.errored {
    border-top-color: $primary-color;
  }
}
