@import '~styles/settings/variables';

.activity {
  background-color: $color-background;
  overflow-x: auto;

  .content {
    overflow-x: auto;
  }

  .title {
    color: $primary-color;
    padding: $spacing/2 $spacing;
    font-size: $font-size-xxl;
  }

  .empty-message {
    padding: 0 $spacing;
    color: $color-text-light;
  }

  .point-count-input {
    width: 10rem;
  }

  .container {
    padding: $spacing;
  }
}
