@import '~styles/settings/variables';

.translation-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #fff;

  .info-bar {
    background-color: $danger-color;
    color: $white;
    display: flex;
    align-items: center;
    padding: $spacing / 2;

    .icon {
      margin: $spacing / 2;
      font-size: 1.2em;
    }

    .text {
      padding: $spacing / 2;
      font-weight: $base-font-medium;
    }
  }

  .header {
    padding: 10px;
    flex-shrink: 0;

    .top-section {
      display: flex;

      .heading {
        flex-grow: 1;
        padding: 10px;
      }

      .actions {
        padding: 10px;
      }
    }

    .bottom-section {
      display: flex;
      align-items: center;

      .tabs {
        flex-grow: 1;

        .tab {
          border: 0;
          border-bottom: 2px solid transparent;
          padding: 10px;
          background-color: transparent;
          outline: none;
          cursor: pointer;
          font-weight: $base-font-bold;

          &:hover {
            background-color: $grey-titanium;
          }

          &.active {
            color: $primary-color;
            border-bottom-color: $primary-color;
          }
        }
      }

      .tab-actions {
        flex-shrink: 0;
      }
    }
  }

  .content {
    flex-grow: 1;
    overflow: auto;
    overflow-y: scroll;
    margin: 10px;

    .strings-table {
      width: 100%;
      display: table;
      table-layout: fixed;

      %row {
        display: table-row;

        .key {
          display: table-cell;
          padding: 10px;
        }

        .value {
          display: table-cell;
          padding: 10px;
        }

        .dev-value {
          display: table-cell;
          padding: 10px;
        }
      }

      .row {
        @extend %row;

        &.obsolete {
          color: rgba(0, 0, 0, .5);
        }
      }

      .header-row {
        @extend %row;

        .key,
        .dev-value,
        .value {
          font-weight: $base-font-bold;
          position: sticky;
          top: 0;
          background-color: $grey-fog;
        }
      }
    }
  }

  button {
    margin: 0 $spacing / 2;
  }
}
