.translation-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    display: flex;
    padding: 10px;
    flex-shrink: 0;

    .heading {
      flex-grow: 1;
      padding: 10px;
    }

    .actions {
      padding: 10px;
    }
  }

  .content {
    flex-grow: 1;
    padding: 10px;
    overflow: auto;

    .row {
      display: table-row;

      .key {
        display: table-cell;
        padding: 10px;
      }

      .value {
        display: table-cell;
        padding: 10px;
      }
    }
  }
}
