@import '~styles/settings/variables';

.imminent-events {
  margin: $spacing*2 0;

  .map-description {
    display: flex;
    flex-direction: column;
    gap: $spacing;
    padding: $spacing 0;
  }

  .main-content {
    position: relative;
    min-height: 16rem;

    .map {
      z-index: 0;
      flex-grow: 1;
      height: 50rem;
    }
  }
}
