.breadcrumbs {
    display: flex;
    align-items: center;
    color: var(--go-ui-color-gray-40);
    gap: var(--go-ui-spacing-sm);

    .item {
        display: flex;

        &:not(:last-child) {
            :hover {
                text-decoration: underline;
                color: var(--go-ui-color-primary-red);
            }
        }

        &:last-child {
            color: var(--go-ui-color-black);
            font-weight: var(--go-ui-font-weight-semibold);
        }
    }
}
