@import '~styles/settings/variables';

.container {
  display: flex;
  flex-direction: column;
  background-color: $white;
  margin: $spacing-half;

  .header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 0 $spacing;
    border-bottom: $base-border-width solid $base-border-color;

    .heading {
      text-transform: uppercase;
      margin: 0;
      padding: $spacing;
      letter-spacing: $letter-spacing-heading;
      flex-grow: 1;
      font-family: $heading-font-family;
      font-weight: $base-font-semi-bold;
    }

    .export-button-container {
      flex-shrink: 0;
      padding: $spacing;

      .export-button {
        display: flex;
        align-items: center;
      }
    }

    .header-content {
      flex-shrink: 0;
    }
  }

  .content {
    flex-grow: 1;
  }
}
