@import "~styles/settings/variables";

.seasonal-risk-map {
  .filter-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .filters {
      display: flex;

      .filter-input {
        width: 20rem;
      }
    }
  }

  .map-section {
    position: relative;
    z-index: 0;
    display: flex;

    .map {
      z-index: 0;
      flex-grow: 1;
      height: 40rem;
    }

    .side-bar {
      width: 20rem;
      box-shadow: $base-box-shadow;
      z-index: 1;

      .event-list {
        display: flex;
        flex-direction: column;
        gap: $base-border-width;
        padding: $spacing;

        .event-detail {
          display: flex;
          background-color: $color-background;
          padding: $spacing;

          .hazard-type {
            padding: $spacing/2;
          }

          .risk-level {
            padding: $spacing/2;
            font-weight: $base-font-bold;
          }

          &.high-risk {
            .risk-level {
              color: $state-high;
            }
          }

          &.medium-risk {
            .risk-level {
              color: $state-mid;
            }
          }

          &.low-risk {
            .risk-level {
              color: $state-low;
            }
          }
        }
      }
    }
  }
}
