.login {
    .main-section {
        display: flex;
        align-items: center;
        justify-content: center;

        .form {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            background-color: var(--go-ui-color-white);
            padding: var(--go-ui-spacing-3xl);
            max-width: 50rem;
            gap: var(--go-ui-spacing-4xl);

            .fields {
                display: flex;
                flex-direction: column;
                gap: var(--go-ui-spacing-3xl);
            }

            .utility-links {
                display: flex;
                align-items: flex-end;
                flex-direction: column;
                gap: var(--go-ui-spacing-md);
            }

            .actions {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: var(--go-ui-spacing-lg);

                .sign-up {
                    display: flex;
                    gap: var(--go-ui-spacing-md);
                }
            }
        }
    }
}
