.progress-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--go-ui-spacing-sm);

    .total {
        display: flex;
        flex-grow: 1;
        border-radius: var(--go-ui-border-radius-md);
        gap: var(--go-ui-spacing-md);
        background-color: var(--go-ui-color-gray-20);

        .progress {
            transition: 200ms width ease-in-out;
            border-radius: var(--go-ui-border-radius-md);
        }
    }
}
