@import '~styles/settings/variables';

.ns-projects {
  $page-spacing-v: $spacing*2;

  .stats {
    display: flex;
    flex-wrap: wrap;
    padding: $page-spacing-v 0;
    gap: $spacing;

    >* {
      flex-basis: 0;
      flex-grow: 1;
      min-width: 20rem;
      max-width: calc(50% - #{$spacing / 2});
      flex-shrink: 0;

      .card-content {
        >* {
          flex-basis: 50%;
          max-width: 50%;
        }
      }

      .pie-chart {
        flex-basis: 12rem;
        width: 12rem;
        flex-grow: 0;
        flex-shrink: 0;
        max-width: unset;
      }

      @media screen and (max-width: $media-small) {
        max-width: unset;
        flex-basis: 100%;
      }
    }
  }

  .ongoing-project {
    margin: $page-spacing-v 0;

    .map-section {
      display: flex;

      .map {
        flex-grow: 1;
      }

      .map-details {
        width: 20rem;
        height: 60vh;
        background-color: $color-background;
        box-shadow: $base-box-shadow;

        .inner-container {
          display: flex;
          flex-direction: column;

          .content {
            flex-grow: 1;
            overflow: auto;
            padding: $spacing;

            .project-detail-item {
              align-items: flex-start;
              padding: $spacing*0.25 0;
              display: flex;

              .name {
                flex-grow: 1;
                padding: 0 $spacing;
              }

              .actions {
                flex-shrink: 0;
                margin: 0 $spacing*0.5;
              }
            }
          }
        }
      }
    }

    .projects-table {
      width: 100%;
      background-color: inherit;
    }
  }

  .top-login-info {
    padding: $spacing;
  }

  .bottom-login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing*4 $spacing;

    >* {
      margin: $spacing;
    }
  }

  .link {
    color: $primary-color;
  }

}
