@import '~styles/settings/variables';

.ns-projects {
  $page-spacing-v: $spacing*2;

  .stats {
    display: flex;
    padding: $page-spacing-v 0;

    >* {
      flex-basis: 0;
      flex-grow: 1;
      margin: 0 $spacing/2;
    }
  }

  .ongoing-project {
    margin: $page-spacing-v 0;

    .map-section {
      display: flex;

      .map {
        flex-grow: 1;
      }

      .map-details {
        width: 20rem;
        height: 60vh;
        background-color: $color-background;
        box-shadow: $base-box-shadow;

        .inner-container {
          display: flex;
          flex-direction: column;

          .content {
            flex-grow: 1;
            overflow: auto;
            padding: $spacing;

            .project-detail-item {
              align-items: flex-start;
              padding: $spacing/4 0;
              display: flex;

              .name {
                flex-grow: 1;
                padding: 0 $spacing;
              }

              .actions {
                flex-shrink: 0;
                margin: 0 $spacing/2;
              }
            }
          }
        }
      }
    }

    .projects-table {
      width: 100%;
      background-color: inherit;
    }
  }

  .top-login-info {
    padding: $spacing;
  }

  .bottom-login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $spacing*4 $spacing;

    >* {
      margin: $spacing;
    }
  }

  .link {
    color: $primary-color;
  }

}
