.radio-input {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: var(--go-ui-spacing-md);

    .radio-list-container {
        display: flex;
        flex-wrap: wrap;
        gap: var(--go-ui-spacing-md);
    }

    &.disabled {
        opacity: var(--go-ui-opacity-50);
        filter: saturate(50%);
    }

    .clear-button {
        position: absolute;
        transition: var(--go-ui-duration-transition-medium) opacity ease-in-out;
        opacity: 0;
        border: 0;
        background-color: transparent;
        cursor: pointer;
        inset-inline-end: 0;
        inset-block-start: 0;
    }

    &:hover {
        .clear-button {
            opacity: 1;
            z-index: 1;
        }
    }
}
