@use "sass:math";

@import '~styles/settings/_variables.scss';

.segment-input {
  width: fit-content;

  .list {
    gap: 0;
    background-color: $color-background;
    width: fit-content;
    border: $base-border-width solid $base-border-color--light;
    border-radius: calc(#{$spacing} + 1em);
    padding: 0;
  }

  .segment {
    border-color: transparent;
    padding: math.div($spacing*1, 3) $spacing*2;

    &.active {
      background-color: $primary-color;
      color: $color-text-on-dark;
    }
  }

  &.secondary-variant {
    .segment {
      &.active {
        background-color: $secondary-color;
        color: $color-text-on-dark;
      }
    }
  }
}
