.link {
    display: flex;
    width: fit-content;

    &.regular-link {
        font-weight: var(--font-weight-bold);
    }

    &.title-link {
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-medium);
        color: var(--color-primary);
        text-transform: capitalize;
    }

    &.table {
        font-weight: var(--font-weight-medium);
        text-decoration: underline;
        font-size: var(--font-size-medium);
    }

    &.text-link {
        font-weight: var(--font-weight-medium);
        text-decoration: underline;
        font-size: var(--font-size-small);
    }

    &.special-email {
        font-weight: var(--font-weight-medium);
        text-decoration: underline;
        font-size: var(--font-size-medium);
    }

    &.secondary-button {
        background-color: var(--color-primary);
    }

    &.external-link {
        font-size: var(--font-size-extra-small);
        font-weight: var(--font-weight-medium);
        pointer-events: none;
    }

    &:hover {
        color: var(--color-primary);
        opacity: 1;
        text-decoration: underline;
    }
}