@import '~styles/settings/_variables.scss';

.assisted-population {
  .input-section-wrapper {
    display: flex;

    >* {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}

.planned-intervention {
  .actions {
    display: flex;
    align-items: flex-end;
    padding: $spacing/2;
  }
}
