@import '~styles/settings/_variables.scss';

.disaster-category-help-link {
  display: flex;
  align-items: center;
  margin-inline-start: $spacing;
  font-size: 1rem;
}

.people-targeted-help-link {
  margin-inline-start: $spacing;
  font-size: 1rem;
}