.page--country {
  position: relative;

  .emergencies {
    display: none;
  }

  .fold {
    margin-bottom: $global-spacing * 4;
  }

  .inpage__title {
    width: auto;
  }

  .inpage__title--inform {
    font-size: 1rem;
    color: rgba($base-color, 0.48);
    margin-left: $global-spacing;
  }

  .inpage__title--inform--score {
    color: $base-color;
  }

  .inpage__meta {
    float: left;
    margin-top: $global-spacing;
    .bold {
      font-weight: $base-font-bold;
    }
    ul {
      list-style: none;
      margin-left: 0;
      font-size: 0.87rem;
      li {
        display: inline-block;
        padding-right: $global-spacing/2;
        &:last-child {
          padding-right: 0;
        };
      }
    }
  }

  .inpage__header-actions {
    float: right;
  }

  .inpage__header {
    @include column(12/12);
    float: none;
    margin-bottom: $global-spacing * 2;
    border-bottom: solid 1px rgba($base-color, 0.1);
    .inpage__header-col {
      @include column(12/12);
      @include media(medium-up) {
        @include column(6/12);
      }
    }
    .content-list-group {
      @include column(12/12);
    }
    .content-list {
      float: left;
      @include column(12/12);
      margin-left: 0;
      @include media(medium-up) {
        @include column(6/12);
      }
      ul {
        list-style: none;
      }
    }
    .inpage__headline-stats {
      @include column(12/12);
      border-right: solid 1px rgba($base-color, 0.1);
    }
    .stats-list {
      li {
        @include column(12/12);
        font-size: 2.25rem;
        line-height: 3rem;
        padding-bottom: $global-spacing;
        border-right: 0;
        padding-left: $global-spacing * 3.5;
        border-bottom: solid 1px rgba($base-color, 0.18);
        margin-bottom: $global-spacing;
        &:last-child {
          border-right: none;
          border-bottom: none;
        }
        &:nth-child(2) {
          border-bottom: none;
        };
      }
    }
    dl {
      float: left;
      width: 50%;

    }
  }
  .stats-map {
    @include column(12/12);
  }

  .map-vis {
    height: 25rem;
    @include media(medium-up) {
      height: 30rem;
    }
  }
  .map-vis__legend {
    &--bottom-right {
      @include media(small-up) {
        bottom: 1rem;
      }
    }
    .form {
      width: 35%;
    }
  }

  .key {
    float: left;
    border-left: solid 1px rgba($base-color, 0.2);
    padding-left: $global-spacing/2;
    margin-left: $global-spacing/2;
    width: 55%;
  }

}

.operations__container {
  color: #FFF;
  background-color: $map-color;
  float: left;
  width: 100%;
  margin-bottom: $global-spacing * 2;
  list-style: none;
}

.country__operations {
  float: left;
  width: 100%;
  @include media(medium-up) {
    width: 40%;
  }
  padding: $global-spacing * 2;
  h3 {
    margin-bottom: 0;
  }
  li {
    list-style: none;
  }
  .list-circle {
    display: inline-block;
    color: rgba(#FFF, 0.7);
    padding: 0 $global-spacing / 2;
    margin-right: $global-spacing / 2;
    border-radius: $full-border-radius;
    border: solid 1px rgba(255, 255, 255, 0);
    li {
      width: 10px;
      height: 10px;
      border-radius: 999px;
      background-color: #7e95bb;
      display: inline-block;
      margin-right: $global-spacing/2;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.pns-list__item {
  font-size: 0.875rem;
  cursor: pointer;
  border-radius: $full-border-radius;
  > * {
    pointer-events: none;
  }
}

.pns-list__item__canhover {
  &:hover {
    font-weight: $base-font-bold;
    .list-circle { border: solid 1px #FFF; }
  }
}

.pns-list__item__selected {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: $base-font-bold;
  .list-circle { border: solid 1px #FFF; }
}

.country__map {
  float: right;
  width: 100%;
  @include media(medium-up) {
    width: 60%;
  }

  .inner {
    padding-left: 0;
    padding-right: 0;
  }

  .map-container {
    width: 100%;
    margin-bottom: 0;
  }
}

#per-work-plan {
  .form__group {
    @include form__group;
    margin-bottom: 0;
    
    > .form__inner-header {
      display: block;
      @include media(medium-up) {
        @include column(3/12);
      }
    }

    > .form__inner-body {
      @include media(medium-up) {
        @include column(9/12);
      }
    }
  }
}

.country__pill__wrap {
  justify-content: center;
  flex-wrap: wrap;
}

// ---------------------------
// Three W and components
// ---------------------------
.three-w-container {
  .heading {
    margin: 16px;
  }

  .content {
    padding: 16px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;

    .left {
      flex-shrink: 0;
      padding: 8px;

      .add-button {
        margin-right: 10px;
      }
    }

    .three-w-filters {
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
      flex-grow: 1;
    }

    .export-button {
      flex-shrink: 0;
      margin: 8px;
    }

    .three-w-map-container {
      position: relative;
      width: 100%;

      .three-w-map {
        width: 100%;
        height: 700px;
      }

      .three-w-stats-region-overview {
        width: 280px;
        background-color: rgba(255, 255, 255, .9);
        padding: 16px;
        max-height: 580px;
        position: absolute;
        right: 16px;
        bottom: 16px;
        overflow: auto;
      }
    }

    .three-w-map-bottom-details {
      display: flex;
      justify-content: space-around;
      bottom: 0;
      left: 0;
      width: 100%;

      >div {
        flex-basis: calc(100% / 3);
        background-color: #fff;
        padding: 8px 16px;
        border: 1px solid rgba(0, 0, 0, .1);
      }
    }

    .three-w-project-list-table-container {
      width: 100%;
      padding: 48px 0;
    }
  }
}

.three-w-stats-summary {
  display: flex;

  .summary-element {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .summary-element-value {
      display: flex;
      font-size: 36px;

      .summary-element-value-suffix {
        color: $primary-color;
      }
    }

    .summary-element-label {
      text-align: center;
    }
  }
}

.three-w-stats-sector-activity {
  .sector-activity-heading {
    text-align: center;
    padding: 6px;
    margin: 0;
    text-transform: uppercase;
  }

  .sector-activity-content {
    display: flex;
    align-items: center;

    .sector-activity-donut-chart {
      align-self: stretch;
      width: 200px;
      height: 200px;
    }

    .sector-activity-legend {
      flex-grow: 1;

      .sector-activity-legend-item {
        display: flex;
        align-items: center;

        .legend-item-block {
          width: 14px;
          height: 14px;
          margin: 0 10px;
        }
      }
    }
  }
}

.three-w-stats-status-overview {
  .status-overview-heading {
    text-align: center;
    padding: 6px;
    margin: 0;
    text-transform: uppercase;
  }

  .status-overview-bar-chart {
    width: 100%;
    height: 200px;
  }

  .status-bar-chart-labels {
    padding: 0 32px;
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
  }
}

.three-w-project-list-table {
  width: 100%;

  th {
    padding: 16px 10px;
    text-align: left;
  }

  td {
    padding: 10px;
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: #eee;
      }
    }
  }
}

.three-w-map-district-detail-popover {
  padding: 10px;
  width: 340px;
  max-height: 240px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
  border-radius: 5px;

  .detail-popover-title {
    margin: 0;
    padding: 6px;
    flex-shrink: 0;
    color: $primary-color;
  }

  .detail-popover-content {
    flex-grow: 1;
    overflow: auto;

    .popover-project-detail {
      padding: 6px 0px;

      .popover-project-detail-heading {
        font-weight: bold;
        padding: 6px;
      }

      .popover-project-detail-element {
        display: flex;

        .popover-project-detail-element-label {
          padding: 0 6px;
          color: rgba(0, 0, 0, .6);
        }

        .popover-project-detail-element-value {
          padding: 0 6px;
          color: rgba(0, 0, 0, .9);
        }
      }

      .popover-project-detail-last-updated {
        font-size: 10px;
        color: rgba(0, 0, 0, .3);
        margin-bottom: -6px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
      }
    }
  }
}

.three-w-region-progress-bar {
  height: 15px;
  border: 1px solid rgba(0, 0, 0, .1);

  .three-w-region-progress-bar-progress {
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
  }
}

.three-w-region-district {
  padding: 10px 0;
}

.three-w-region-scale {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding: 6px 0;
}

.project-form-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  background-color: #fff;
  overflow: auto;

  >header {
    display: flex;
    align-items: center;

    >h2 {
      margin: 0;
      padding: 24px;
    }
  }

}

.project-form {
  .multi-input-section {
    .section-content {
      display: flex;
    }
  }

  .project-form-select {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    flex-grow: 1;

    .tc-select-label {
      padding: 0;
      font-size: 12px;
    }

    .tc-select-input {
      width: 100%;
      padding: 0;
    }
  }

  .budget-input-container {
    display: flex;
  }

  > footer {
    padding: 24px;

    .three-w-hidden-submit-button {
      display: none;
    }
  }
}

.project-form-input-section {
  display: flex;
  align-items: center;
  padding: 0 24px;

  &:nth-child(odd) {
    background-color: #f5f5f5;
  }

  .section-title {
    flex-basis: 30%;
    font-weight: bold;
    flex-shrink: 0;
  }

  .section-content {
    flex-grow: 1;
  }
}


// ---------------------------
// Country overview and components
// ---------------------------
.country-overview {
  // background-color: #fff;
  // box-shadow: 0 0 3px -1px rgba(0, 0, 0, .3);

  .top-section {
    display: flex;
    border: 1px solid rgba(0, 0, 0, .1);
    flex-wrap: wrap;

    .key-indicators {
      flex-basis: 50%;
    }

    .ns-indicators {
      flex-basis: 50%;
    }

    .tc-data-source {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      justify-content: center;
      font-size: 11px;
      color: rgba(0, 0, 0, .3);
      font-weight: bold;
      padding: 10px 0;
      
      .tc-label {
        padding: 3px;
      }

      .tc-value {
        padding: 3px;
      }
    }
  }

  .population-and-climate-section {
    display: flex;

    .population-map {
      flex-basis: 45%;
    }

    .climate-chart {
      flex-basis: 55%;
    }
  }

  .middle-section {
    border: 1px solid rgba(0, 0, 0, .1);
    display: flex;

    .social-events {
      flex-basis: calc(100% / 3);
    }

    .past-crises-events {
      flex-basis: calc(100% / 3);
    }

    .past-epidemics {
      flex-basis: calc(100% / 3);
    }
  }
}

.key-indicator-text-output {
  display: table-row;

  .tc-label {
    display: table-cell;
    padding: 5px 10px;
  }

  .tc-value {
    display: table-cell;
    padding: 5px 10px;
    font-weight: bold;
  }
}

%tc-block {
  padding: 16px 16px;

  >.tc-heading {
    padding: 16px 10px;
    margin: 0;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }

  .tc-heading {
    text-transform: uppercase;
  }

  >.tc-content {
    padding: 10px 0;
  }
}

.overview-key-indicators {
  @extend %tc-block;

  .tc-content {
    display: flex;

    .tc-left {
      flex-basis: 50%;
    }

    .tc-right {
      flex-basis: 50%;
    }
  }
}

.overview-ns-indicators {
  @extend %tc-block;
}

.overview-social-events {
  @extend %tc-block;

  .tc-content {
    max-height: 160px;
    overflow: auto;
  }
}

.overview-past-crises-events {
  @extend %tc-block;

  .tc-content {
    max-height: 160px;
    overflow: auto;
  }
}

.overview-past-epidemics {
  @extend %tc-block;

  .tc-content {
    max-height: 160px;
    overflow: auto;
  }
}

.overview-population-map {
  @extend %tc-block;
  display: flex;
  flex-direction: column;

  .tc-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .overview-map-container {
      flex-grow: 1;
    }
  }
}

.overview-past-operations {
  @extend %tc-block;

  .tc-content {
    margin: 12px 0;
    height: 300px;
  }

  .past-operations-filter {
    .chart-mode-input {
      padding: 12px 0;

      .chart-mode-button {
        &:not(:last-child) {
          border-right: 1px solid rgba(0, 0, 0, .3);
        }
      }
    }
  }
}

.event-detail-element {
  display: flex;
  align-items: baseline;
  padding: 0 10px;

  .tc-value {
    padding: 2px 6px;
    font-weight: bold;
  }

  .tc-label {
    padding: 2px 6px;
  }
}

.event-detail-tooltip {
    background-color: #fff;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .3);
    padding: 10px 0;

    .basic-detail {
      display: flex;
      align-items: baseline;
      padding: 0 10px;
      font-size: 18px;
      font-weight: bold;
      color: $primary-color;

      .event-country-name {
        padding: 4px 6px;
      }

      .separator {
        padding: 4px 6px;
      }

      .disaster-title {
        padding: 4px 6px;
      }
    }

    .event-start-date {
      padding: 0 16px;
    }

    .other-details {
      padding: 6px 0;
    }
}

.tc-segment-button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: rgba(0, 0, 0, .5);
  padding: 2px 10px;
  outline: none;

  &:hover {
    color: rgba(0, 0, 0, .8);
  }

  &.tc-active {
    color: $primary-color;
  }
}

.country-climate-chart {
  @extend %tc-block;

  >.tc-content {
    display: flex;
    align-items: flex-start;

    .tc-charts {
      flex-basis: 70%;
      .precipitation-chart,
      .temperature-chart {
        height: 200px;
      }
    }

    .tc-key-info {
      flex-basis: 30%;
      padding: 14px 10px;
      border: 1px solid rgba(0, 0, 0, .06);

      .tc-heading {
        padding: 4px 10px;
        text-align: center;
      }

      .tc-content {
        .climate-key-event {
          display: table-row;

          .tc-label {
            display: table-cell;
            padding: 4px 10px;
          }

          .tc-value {
            display: table-cell;
            font-weight: bold;
            padding: 4px 10px;
          }
        }
      }
    }
  }
}

.country-seasonal-calendar {
  @extend %tc-block;

  >.tc-content {
    .calendar-chart {
      display: table;
      width: 100%;

      .calendar-chart-row {
        display: table-row;

        .calendar-chart-sector-cell {
          display: table-cell;
          border-right: 1px solid rgba(0, 0, 0, .1);
          vertical-align: middle;
          text-align: right;
          padding: 2px 6px;
        }

        .calendar-chart-title-list-cell {
          width: 88%;
          display: table-cell;

          .calendar-chart-title-list {
            width: 100%;

            .calendar-chart-title {
              float: left;
              flex-shrink: 0;
              background-color: #eee;
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 6px;
              margin: 2px;
              overflow: hidden;
            }

            .calendar-chart-month-title {
              border-top: 1px solid rgba(0, 0, 0, .1);

              flex-shrink: 0;
              flex-basis: calc(100% / 12);
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          .calendar-chart-month-title-list {
            display: flex;

            .calendar-chart-month-title {
              border-top: 1px solid rgba(0, 0, 0, .1);

              flex-shrink: 0;
              flex-basis: calc(100% / 12);
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }

        .calendar-bubble-chart {
          height: 80px;
        }
      }
    }
  }
}

.country-inform-indicators {
  @extend %tc-block;

  >.tc-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 900px;

    .inform-indicator-element {
      min-width: 400px;
      flex-basis: calc(100% / 3);
      padding: 10px 0;

      >.tc-heading {
        padding: 16px 10px;
      }

      >.tc-content {
        height: 400px;
      }

      &.inform-indicator-hazard-and-exposure {
        order: 3;

        >.tc-content {
          height: 692px;
        }
      }

      &.inform-indicator-vulnerability {
        order: 2;

        >.tc-content {
          height: 400px;
        }
      }

      &.inform-indicator-lack-of-coping-capacity {
        order: 1;

        >.tc-content {
          height: 200px;
        }
      }
    }
  }
}
