.tab {
    border: 0;
    border-radius: 0;
    padding: var(--go-ui-spacing-md) calc(var(--go-ui-spacing-md)*3);
    color: var(--go-ui-color-black);
    font-weight: var(--go-ui-font-weight-semibold);

    &.disabled {
        pointer-events: none;
    }

    &.primary {
        position: relative;
        background-color: var(--go-ui-color-background);

        .active-border {
            position: absolute;
            bottom: 0;
            left: calc(var(--go-ui-spacing-md)*0.5);
            background-color: var(--go-ui-color-primary-red);
            width: calc(100% - var(--go-ui-spacing-md));
            height: var(--go-ui-spacing-px);
            animation: grow-h var(--go-ui-duration-animation-fast) ease-in;
        }

        &.active {
            background-color: var(--go-ui-color-primary-white);
            color: var(--go-ui-color-primary-red);
        }

        &.disabled {
            color: var(--go-ui-color-gray-30);

            .active-border {
                background-color: var(--go-ui-color-gray-20);
            }
        }
    }

    &.secondary {
        border-radius: calc(1em + var(--go-ui-spacing-md));
        background-color: var(--go-ui-color-background);
        text-transform: uppercase;

        &.active {
            background-color: var(--go-ui-color-primary-red);
            color: var(--go-ui-color-white);

        }

        &.disabled {
            color: var(--go-ui-color-gray-30);
        }

    }

    &.step {
        position: relative;
        transition: var(--go-ui-duration-transition-medium) color, background-color ease-in-out;
        padding: var(--go-ui-spacing-md);
        text-transform: uppercase;
        color: var(--go-ui-color-gray-60);

        &:hover {
            color: var(--go-ui-color-black);
        }

        &.active {
            color: var(--go-ui-color-primary-red);
        }

        &.disabled {
            color: var(--go-ui-color-gray-30);
        }
    }

    &.errored {
        position: relative;

        .error-icon {
            position: absolute;
            transform: translate(-100%, -100%);
            border-radius: 50%;
            background-color: var(--go-ui-color-negative);
            width: .75em;
            height: .75em;
            color: var(--go-ui-color-negative);
        }
    }
}

.primary-tab-wrapper {
    border: var(--go-ui-spacing-px) solid transparent;
    border-bottom-color: var(--go-ui-color-gray-30);
    padding: 0 calc(var(--go-ui-spacing-md)*0.5);

    &.active {
        border-color: var(--go-ui-color-gray-30);
        border-bottom-color: transparent;
    }
}

@keyframes grow-h {
    from { transform: scaleX(0); }
    to { transform: scaleX(100%); }
}

.step-tab-wrapper {
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-start;

    .step-circle {
        transition: var(--go-ui-duration-transition-slow) border-color ease-in-out;
        border: calc(var(--go-ui-spacing-px)*2) solid transparent;
        border-radius: 50%;
        background-color: var(--go-ui-color-background);
        padding: calc(var(--go-ui-spacing-px)* 4);

        .inner-circle {
            display: flex;
            align-items: center;
            justify-content: center;
            transition: var(--go-ui-duration-transition-slow) background-color ease-in-out;
            border-radius: 50%;
            background-color: var(--go-ui-color-gray-60);
            width: 1rem;
            height: 1rem;

            .icon {
                padding: 0.1em;
                color: var(--go-ui-color-white);
            }
        }
    }

    &.completed {
        .step-circle {
            .inner-circle {
                background-color: var(--go-ui-color-gray-60);
            }
        }
    }

    &.active {
        .step-circle {
            border-color: var(--go-ui-color-primary-red);

            .inner-circle {
                background-color: var(--go-ui-color-primary-red);
            }
        }
    }

    &.disabled {
        .step-circle {
            opacity: var(--go-ui-opacity-5);
            filter: saturate(50%);
        }
    }
}
