@import '~styles/settings/variables';

.early-action-table-container {
  overflow-x: auto;

  .container-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $spacing*0.5 0;
  }

  .filters {
    display: flex;
    gap: $spacing*2;

    .filter-input {
      width: 14rem;
    }
  }

  .link {
    color: $primary-color;
  }

  .content {
    width: 100%;
    overflow-x: auto;

    .early-action-table {
      min-width: 100%;
      overflow: auto;
    }
  }


  .column-heading {
    display: flex;
  }

  .pager-container {
    display: flex;
    padding: $spacing;
    justify-content: flex-end;
  }
}

