@import '~styles/settings/_variables.scss';

.dref-table {
  background-color: #fafafa;
  width: 100%;

  .table-header {
    background-color: #f2f2f2;
  }

  .actions-header {
    width: 10rem;
  }

  .actions-cell {
    display: grid;
    grid-auto-flow: column;
  }

  .expanded-row {
    background-color: #fff;

    td {
      border: none;
      padding: $spacing;
    }

    .expanded-row-actions {
      span {
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        gap: $spacing * 0.5;
      }
    }
  }
}

.menu-item-button {
  padding: 3px 18px !important;

  * {
    padding: 0px 6px;
  }
}

.dref-operation-table {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  .pagination {
    align-self: flex-end;
  }
}

