@import '~styles/settings/variables';

.project-detail {
  .header {
    padding: $spacing*7*0.25;

    .header-description {
      margin: -$spacing*0.25;
    }
  }

  .people-label {
    text-transform: uppercase;
    font-weight: 500;
    color: grey;
    width: 4rem;
    padding-right: $spacing * 2;
  }

  .center {
    text-align: center;
    .relief {
      background-color: #fafafa;
      border-spacing: 232px;
    }
    .belief {
      background-color: #fafafa;
      border-spacing: 232px;
      font-weight: 500;
    }
  }

  .bold {
    font-weight: 500;
    text-align: left;
  }

  .left {
    text-align: left;
    width: 1px;
    white-space: nowrap;
  }

  .year, .grey-row {
    background-color: #fafafa;
  }

  .grey {
    background-color: #fafafa;
    width: $spacing * 16;

    .label {
      width: $spacing * 6;
    }
    .value {
      width: $spacing;
      display: flex;
      justify-content: flex-end;
    }
  }

  .padded {
    margin: 0 2rem 0 2rem;
  }

  .content {
    .row {
      display: flex;

      >* {
        flex-basis: 0;
        flex-grow: 1;
      }
    }

    .narrow {
      font-size: 6px;
    }

    .link {
      color: #f5333f;
      font-weight: 500;
    }

    .field-output {
      display: flex;
      padding: $spacing;

      .label {
        text-transform: uppercase;
        width: 10rem;
        flex-shrink: 0;
        padding: $spacing;
      }

      .value {
        font-weight: $base-font-medium;
        padding: $spacing;
      }

      .field-output {
        .label {
          width: auto;
        }
      }
    }
  }
}
